<p class="mat-h3 font--dark-grey pt6">Materials</p>
<mat-divider></mat-divider>
<mat-list dense>
    <mat-list-item>
      <div mat-line>
          <p class="mat-body-2">
           {{product?.rawMaterials.length | customPlural:'raw material variant'}}

          </p>
        </div>
      <div mat-line class="mat-caption">
        <span *ngFor="let rawMat of product?.rawMaterials ; first as isFirst">
          <span *ngIf="!isFirst">,</span>
          {{rawMat}}
        </span>
      </div>
    </mat-list-item>
    <mat-list-item>
        <div mat-line>
          <p class="mat-body-2">
            {{product?.interiorCoatings.length | customPlural:'interior coating variant'}}

          </p>
        </div>
        <div mat-line >
          <span class="mat-caption" *ngFor="let intCoat of product?.interiorCoatings ; first as isFirst">
            <span *ngIf="!isFirst">/</span>
            {{intCoat}}
          </span>
        </div>
      </mat-list-item>
</mat-list>
