
.main-header {
  width: 100%;
  padding:  0.5rem 1.5rem;
}
main {
  padding: 1rem 2rem;
}
.form__field {
  margin-bottom: 1.5rem;
  textarea {
   margin-top: 1rem;
   width: 100%; }
}
.products-container {
  max-height: 10rem;
  overflow-y: scroll;
}
.mat-h2 {
  margin: 0;
}