<header class="main-header inline--centred--spaced">
 <p class="mat-h2">Enter your request</p>
  <button (click)="close()" mat-icon-button>
          <mat-icon>close</mat-icon>
  </button>
</header>
<main>
  <form [formGroup]="requestForm">
    <div class="form__field">
      <header class="inline--centred--spaced" i18n>
        <p class="inline--centred">
          <mat-icon class="mr2">subject</mat-icon>
          Subjects
          <span class="ml2 mat-caption font--grey">(2 selected)</span>
        </p>
        <button (click)="toggle()" mat-icon-button>
          <mat-icon>
            expand_less
          </mat-icon>
        </button>
      </header>
      <mat-divider></mat-divider>
      <mat-selection-list  *ngIf="isSubjectsContainerOpen" class="subjects-container" name="subjects" formControlName="subjects" id="subjects">
        <mat-list-option [value]="item.id" *ngFor="let item of subjects$ | async">
          <div mat-line>
            {{item.designation}}
          </div>
        </mat-list-option>
      </mat-selection-list>
  </div>
  <div class="form__field">
    <header class="inline--centred--spaced" i18n>
      <p class="inline--centred">
        <mat-icon class="mr2">favorite</mat-icon>
        Attach products from your favorites
      <span class="ml2 mat-caption font--grey">(2 selected)</span>
    </p>
      <button (click)="toggle()" mat-icon-button>
        <mat-icon>
          expand_less
        </mat-icon>
      </button>
    </header>
    <mat-divider></mat-divider>
    <mat-selection-list  *ngIf="!isSubjectsContainerOpen" class="products-container" name="related_products" formControlName="related_products" id="related_products">
      <mat-list-option [value]="item.id" *ngFor="let item of forListProducts$ | async">
        <img matListAvatar [src]="item.appearanceVariants">
        <div mat-line>
          {{item.designation}}
        </div>
      </mat-list-option>
    </mat-selection-list>
</div>
  <div class="form__field">
    <header class="inline--centred--spaced" i18n>
      <p>Message</p>
    </header>
    <textarea rows=5 placeholder="Tape your message" name="text_content" formControlName="text_content" id="text_content">
      </textarea>
</div>
<button mat-flat-button class="form__submit-button" color="primary"><span>Send request</span></button>
  </form>
</main>
