@import "src/styles.scss";
section
{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
p {
  text-transform: capitalize;

  
}
p:hover {
  cursor: pointer;
  text-decoration: underline;
}



:host(.caption-style) {
  p  {
    color : $color-text-grey;
  }
  

}
