<section class="breadcrumb">
        <ng-container *ngFor="let item of items.reverse(); last as isLast ; first as isFirst">
            <p  *ngIf="!isFirst"  mdcBody2 [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: item}" queryParamsHandling="merge" >
                {{item | lowercase}}
            </p> 
            <p *ngIf="isFirst" mdcBody2 [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: ''}" queryParamsHandling="merge" >
                {{item | titlecase}}
            </p> 
            <mdc-icon *ngIf="!isLast">chevron_right</mdc-icon>   
        </ng-container>
    </section>
    