<section class="breadcrumb">
        <ng-container *ngFor="let item of items.reverse(); last as isLast ; first as isFirst">
            <p class="mat-body" *ngIf="!isFirst"  [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: item}" queryParamsHandling="merge" >
                {{item | lowercase}}
            </p> 
            <p class="mat-body" *ngIf="isFirst" [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: ''}" queryParamsHandling="merge" >
                {{item | titlecase}}
            </p> 
            <mat-icon inline="true" *ngIf="!isLast">chevron_right</mat-icon>   
        </ng-container>
    </section>
    