@import "src/styles.scss";
section
{
    display: flex;
    align-items: center;

}
p {
  text-transform: capitalize;
  
}
p:hover {
  cursor: pointer;
  text-decoration: underline;
}
:host(.body-style) {
  p {
    font-weight: 500;
    font-size: 1rem;
  }

}


:host(.caption-style) {
  p, mdc-icon {
    color : $color-text-grey;
    font-size: 0.875rem;
  }
  

}
