<header mat-dialog-title >
    <div  class="column" >
        <div class="inline--centred">
            <img class="thumbNail" [src]="selectedAppearanceVariant.thumbNail| mergeSizeQs:200">

            <h3 class="mat-h3">{{product.designation | titlecase}}
            </h3>

        </div>
        <span class="mat-caption font--dark-grey">
            {{selectedAppearanceVariant.look.texture| titlecase}}
            {{selectedAppearanceVariant.look.material| titlecase}}</span>
    </div>
    <p class="mat-body-2">Total : 365 USD</p>

</header>
<main mat-dialog-content>
    <ul>
        <p class="mat-body-1 font--dark-grey">Set quantity for desired dimension variation</p>

        <li class="my2 py1 inline--centred" *ngFor="let variant of product.dimensionVariants">
            <div class="column">
                <div class="text mat-body-2">{{variant.designation}}</div>
                <div class="text font--dark-grey mat-caption">{{getDimensionString(variant)}}</div>
            </div>
            <app-counter mat-list-avatar></app-counter>
        </li>
    </ul>
    <!-- <app-product-dimensions
    (variantQuantities)="updateQuart($event)"
    mode="quart"
    *ngIf="product.dimensionVariants.length > 0"
    [dimensionVariants]="product.dimensionVariants">
    </app-product-dimensions> -->
<!-- <mat-accordion>
    <mat-expansion-panel *ngFor="let appearanceVariant of product.appearanceVariants">
        <mat-expansion-panel-header >
        <mat-panel-title class="inline--centred">
            <img [src]="appearanceVariant.thumbNail | mergeSizeQs:100" class="thumbNail">
            <span class="mat-caption">{{appearanceVariant?.look.texture +' '+ appearanceVariant.look.material}}</span>

          </mat-panel-title>
          <mat-panel-description class="inline--centred">
              x {{getQuantities(appearanceVariant)}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p class="mat-caption">Set quantity for each desired dimension</p>
        <app-product-dimensions
        (variantQuantities)="updateQuart($event,appearanceVariant)"
        mode="quart"
        *ngIf="product.dimensionVariants.length > 0"
        [dimensionVariants]="product.dimensionVariants">
        </app-product-dimensions>
        <form>

        </form>
    </mat-expansion-panel>
</mat-accordion> -->
</main>

<div mat-dialog-actions class="inline--centred--spaced">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" type="submit" (click)="confirm()" cdkFocusInitial>ADD TO QUART</button>
</div>