.thumbNail {
    width: auto;
    height: 4rem;
    border-radius: 4rem;
}
.mat-h1 {
    margin: 0;
}
.quart-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
}

.mat-expansion-panel-header {
    height: 5rem;
}