<header mat-dialog-title >
    <div class="inline--centred--spaced">
        <div>
            <h1 class="mat-h1">PRODUCT QUART
            </h1>
            <span class="mat-body-1 font--dark-grey">{{product.designation | titlecase}}</span>
        </div>
        <mat-icon class="quart-icon">
            shopping_cart
        </mat-icon>
    </div>

</header>
<main mat-dialog-content>
    <p class="mat-body-2">Select a Look</p>
<mat-accordion>
    <mat-expansion-panel *ngFor="let appearanceVariant of product.appearanceVariants">
        <mat-expansion-panel-header >
        <mat-panel-title class="inline--centred">
            <img [src]="appearanceVariant.thumbNail | mergeSizeQs:100" class="thumbNail">
            {{appearanceVariant?.look.texture +' '+ appearanceVariant.look.material}}

          </mat-panel-title>
          <mat-panel-description class="inline--centred">
              x 21
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>Set quantity for each desired dimension</p>
        <app-product-dimensions
        mode="quart"
        *ngIf="product.dimensionsSpecifications.length > 0"
        [productDimensions]="product.dimensionsSpecifications">
        </app-product-dimensions>
        <form>

        </form>
    </mat-expansion-panel>
</mat-accordion>
</main>

<div mat-dialog-actions class="inline--centred--spaced">
    <button mat-button mat-dialog-close>CANCEL</button>
    <button mat-button color="primary" type="submit" (click)="confirm()" cdkFocusInitial>CONFIRM</button>
</div>