.thumbNail {
    max-width: 6rem;
}
.mat-h3 {
    margin: 0;
}
.quart-icon {
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    margin-left: auto;
}

.mat-expansion-panel-header {
    height: 5rem;
}
app-counter {
    margin-left: auto;
}
ul {
    li {
        border-bottom: 1px solid whitesmoke;
    }
    padding-inline-start: 0px;
}
.text {
    text-overflow: ellipsis;
}