<!-- <header class="global--gutters main-header">
  <p i18n class="mat-h2">Welcome {{(profile$ | async)?.first_name}} </p>
  <p class="mat-body-1">{{(profile$ | async)?.email}} </p>
</header>
<mat-tab-group mat-stretch-tabs class="tab-group" color="primary">
    <mat-tab>
        <ng-template  mat-tab-label>
          <div class="inline--centred">
            <mat-icon class="mr4">account_circle</mat-icon>
            <p class="mat-h3" i18n>PROFILE</p>
          </div>
          </ng-template>
          <div class="m4">

        <app-edit-profile></app-edit-profile>
        </div>
    </mat-tab>
    <mat-tab class="tab-group__element" i18n-label label="Message">
        <ng-template mat-tab-label>
            <div class="inline--centred">
              <mat-icon class="mr4" >message</mat-icon>
              <p class="mat-h3" i18n>REQUESTS</p>
            </div>
            </ng-template>
        <ng-template matTabContent>
        <div class="m4">
        </div>
      </ng-template>
      </mat-tab>
  </mat-tab-group>
<main class="container--large-screen">
  <section class="profile-container">
    <p i18n class="mat-h1">
      Profile Informations
    </p>
    <app-edit-profile ></app-edit-profile>
  </section>
  <section class="message-container">
    <p i18n class="mat-h1">
      Your Requests
    </p>
  </section>

</main> -->
