<div class="content--list" *ngIf="mode == 'list' || mode=='listWithBread'">

<img  (load)="onImageLoad($event)" 
       [style.display]="isLoading ? 'none' : 'block'"   
        (click)="navigateTo(product.pk)"
       [src] ="product.thumbNail.content">
<section class="content-text">
   <div>
           <app-category-breadcrumb mdcCaption 
                                    *ngIf="mode=='listWithBread'" 
                                    [currentProduct]="product.rootCategory" 
                                    class="caption-style">
            </app-category-breadcrumb>
       <p mdcSubtitle1>{{product.designation}}</p>
       <p mdcCaption>{{product.exteriorMaterial.designation}}  <span>- {{product.interiorMaterial.designation}}</span>
       </p>
   </div>

<mdc-icon [svgIcon]="product.collection?.svgIcon.designation">
</mdc-icon>

</section>
</div>

<div class="content--grid" *ngIf="mode == 'grid'">
        <section class="content-information">
                <mdc-icon class="content__collection-icon" *ngIf="product.collection?.svgIcon" [svgIcon]="product.collection?.svgIcon.designation">
                    </mdc-icon>
           <div class="content-information__text">
               <p mdcHeadline6>{{product.designation}}</p>
               <p class="text--grey" mdcBody2>{{product.exteriorMaterial.designation}}  <span>- {{product.interiorMaterial.designation}}</span>
               </p>
           </div>
        

        
        </section>

        <img  
        (load)="onImageLoad($event)" 
        [style.display]="isLoading ? 'none' : 'block'" 
        (click)="navigateTo(product.pk)"
        [src] ="product.thumbNail.content">
        <section class="action-container"> 
            <button appFavoriteHandler 
                    [productId]="product.pk"
                    class="favorites" mdc-button>
                    <mdc-icon  >favorite</mdc-icon>
                    Like
            </button>
            <button mdc-button>
                    <mdc-icon>message</mdc-icon>
                    Ask
            </button>
        </section>
        </div>
        
