@import "src/styles.scss";


.content--list {
    display: flex;
    padding : 1rem 1rem 1rem 0 ;
    border-bottom: solid 0.5px $color-deep-grey;
    img {
        width: 25%;
        max-width: 6rem;
        margin-right: 1.5rem;
    }
    .content-text {
        display: flex;
        justify-content: space-between;
        flex : 1 1 auto;
        mdc-icon {
            width: 2rem;
            align-self: flex-start;
    
        }
    }

}


.content--grid {
    display: flex;
    flex-direction: column;
    img {
        width: 100%;    
    }
    .content-information {
        margin: 1rem;
        display: flex;
        div {
            .text--grey {
                color: $color-text-grey;
            }
        }
        mdc-icon {
            width: 2rem;
            margin-right: 1rem;
    
        }
    }
    .action-container {
        display: flex;
        align-self: flex-start;
        padding: 1.5rem 1rem;
        button {
            margin-right: 0.5rem;
            @include mdc-button-ink-color($color-text-grey);
        }

    }


}
.favorites {
    color: yellow;
}