@import "src/styles.scss";


h3 {
    margin-bottom: 0.25rem;
}
img {
    max-width: 100%;
    width: 100%;
}
.loading-placeholder {
    width: 100%;
    background-color: grey;
}
.breadcrumb {
    margin-bottom: 0.25rem;
}
.content--grid {
    display: flex;
    flex-direction: column;
    #remove-fav {
        margin: 0.5rem;
        float: right;
    }
    .content__thumbnail {
        width: 100%;
    }
    .content-information {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
    }
    .action-container {
        width: 100%;
        display: flex;
        align-self: flex-start;
        padding: 0.5rem 0;
        button {
            color : $grey-color;
        }
    }
}
mat-icon {
    margin-right: 0.5rem;
}