@import "src/styles.scss";

.breadcrumb-container {
    background-color: $extreme-light-grey-color;
}

.loading-placeholder {
    width: 100%;
    background-color: grey;
}
.content--grid {
    display: flex;
    background-color: white;
    flex-direction: column;
    .content__thumbnail {
        width: 100%;
        max-width: 100%;
    }
    .content-information {
        margin: 1rem;
        display: flex;
        justify-content: space-between;
    }
}
.mat-icon--full-right {
    margin-left: auto;
}
.mat-h4 {
    margin: 0 0 0;
}