<div [appTextHightlight]="searchTerm | async" class=" mat-elevation-z2 content--list" *ngIf="mode == 'list'">
<div class='content__thumbnail'>

<img   (load)="onImageLoad($event)" 
       [style.display]="isLoading ? 'none' : 'block'"   
        (click)="navigateTo(product.pk)"
       [src] ="product.thumbNail.content">
       
<div  class="loading-placeholder" *ngIf="isLoading"></div>
</div>

<section class="content-text">
   <div>
           <app-category-breadcrumb    
                                    *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" 
                                    [currentProduct]="product.rootCategory" 
                                    class="caption-style">
            </app-category-breadcrumb>
       <p class="mat-body-strong">{{product.designation}}</p>
       <p class="mat-caption">{{product.exteriorMaterial.designation}}  <span>- {{product.interiorMaterial.designation}}</span>
       </p>
   </div>

</section>
<div *ngIf="(isFavoriteRoute |async)" class="action-container">
        <button (click)="removeFavorite(product.pk)" mat-icon-button>
        <mat-icon >close</mat-icon>
       </button>
    </div>
</div>

<div [appTextHightlight]="searchTerm | async" class=" mat-elevation-z2 content--grid" *ngIf="mode == 'grid'">
        <section class="content-information">
           <div class="content-information__text">
                <app-category-breadcrumb    
                                    *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" 
                                    [currentProduct]="product.rootCategory" 
                                    class="caption-style">
               </app-category-breadcrumb>  
               <p class="mat-subheading-2">{{product.designation}}</p>
               <p class="mat-body-1">{{product.exteriorMaterial.designation}}  <span>- {{product.interiorMaterial.designation}}</span>
               </p>
           </div>
        

        
        </section>
        <div class='content__thumbnail'>
        <img  
        (load)="onImageLoad($event)" 
        [style.display]="isLoading ? 'none' : 'block'" 
        (click)="navigateTo(product.pk)"
        [src] ="product.thumbNail.content">
        </div>


        <section class="action-container"> 
            <button  [appFavoriteHandler]="product.pk"
                    class="favorites"
                    mat-button>
                    <mat-icon>favorite</mat-icon>
                    Like
            </button>
            <button mat-button>
                    <mat-icon >message</mat-icon>
                    Ask
            </button>
        </section>
        </div>
        
        <app-loading class="center" *ngIf="isFetching"></app-loading>