
<div [appTextHightlight]="searchTerm | async" class=" mat-elevation-z2 content--grid">
        <section>
                        <button id="remove-fav" *ngIf="(isFavoriteRoute |async)" (click)="removeFavorite(product.pk)" mat-icon-button>
                                        <mat-icon >close</mat-icon>
                                </button>
        </section>

                <mat-divider *ngIf="(isFavoriteRoute |async)"></mat-divider>
        <section class="content-information">
           <div class="content-information__text">
                <div class="breadcrumb" *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)">
                <app-category-breadcrumb    
                                    [currentProduct]="product.rootCategory" 
                                    class="caption-style">
               </app-category-breadcrumb>  
                </div>
               <h3>{{product.designation}}</h3>
               <p class="mat-caption text--grey">{{product.exteriorMaterial.designation}}  <span>- {{product.interiorMaterial.designation}}</span></p>

           </div>
        

        
        </section>
        <div class='content__thumbnail'>
        <img  
        (load)="onImageLoad($event)" 
        [style.display]="isLoading ? 'none' : 'block'" 
        (click)="navigateTo(product.pk)"
        [src] ="product.thumbNail.content">
        </div>
       

        <section class="action-container"> 
            <button *ngIf="!(isFavoriteRoute |async)" [appFavoriteHandler]="product.pk"
                    class="favorites"

                    mat-button>
                    <mat-icon>favorite</mat-icon>
                    <span i18n>Like</span>
            </button>
            <button mat-button>
                    <mat-icon i18n>message</mat-icon>
                <span>Ask</span>
            </button>
        </section>
        </div>
        
        <app-loading class="center" *ngIf="isFetching"></app-loading>