@import "src/styles.scss";

:host {
    width: 100%;
    color: $color-text-grey;


}

div {
    display: flex;
    align-items: center;
    background-color: white;
    justify-content: center;
    span{
        margin-right: 2.5rem;
    }

}
