<nav class='nav-bar font--dark-grey global--gutters menu--shared-style'>
      <button mat-icon-button class="nav-bar__left-content mr2">
        <mat-icon (click)="toggleModal('sideMenuBox')">menu</mat-icon>
      </button>


      <mat-icon
      [routerLink]="['/miscellaneous/home/']"
      class="nav-bar__logo"
      inline="true"
      svgIcon="logo_mini">
     </mat-icon>


     <div class="mat-h3 inline--centred nav-tabs__tab">

        <app-category-menu></app-category-menu>
        <a mat-button i18n>
         Utility
        </a>
        <a fragment="about-us" [routerLink]="['/miscellaneous/home']" mat-button i18n>
         About us
        </a>
        <a fragment="contact-us" [routerLink]="['/miscellaneous/home']" mat-button i18n>
         Contact us
        </a>
     </div>
     <span class="space-divider"></span>
     <div class="nav-bar__tools">
        <button mat-icon-button  (click)="toggleModal('searchBox')">
            <mat-icon>search</mat-icon>
        </button>

        <button mat-icon-button   (click)="openCardDialog()" id="account-icon">
            <mat-icon>person</mat-icon>
        </button>
        <button id="favorite-icon" [routerLink]="['product/favorites']"     class="mx1" mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
        </button>
            <app-language-box>
            </app-language-box>

    </div>
  </nav>




