@import "src/styles.scss";

p {
  cursor: pointer;
}

.nav-tabs__tab {
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 1rem;
  a,app-category-menu {
    margin: 0 1rem;
  }
  @media only screen and (max-width:1024px) {
    display: none;
  }
}

.nav-bar__logo {
  max-width: 9rem;
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
    #favorite-icon {
      display: none;
    }

      @media only screen and (max-width:1024px) {
        #account-icon {
          display: none;
        }
        #favorite-icon {
          display: inline-block;
        }
        app-language-box {
          display: none;

        }

    }
}



.nav-bar__left-content {
  display: none;
}
@media only screen and (max-width:1024px) {
  .space-divider {
    display: none;
  }
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__left-content
        {
            display: flex;
            align-items: center;
            order: 1;
        }
        .nav-bar__tools {
          order:3

        }
        .nav-bar__logo {
          order:2

        }
      }
