
<nav class='nav-bar font--dark-grey global--gutters menu--shared-style'>
      <button mat-icon-button class="nav-bar__left-content mr2">
        <mat-icon (click)="toggleSideNav()">menu</mat-icon>
      </button>


      <span
      [routerLink]="['/miscellaneous/home/']"
      class="nav-bar__logo">
      SMC
     </span>


     <div class="mat-h3 inline--centred nav-tabs__tab">

        <app-category-menu></app-category-menu>
        <a fragment="about-us" [routerLink]="['/miscellaneous/home']" mat-button i18n>
         About us
        </a>
        <a fragment="contact-us" [routerLink]="['/miscellaneous/home']" mat-button i18n>
         Contact us
        </a>
     </div>
     <span class="space-divider"></span>
     <div class="nav-bar__tools">
        <button mat-icon-button  (click)="openSearchDialog()">
            <mat-icon>search</mat-icon>
        </button>

        <button  mat-icon-button   (click)="openCardDialog()" id="account-icon">
            <mat-icon class="material-icons-outlined">person</mat-icon>
        </button>
        <button id="favorite-icon" [routerLink]="['product/favorites']"     class="mx1" mat-icon-button>
            <mat-icon>favorite_border</mat-icon>
        </button>
        <!-- <app-language-box>
        </app-language-box> -->
        <button class="inline" (click)="openLocalDialog()" mat-button>
            <mat-icon class="mr2" [svgIcon]="(language$ |async)?.languageType"></mat-icon>
            <span class="mat-caption">France | EUR</span>
          </button>

    </div>
  </nav>




