@import "src/styles.scss";

p {
  cursor: pointer;
}

.nav-tabs__tab {
  justify-content: space-between;
  margin-bottom: 0;
  a,app-category-menu {
    margin: 0 1.5rem;
  }
  @media only screen and (max-width:1024px) { 
    display: none;
  }
}

.nav-bar__logo {
  width: 4rem;
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
    #account-icon {
      @media only screen and (max-width:1024px) { 
        display: none;
      }
    }
}

.menu__sub-menu {
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: ease  0.3s ;
    position: absolute;
    top: 5.12rem;
}

.search-container {
  @media only screen and (max-width:1024px) {
    padding : 2rem 2rem;
    width : 80%;
  }
  @media only screen and (max-width:640px) {
    padding : 1rem 1rem;
    width : 90%;
  }
  @media only screen and (max-width:480px) {
    padding : 1rem 0.5rem;
    width : 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);
  }
}
.spacer {
  flex :  1 1 auto;
}
#main {
    transition: 0.3s;
}
.nav-bar__menu-icon {
    display: none;
}
    @media only screen and (max-width:1024px) {
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
        }
         .nav-bar__tools
         {
            .language-panel {
                display: none;

              }
        }
      }

.side-box {
        position: fixed;
        top:0;
        background-color: white;
        z-index: 3;
    }

.account-card {
      position: absolute;
      min-width : 240px;
      top: 4.44rem;
      right: 0.5rem;
      color: black;
      z-index: 3;
      padding: 1rem;
      background-color: white;
      border-radius: 10px;
    }
.center-box {
      position: absolute;
      top: 0%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, 0%) ;
      background-color: white;
      min-height: 60%;
      z-index: 3;
      max-width: 35rem;
  }
  .search-box {
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    margin-left: 0;
    transform: translate(0, 0) ;
    background-color: white;

  }