    <mdc-icon class="close-icon" (click)="closeMenu()">close</mdc-icon>

<mdc-icon class="logo" svgIcon="Logo_inverted"></mdc-icon>
<div class="ribon"></div>


<section>
      <p mdcHeadline6 class="title">
        <mdc-icon svgIcon="rectangle"></mdc-icon>
        PRODCUTS
      </p>
<ul>
  <li class="menu-sub__expandable">
    <p class="menu-sub-1">Categories</p>
    <mdc-icon>expand_more</mdc-icon>
    <ul>
      <li *ngFor="let cat of rootCategories">Hello</li>
    </ul>
  </li>
  <li class="menu-sub__expandable">
      <p class="menu-sub-1">Collections</p>
      <mdc-icon>expand_more</mdc-icon>
      <ul>
        <li *ngFor="let cat of rootCategories">Hello</li>
      </ul>
    </li>

  </ul>
</section>

<section>
    <p mdcHeadline6 class="title">
      <mdc-icon svgIcon="rectangle"></mdc-icon>
      COMPANY
    </p>
<ul>
<li>
  <p class="menu-sub-1">About us</p>
</li>
<li>
  <p class="menu-sub-1">Contact us</p>
</li>

</ul>
</section>

<section>
    <p class="title">
      <mdc-icon svgIcon="rectangle"></mdc-icon>
      UTILITY
    </p>
<ul>
<li>
  <p class="menu-sub-1">Mainteance tips</p>
</li>
<li>
  <p class="menu-sub-1">Copper benefits</p>
</li>
<li>
  <p class="menu-sub-1">Returns</p>
</li>
<li>
  <p class="menu-sub-1">Paiments Information</p>
</li>

</ul>
</section>

<section>
    <p mdcHeadline6 class="title">
      <mdc-icon svgIcon="rectangle"></mdc-icon>
      ACCOUNT
    </p>
<ul>
<li>
  <p class="menu-sub-1">Sign in / Register</p>
</li>
<li>
  <p class="menu-sub-1">Favorites</p>
</li>

</ul>
</section>
