@import "src/styles.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}
.close-icon {
    align-self: flex-end;
    margin: 1rem;
}
.ribon {
    background-color: black;
    height: 3rem;
    width: 100%;
    position: relative;
    bottom : 5.5rem;
    z-index: 1;
}
.logo {
    z-index: 500;
    width: 8rem;
    margin-left: auto;
    margin-right: auto;
}
section:first-child {
    border-top: solid 0.5px $color-border-grey;
  
}
.title {
    margin-left: 1.5rem;
    display: flex;
    align-items: flex-start; 
    mdc-icon {
        width : 1rem;
        margin-right:0.5rem;
    }
}
.menu-sub__expandable {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
section {
    border-bottom: solid 0.5px $color-border-grey;
    padding-top : 1rem;
}
ul {
    margin-top: 0.875rem;
    margin-bottom:  0.875rem;
        li {
            padding: 0 0.875rem 1rem 0 ;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    li:hover {
        background-color: $color-light-grey;

    }
    .menu-sub-1 {
        font-size: 1.25rem;
    }

}
