@import "src/styles.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:calc(100vw - 64px);
    max-width: 320px;
}

.card-container {
    display: flex;
    padding: 1.5rem 1rem 0.75rem 1rem;
    border-top: 12px solid $color-border-grey;
    border-bottom: 1px solid $color-border-grey;
}

section {
    display: flex;
    flex-direction: column;
    padding: 1rem 0 0.5rem 1rem;
    border-bottom: 1px solid $color-border-grey;

    li {
        padding : 0.875rem 1rem 0;
    }
}
mat-icon {
    transition: 0.3s ease;
}
