
<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
        <header class="fieldset-title">
                <p class="inline--centred mat-subheading-1">
                        <mat-icon>person</mat-icon>
                        Personal information
                    </p>
        </header>
        <div class="form__field">
          <label   for ="civility" i18n>Civility</label>
          <select name="civility" formControlName="civility" id="civility">
              <option selected value="Mr">Mr.</option>
              <option value="Mme">Mme.</option>
          </select>
      </div>
                <div class="form__field">
                    <label i18n>first name</label>
                    <input required  appControlValidatorMessage type="text" formControlName="first_name" id="first_name">
                </div>
                <div class="form__field">
                    <label i18n>last name</label>
                    <input required  appControlValidatorMessage type="text" formControlName="last_name" id="last_name">
                </div>
                <div class="form__field">
                        <label i18n>Phone Number</label>
                        <input  appControlValidatorMessage autocomplete="tel" type="tel" formControlName="phone_number" id="phone_number">
                </div>
                <div class="form__field" >
                        <label i18n>Country</label>
                        <select class="input--large-width" formControlName="country" id="country">
                          <option
                          *ngFor="let country of countryNames"
                          [value]="country.val">
                            {{country.val}}
                          </option>
                        </select>
                </div>


                <div class="my4 inline--centred">
                  <input  formControlName="is_professional" type="checkbox" id="is_professional">
                  <label class="mat-body ml4" for="is_professional">Are you a professional ?</label>
                </div>

        <section *ngIf="accountForm.get('is_professional').value">
                <header class="fieldset-title">
                        <p class="inline--centred mat-subheading-1">
                                <mat-icon>work</mat-icon>
                                Professional information
                            </p>
                </header>

                <div class="form__field" >
                        <label i18n>company name</label>
                        <input
                        autocomplete="organization"
                         appControlValidatorMessage type="text"
                        formControlName="company_name" id="company_name">
                </div>
                        <div class="form__field" >
                                <label i18n>position</label>
                                <input
                                autocomplete="organization"
                                 appControlValidatorMessage type="text"
                                autocomplete="organization-title"
                                formControlName="position" id="position">
                                <p class="form__field__hint" i18n> eg: sales manager </p>
                        </div>
                        <div class="form__field" >
                                <label i18n>activity field</label>
                                <input
                                autocomplete="activity"
                                 appControlValidatorMessage type="text"
                                autocomplete="activity"
                                formControlName="activity_field" id="activity_field">
                                <p class="form__field__hint" i18n>eg: Tourism , Restoration</p>
                        </div>
                </section>

                <button type="submit"
                         mat-raised-button
                         class="form__submit-button my4"
                         color="primary"
                         i18n primary>
                <span>
                        Save changes
                </span>
                </button>
  </form>

