@import "src/styles.scss";
:host,header {
    @extend .column--center;
}
form {
    width: 50%;
    min-width: 24rem;
    @extend .column;
}
section {
    display: flex;
    flex-direction: column;
}
mat-form-field {
    width: 100%;
}

button {
    span {
        color: white;
    }
    align-self: center;
    margin-top: 1.5rem;
    min-width: 15rem;
  }