@import "src/styles.scss";



.form__non-field-error {
    color: red;
    margin-top: 1rem;
}


form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 2rem 0 ;

    @media only screen and (max-width:960px) {
        flex-direction: column;
        align-items: center;
    }
}



.form__submit-button {
    margin: 1rem 0;
    width : 100%;
    height: 3rem;

}
.form__submit-button:disabled {
    border: solid 1px $color-deep-grey;
    background-color: $color-light-grey;
}

.form__field ,.switch--space-between {
    margin-bottom: 1rem;
}
.form-group {
    width: 22rem;
    @media only screen and (max-width:960px) {
        width: 100%;

    }

}

.block-divider {
    flex : 1 1 auto;
}


.form-group__header {
    margin-bottom: 1.5rem;
}

.slide-toggle--margin-8 {
    margin-bottom: 1rem;
}
