@import "src/styles.scss";
:host,header {
    @extend .column--centred;
}
form {
  max-width: 540px;
  width: 100%;
}
.input--large-width {
   height: 2.5rem;
   width: 100%;
}
section.inline--centred--spaced {
  align-self: flex-start;
}
