@import "src/styles.scss";
:host,header {
    @extend .column--centred;
}
form {
    width: 70%;
    @extend .column;
    @media only screen and (max-width:1024px) { 
        width: 95%;
    }
}
section {
    display: flex;
    flex-direction: column;
}
mat-form-field {
    width: 100%;
  }

button {
    span {
        color: white;
    }
    align-self: center;
    margin-top: 2.5rem;
    min-width: 15rem;
  }