<ng-container *ngFor="let category of categories">
      <li  [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: category.designation}"  [queryParamsHandling]= "'merge'"   *ngIf="category.isLeaf">
        <mat-icon [svgIcon]="category.svgIcon.designation" *ngIf="category.svgIcon != null" mdcListItemGraphic>       
          </mat-icon> 
         {{category.designation | lowercase}} 
      </li>
      <ul *ngIf="!category.isLeaf">
        <li  (click) = "toggle(category.designation)">
           <mat-icon [svgIcon]="category.svgIcon.designation" *ngIf="category.svgIcon != null" mdcListItemGraphic>
           </mat-icon> 
           <span class="list-item__text--spacing">{{category.designation | lowercase}}</span>
          <mat-icon  [class.active__icon]="category.designation==currentDesignation"  mdcListItemGraphic >keyboard_arrow_down</mat-icon>
        </li>
        <app-tree-menu  *ngIf="category.designation==currentDesignation"   [categories] = "category.children"></app-tree-menu>

      </ul>
</ng-container>
  
