@import "src/styles.scss";

.menu-tab-bar-container {
margin : 2rem 1rem 0 1rem;
}
.menu-tab-bar {
    border-top : solid 1px $color-border-grey;
    border-bottom : solid 1px $color-border-grey;
    padding : 0 $global-horizontal-gutter;
}
.menu-tab {
    text-transform: capitalize;
    font-weight: 500;

}

.mdc-tab--active  {
    @include mdc-tab-text-label-color(black);
    @include mdc-tab-icon-color(black);
}

.mdc-tab-indicator {
    @include mdc-tab-indicator-underline-color($mdc-theme-secondary);
}
.menu-content {
    padding : 2rem $global-horizontal-gutter;
    
    
}
.profile-title {
    margin-top: 2rem;
    margin-left: calc(#{$global-horizontal-gutter} + 1rem);
    z-index: 1000;
}