
<div class="menu-tab-bar-container">
<mdc-tab-bar #tabBarVar class="menu-tab-bar" [activeTabIndex]="0" stacked>
    <mdc-tab-scroller>
      <mdc-tab  class="menu-tab" *ngFor="let tab of tabs">
        <mdc-tab-label>{{tab.label}}</mdc-tab-label>
        <mdc-icon mdcTabIcon>{{tab.icon}}</mdc-icon>
      </mdc-tab>
    </mdc-tab-scroller>
  </mdc-tab-bar>
  <div  class="menu-content" [ngSwitch]="tabBarVar.activeTabIndex">
      <app-edit-profile *ngSwitchCase="0"></app-edit-profile>
      <app-favorites-profile *ngSwitchCase="1"></app-favorites-profile>

      <p *ngSwitchCase="2">This is Messages</p>
  </div>
</div>