
<div  [@routeAnimations]  *ngIf="(filterBox |async)" class="mat-elevation-z2 side-box">
  <app-product-filter>
    </app-product-filter>
</div>

<section class="side-content">
<header *ngIf="!(isSearchActive |async)" class="main-header--sticky">
    <div class="content__meta-bar">
        <div class="content__meta-bar-breadcrumb" >
          <app-category-breadcrumb  class="breadcrumb"></app-category-breadcrumb>
          <p *ngIf="!(isLoading | async)" class="content__objects-count mat-body-1">{{objCount | async}} selected products</p>
        </div>
        <button class="meta-bar__filter" mat-icon-button >
        <mat-icon [matBadge]="(filterParamCount | async) != 0 ? (filterParamCount | async) : ''" matBadgeColor="primary" (click)="toggleModal('filterBox')" >
          tune
        </mat-icon>
      </button>
      </div>

    </header>


    
    <mat-progress-bar *ngIf="isLoading | async" mode="indeterminate">

    </mat-progress-bar>

          <section   class="content">
               
              <mat-button-toggle-group  class="view-toggeler" (change)="toggleView($event)">
                  <mat-button-toggle value="module">
                    <mat-icon>view_module</mat-icon>
                  </mat-button-toggle>
                  <mat-button-toggle [checked]="true" value="stream">
                    <mat-icon>view_stream</mat-icon>
                  </mat-button-toggle>
                </mat-button-toggle-group>
               <div class="search-meta" *ngIf="!(isLoading | async ) && (isSearchActive | async)">
                      <h2 *ngIf="(objCount | async) == 0">No products found for "{{searchTerm| async}}"</h2>
                      <h2 *ngIf="!(objCount | async) == 0">We found {{objCount | async }} products for for "{{searchTerm| async}}"</h2>
               </div>

            <div [ngClass]="{'content__image-container--grid__module': isModuleActive ,'content__image-container--grid':!isModuleActive }">


                <app-product-box  class="product-box" [product]="productShort" *ngFor="let productShort of productShorts | async">
                </app-product-box>

            </div>

          </section>
          <div  appScrollPaginator 
          (pageNumber)="pageEvent($event)" 
          class='bottom-line'>
          <mat-icon inline="true" *ngIf="isLoading | async" svgIcon="loading_2"></mat-icon>
        </div>
</section>