@import "src/styles.scss";


.content {
 margin : 1rem $global-horizontal-gutter;
 display: flex;
 flex-direction: column;
 min-height: 100vh;


}

  
.bottom-line {
  margin : 1rem auto;
  width: 4rem;
  min-height: 1rem;
  mat-icon {
    width: 4rem;
  }

}

.content__objects-count {
  font-style: italic;
  margin-top: 0.5rem;
}


.content__meta-bar {
  padding : 1rem $global-horizontal-gutter ;
  margin: 2.5rem 0;
  background-color: $mdc-theme-accent--lighter;
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .meta-bar__filter {
    margin-left: auto;
  }
  
  .view-toggeler {
    align-self: center;
    display: none;
    @media only screen and (max-width:480px) { 
      display: flex;
      margin-bottom: 1rem;
    }
  }

  .side-box {
    position: fixed;
    top:0;
    background-color: white;
    z-index: 10000;
}

.content__image-container--grid__module {
    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    .product-box {
      margin : 1%;
      width: 23%;
      border-radius: 10px;
      @media only screen and (max-width:1024px) {
        width: 31.333%;
      }
      @media only screen and (max-width:720px) {
        width: 48%;
      }
    }
}
.content__image-container--grid {
  .product-box {
  @media only screen and (max-width:480px) {
    width: 98%;
    margin-bottom: 1.5rem;
  }
}
@extend .content__image-container--grid__module

}

.content__image-container--list {

  display: block;

}
