@import "src/styles.scss";



mat-card-header {
  margin-left: -1em;
}



mat-icon--active {
   background-color: black;
   width : 1em;
}



.content {
 padding : 0.5em 4em 0.5em 4em;
 display: flex;
 flex-direction: column;
  mat-spinner {
    position: fixed;
    left: 50vw;
    top: 50vh;
    z-index: 500;
  }
  mat-paginator {
  align-self: center;
}

}
.list-header {
  padding : 0.5em 4em 0.5em 4em;
  margin-bottom: 1em;
  margin-top: 4em;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);

}
.content__meta-bar {



   display: flex;

   span {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
   }
  }

.content__meta-bar > mat-icon {
   align-self: center;
   z-index: 10000;
}

.content__meta-bar--spacer {
    flex: 1 1 auto;
}

.content__image-container--grid {
    display: flex;
    flex-wrap : wrap;
    padding-left : 1%;
    padding-top:1em;
}

.content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    max-width: 19%;
    flex : 1 1 19%;
}







@media only screen and (max-width:840px) {

  .content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    flex : 1 1 32%;
    max-width: 40%;
} 
.list-header , .content {
  padding : 0.5em 2em 0.5em 2em;
}


  }

  @media only screen and (max-width:600px) {


  .content__image-container__product-box--grid {
    flex : 1 1 45%;
    max-width: 50%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5em 0.5em 0 0.5em;
      }
    }

  }


  @media only screen and (max-width:480px) {

    .content__image-container--grid {
      display: block;

  }
  .content__meta-bar {
    padding : 0.5em 0 0.5em 0.5em;
  }

  mat-sidenav-container {
    margin:0 0.5em 0 0.5em;
  }


  .content__image-container__product-box--grid {
    max-width: 100%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5em 0.5em 0 0.5em;
      }
    }
::ng-deep .mat-card-header-text {
  font-size: 1.25em;
}

  }

