<header class="main-header--sticky">
    <div class="content__meta-bar">
        <div class="content__meta-bar-breadcrumb" >
          <app-category-breadcrumb class="body-style breadcrumb"></app-category-breadcrumb>
          <p     class="content__objects-count mat-caption">{{objCount}} selected products</p>
        </div>
        <button class="meta-bar__filter" mat-icon-button >
        <mat-icon (click)="filterToggle()" >
          tune
        </mat-icon>
      </button>
            <button class="meta-bar__view-button" (click)="toggleView($event)" mat-icon-button>
                <mat-icon >view_module</mat-icon>
            </button>

      </div>
      <mat-progress-bar *ngIf="!isReady" mode="indeterminate">

      </mat-progress-bar>
    </header>
      <div   [style.transform]="isFilterActive ? 'translateX(0)' : 'translateX(-20rem)'" class="mat-elevation-z3 filter-container">
        <header class=" mat-elevation-z2 side-window__header">
          <p  >
            Filters
          </p>
          <button (click)="filterToggle()" mat-icon-button >
            <mat-icon >close</mat-icon>

          </button>

        </header>
      <app-product-filter  [resetFilter]="resetFilter"  (req) = filterEvent($event)></app-product-filter>
    </div>


          <section   class="content">


            <div   [ngClass]="{'content__image-container--list': isListActive , 'content__image-container--grid': !isListActive }">


                <app-product-box class="mat-elevation-z2 product-box"  [mode]="isListActive ? 'list' : 'grid' "  [product]="productShort" *ngFor="let productShort of productShorts">
                </app-product-box>
            </div>

          </section>
          <div  appScrollPaginator 
          (pageNumber)="pageEvent($event)" 
          [objectsNumber]="objCount" 
          class='bottom-line'>
          <mat-icon inline="true" *ngIf="!isReady"svgIcon="loading_2"></mat-icon>
        </div>
