@import "src/styles.scss";


.content {
 padding : 0.5em 4em 0.5em 4em;
 display: flex;
 flex-direction: column;
  mat-paginator {
  align-self: center;
}

}
.list-header {
  padding : 0.5em 4em 0.5em 4em;
  margin-bottom: 1em;
  margin-top: 4em;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);

}
.content__meta-bar {
   display: flex;
   align-items: center;

   span {
    font-size: 1rem;
   }

   .content__meta-bar--spacer {
    flex: 1 1 auto;
}


  }
  
  .meta-bar__view-button {
    align-self: flex-end;
    display: none;
  }


app-product-filter {
  padding-top: 1em;
}


.collection-icon {
  width : 2.5rem;
  height : auto;
}

.content__image-container--grid {


    display: flex;
    flex-wrap : wrap;
    margin-left : 1%;
    margin-top:1em;
    .content__image-container__product-box {
      margin-right : 1%;
      margin-bottom : 1%;
      max-width: 24%;
      flex : 1 1 24%;
      .product-card__primary {
        display: flex;
        align-items: center;
        padding: 1rem;

 
      }
      
      .product-card__media {
        .product-card__media-content--with-icon {
          display: block;

          .product-card__media-icon--absolute {
            float : right;
            margin-right: 2rem;
            
          }
        }
      }
  
    .primary__collection-icon {
        display: none;
        }
  
  }
}



.content__image-container--list {
  display: block;
  margin: 1em -2rem 0 -2rem;
  .content__image-container__product-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    .product-card__primary {
      order : 2;
      display: flex;
      align-self: flex-start;
      align-items: center;
      padding: 1rem;
      flex: 1 0 auto;
      .product-card__description {
        order : 1;
      }
      .spacer {
        flex : 1 0 auto;
        order : 2;
      }
      .primary__collection-icon {
        margin-right : 1rem;
        order : 3;
      }
    
    
    }
  mdc-card-primary-action {
    order : 1;
    flex: 0 0 22%;

    }


}
.product-card__media-icon--absolute {
  display: none;
 }
  

}
.product-card__media {
  background-size: contain;
}


@media only screen and (max-width:840px) {
  .content__image-container--grid {

    .content__image-container__product-box {
      margin-right : 1%;
      margin-bottom : 1%;
      flex : 1 1 32%;
      max-width: 32%;
  } 

  }

.list-header , .content {
  padding : 0.5rem 1rem 0.5rem 1rem;
}


  }

  @media only screen and (max-width:600px) {
  .content__image-container--grid {
  .content__image-container__product-box {
    flex : 1 1 45%;
    max-width: 50%;
    margin-right : 1%;
    margin-bottom : 1rem;
      img {
        padding : 0.5rem 0.5rem 0 0.5rem;
      }
    }
  }
  .meta-bar__view-button {
    display: block;
  }

  }


  @media only screen and (max-width:480px) {

    .content__image-container--grid {
      display: block;

  }
  .content__meta-bar {
    padding : 1rem 0 0.5rem 0;
  }
  .content__image-container--grid {
  .content__image-container__product-box {
    max-width: 100%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5rem 0.5rem 0 0.5rem;
      }
    }
  }



  }

