@import "src/styles.scss";

.content {
 margin : 0rem $global-horizontal-gutter;
 display: flex;
 flex-direction: column;
  mat-paginator {
  align-self: center;
}

}

.content__objects-count {
  font-style: italic;
  margin-top: 0.5rem;
}


.content__meta-bar {
  margin-top: 2.5rem;
  padding: 1rem $global-horizontal-gutter;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .meta-bar__filter {
    margin-left: auto;
  }
  
  .meta-bar__view-button {
    align-self: center;
    display: none;
  }




.filter-container {
  display: block;
  header {
    padding : 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
   p {
     font-weight: 600;
   }
}
  width:20rem;
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: ease-out 0.3s;
}


.collection-icon {
  width : 2.5rem;
  height : auto;
}

.product-card__subtitle {
  color: $color-text-grey
}

.content__image-container--grid {


    display: flex;
    flex-wrap : wrap;
    margin-top:1em;
    .content__image-container__product-box {
      margin-right : 1%;
      margin-bottom : 1%;
      max-width: 19%;
      flex : 1 1 19%;
      .product-card__primary {
        display: flex;
        align-items: center;
        padding: 1rem;

 
      }
      
      .product-card__media {
        .product-card__media-content--with-icon {
          display: block;

          .product-card__media-icon--absolute {
            float : right;
            margin-right: 2rem;
            
          }
        }
      }
  
    .primary__collection-icon {
        display: none;
        }
  
  }
}



.content__image-container--list {
  display: block;
  margin: 1em -2rem 0 -2rem;
  .content__image-container__product-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1rem;
    .product-card__primary {
      order : 2;
      display: flex;
      align-self: flex-start;
      align-items: center;
      padding: 1rem;
      flex: 1 0 auto;
      .product-card__description {
        order : 1;
      }
      .spacer {
        flex : 1 0 auto;
        order : 2;
      }
      .primary__collection-icon {
        margin-right : 1rem;
        order : 3;
      }
    
    
    }
  mdc-card-primary-action {
    order : 1;
    flex: 0 0 22%;

    }


}
.product-card__media-icon--absolute {
  display: none;
 }
  

}
.product-card__media {
  background-size: contain;
}


@media only screen and (max-width:840px) {
  .content__image-container--grid {

    .content__image-container__product-box {
      margin-right : 1%;
      margin-bottom : 1%;
      flex : 1 1 32%;
      max-width: 32%;
  } 

  }


  }

  @media only screen and (max-width:600px) {
  .content__image-container--grid {
  .content__image-container__product-box {
    flex : 1 1 45%;
    max-width: 50%;
    margin-right : 1%;
    margin-bottom : 1rem;
      img {
        padding : 0.5rem 0.5rem 0 0.5rem;
      }
    }
  }
  .meta-bar__view-button {
    display: block;
  }

  }
  @media only screen and (max-width:480px) {

    .product-card__title {
      font-size: 1rem;
    }


  }