@import "src/styles.scss";

.side-box {
  position: fixed;
  top:0;
  background-color: white;
  z-index: 3;
  overflow: scroll;
  height: 100%;
}
.list__metadata {

  background-color: white;
}

header {
  p {
    text-align: center;
  }
}

.content {
 min-height: 100vh;

}


.bottom-line {
  margin : 1rem auto;
  width: 4rem;
  min-height: 1rem;
  mat-icon {
    width: 4rem;
  }
}



.box-container--large {
    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    align-items: flex-start;
    .product-box {
      min-width: 320px;
      margin : 1%;
      width: 23%;
      @media only screen and (max-width:1600px) {
        width: 31.3333%;
      }
      @media only screen and (max-width:1200px) {
        width: 48%;
      }
      @media only screen and (max-width:850px) {
        margin : 4%;
        width: 92%;
      }
      @media only screen and (max-width:600px) {
        width: 100%;
        margin: 1.5rem 0;
      }
    }
}

.box-container--small {
  display: flex;
  flex-wrap : wrap;
  justify-content: flex-start;
  align-items: flex-start;
  .product-box {
    margin : 1%;
    width: 14.6666%;

    @media only screen and (max-width:1800px) {
      width: 18%;
    }
    @media only screen and (max-width:1400px) {
      width: 23%;
    }
    @media only screen and (max-width:1000px) {
      width: 31.333%;
    }
    @media only screen and (max-width:600px) {
      width: 48%;
    }
  }
}
