@import "src/styles.scss";

:host {
    display: block;
    padding:  0 4em 0 4em;
}

mat-card-header {
  margin-left: -1em;
}



mat-icon--active {
   background-color: black;
   width : 1em;
}



.content {
 display: flex;
 flex-direction: column;
  mat-paginator {
  align-self: center;

}

}
.content__meta-bar {
   padding : 0.5em 0 0.5em 0.5em;
   margin-top: 0.5em;
   border-bottom: solid;
   border-bottom-width: 0.08em;
   border-bottom-color: rgb(179,179,179);
   border-top: solid;
   border-top-width: 0.08em;
   border-top-color: rgb(179,179,179);
   display: flex;
}

.content__meta-bar > mat-icon {
   margin-right : 0.5em;
}

.content__meta-bar--spacer {
    flex: 1 1 auto;
}

.content__image-container--grid {
    display: flex;
    flex-wrap : wrap;
    padding-left : 1%;
}

.content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    max-width: 20%;
    flex : 1 1 18%;
}


.nav-bar__side-menu {
  height: 600px
}

@media only screen and (max-width:960px) {

  :host {
    padding:  0 2em 0 2em;
  }
}


@media only screen and (max-width:840px) {

  .content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    flex : 1 1 32%;
    max-width: 40%;
}


  }

  @media only screen and (max-width:600px) {
    :host {
      padding:  0 1em 0 1em;
    }


  // .content__image-container--grid {
  //     display: block;
  // }
  .content__image-container__product-box--grid {
    flex : 1 1 45%;
    max-width: 50%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5em 0.5em 0 0.5em;
      }

  }

  }

