@import "src/styles.scss";

.content {
 margin : 0rem $global-horizontal-gutter;
 display: flex;
 flex-direction: column;
 min-height: 100vh;


  
}
.bottom-line {
  height: 2rem;
  background-color: grey;
  width: 100%;
}

.content__objects-count {
  font-style: italic;
  margin-top: 0.5rem;
}


.content__meta-bar {
  margin-top: 2.5rem;
  padding: 1rem $global-horizontal-gutter;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  }
  .meta-bar__filter {
    margin-left: auto;
  }
  
  .meta-bar__view-button {
    align-self: center;
    display: none;
    @media only screen and (max-width:600px) { 
      display: block;
    }
  }

.filter-container {
  display: block;
  width:20rem;
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  z-index: 1000;
  transition: ease-out 0.3s;
}
.side-window__header {
  padding: 1.5rem;
}

.content__image-container--grid {


    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    app-product-box {
      margin : 1%;
      width: 23%;
      border-radius: 10px;
      @media only screen and (max-width:1024px) {
        width: 31.333%;

      }
      @media only screen and (max-width:720px) {
        width: 48%;

      }
      @media only screen and (max-width:480px) {
        width: 98%;

      }
    }
}

.content__image-container--list {
  display: block;

}
