@import "src/styles.scss";

:host {
    padding:  0 4em 0 4em;
    display : grid ;
    grid-template-columns : 1fr 4fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas : 
    "breadcrumb breadcrumb"
    "side-filter main-content";
}


mat-icon--active {
   background-color: black;
   width : 1em;
}

app-product-breadcrumb {
    grid-area: breadcrumb;

    }

.filter {
    grid-area: side-filter;

}
.content {
    grid-area: main-content;

    
}
.content__meta-bar {
   padding : 0.5em 0 0.5em 0.5em;
   margin-top: 0.5em;
   border-bottom: solid;
   border-bottom-width: 0.08em;
   border-bottom-color: rgb(179,179,179);
   border-top: solid;
   border-top-width: 0.08em;
   border-top-color: rgb(179,179,179);
   display: flex;
}

.content__meta-bar > mat-icon {
   margin-right : 0.5em;
}

.content__meta-bar--spacer {
    flex: 1 1 auto;
}

.content__image-container--grid {
    display: flex;
    flex-wrap : wrap;
    padding-left : 1%;
}
.content__image-container--list {
    display: flex;
    flex-direction: column;
    padding-left : 1%;
}
.content__image-container__product-box {
    margin-right : 1%;
    margin-bottom : 1%;
    flex : 0 0 24%;
}

@media only screen and (max-width:960px) {

    :host {
        padding:  0 1em 0 1em;
        display : grid ;
        grid-template-columns : 1fr 4fr;
        grid-row-gap: 1em;
        grid-column-gap: 1em;
        grid-template-areas : 
        "breadcrumb breadcrumb"
        "main-content main-content";
    }
    .filter {
        grid-area: side-filter;
        display: none;
    }
    .content__image-container--grid {
        display: flex;
        flex-direction: column;
        padding-left : 1%;
    }
    .content__image-container__product-box {
        margin-right : 1%;
        margin-bottom : 1%;

    }

  }

