@import "src/styles.scss";

:host {
    padding:  0 4em 0 4em;
    display : grid ;
    grid-template-columns : 1fr 4fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas : 
    "breadcrumb breadcrumb"
    "side-filter main-content";
}

.breadcrumb {
grid-area: breadcrumb;
background-color: $color-grey;
padding : 0.5em 0 0.5em 0.5em;
}
.filter {
    grid-area: side-filter;

}
.content {
    grid-area: main-content;

    
}
.content__meta-bar{
   padding : 0.5em 0 0.5em 0.5em;
   margin-top: 0.5em;
   border-bottom: solid;
   border-bottom-width: 0.08em;
   border-bottom-color: rgb(179,179,179);
   border-top: solid;
   border-top-width: 0.08em;
   border-top-color: rgb(179,179,179);
   display: flex;
}

.content__meta-bar > mat-icon
{
   margin-right : 0.5em;
}

.content__meta-bar--spacer {
    flex: 1 1 auto;
}

.content__image-container {
    display: flex;
    flex-wrap : wrap;
    padding-left : 1%;
}

.content__image-container img 
{
    max-width: 100%;
    border-bottom: inset;
    border-bottom-width: 0.15em;
}


.content__image-container__product-box {
    margin-right : 1%;
    margin-bottom : 1%;
    flex : 0 0 24%;
}

.content__image-container__product-box h5 ,.content__image-container__product-box h6  {
    font-weight: bold;
    padding-left : 0.5em;
    margin-bottom: 0.25em;
}
.content__image-container__product-box__sub-text {
    display: flex;
}

.content__image-container__product-box__sub-text > mat-icon {
    font-size: 1em;
    margin-top : 0.2em;
    margin-left : 0.5em;
}