@import "src/styles.scss";


:host {
    display: block;
    padding-top : 1em;

}

mat-card-header {
  margin-left: -1em;
}



mat-icon--active {
   background-color: black;
   width : 1em;
}



.content {
 display: flex;
 flex-direction: column;
  mat-spinner {
    position: fixed;
    left: 50vw;
    top: 50vh;
    z-index: 500;
  }
  mat-paginator {
  align-self: center;
}

}
.content__meta-bar {
   padding : 0.5em 0 0.5em 2em;
   margin-bottom: 1em;
   border-bottom: solid;
   border-top: solid;
   border-width: 0.08em;
   border-color: white;
   display: flex;
   color :white;

   span {
    font-family: 'Raleway', sans-serif;
    color :white;

   }
  }

.content__meta-bar > mat-icon {
   margin-right : 2em;
   align-self: center;
}

.content__meta-bar--spacer {
    flex: 1 1 auto;
}

.content__image-container--grid {
    display: flex;
    flex-wrap : wrap;
    padding-left : 1%;
    padding-top:1em;
}

.content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    max-width: 20%;
    flex : 1 1 18%;
}


.nav-bar__side-menu {
  height: 600px;
  background:rgba(255, 255, 255, 0.8);
  border-radius: 10px;
}
mat-sidenav-container {
  margin:0 2em 0 2em;
}


@media only screen and (max-width:960px) {

}


@media only screen and (max-width:840px) {

  .content__image-container__product-box--grid {
    margin-right : 1%;
    margin-bottom : 1%;
    flex : 1 1 32%;
    max-width: 40%;
}


  }

  @media only screen and (max-width:600px) {


  .content__image-container__product-box--grid {
    flex : 1 1 45%;
    max-width: 50%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5em 0.5em 0 0.5em;
      }
    }

  }


  @media only screen and (max-width:480px) {

    .content__image-container--grid {
      display: block;

  }
  .content__meta-bar {
    padding : 0.5em 0 0.5em 0.5em;
  }

  mat-sidenav-container {
    margin:0 0.5em 0 0.5em;
  }
  .content__meta-bar > mat-icon {
    margin-right : 0.5em;
 }

  .content__image-container__product-box--grid {
    max-width: 100%;
    margin-right : 1%;
    margin-bottom : 1em;
      img {
        padding : 0.5em 0.5em 0 0.5em;
      }
    }

  }

