<app-product-breadcrumb class="mat-elevation-z1 mat-body-strong breadcrumb"></app-product-breadcrumb>
<app-product-filter class="mat-elevation-z1 filter"></app-product-filter>


<section class="mat-typography mat-elevation-z1 content"> 
    <div class="mat-subheading-2 content__meta-bar"> 
      <span>{{(productShorts$ | async)?.length}} selected products</span>
      <span class="content__meta-bar--spacer"></span>
      <mat-icon>list</mat-icon>
      <mat-icon>view_comfy</mat-icon>
    </div>

    <div class="content__image-container">

        <article  class="mat-elevation-z1 content__image-container__product-box" *ngFor="let productShort of productShorts$ | async">
            <app-product-list-composit [productShort]="productShort">

            </app-product-list-composit>
        </article>       

 

    </div>
    
</section>