@import "src/styles.scss";

main {
    background-color: white;

}

.card--logged{
    display: flex;
    z-index: 1000;
    mdc-icon {
        font-size: 5rem;
        margin-right: 1.5rem;
    }
    .text-content {
        display: flex;
        flex-direction: column;
        
        .space-divider {
            flex : 1 1 auto;
        }
        .action-menu {
            display: flex;
            justify-content:space-between;
            p{
                color:blue;
            
            }
        
        }
        }
}

.card--not-logged {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p > span {
        font-weight: bold;
    }
    button {
        margin-top : 1.5rem;
        @include mdc-button-container-fill-color(black);
        @include mdc-button-ink-color(white);
    }
}

