
.side {
  display: none;
}
.main-header {
  width: 100%;

}
.mat-h1,.mat-h2 {
    margin: 0;
}
.nav-list--full-width {
    width: 100%;
}
.login-button {
  margin: 1rem 0;
  width: 100%;

}


.icon--full-right {
  margin-left: auto;
}

@media only screen and (max-width:1024px) {
  .card {
    display: none;
  }
  .side {
    display: block;
  }
  .action-container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
  }
}
