<ng-template #loading>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</ng-template>
<ng-container *ngIf="!(isLoading$ | async) else loading">
      <header class="column">
        <section class="column--centred">
        <section class="inline--centred--spaced nav-list--full-width">
          <button color="accent" class="login-button" *ngIf="!(isLogged$ |async) && (isSideNav$| async)"
          mat-stroked-button (click)="login()">
          <mat-icon class="mr4">account_box</mat-icon>
            <span i18n>WELCOME , SIGN IN</span>
          </button>
          <button  appModalClose class="icon--full-right" mat-icon-button><mat-icon>close</mat-icon>
          </button>
        </section>

      </section>
            <section *ngIf="isLogged$ |async" class="column--centred">
                <app-initials-icon [size]="72" class="mb4" (click)="navToProfile()" [initials]="initials$ | async"></app-initials-icon>
                  <p class="mat-h1"> {{(profile$ |async).first_name}} {{(profile$ |async).last_name}} </p>
                  <p class="mat-h3 font--dark-grey">{{(profile$ |async).email}}</p>
                <div class="action-container my4">
                  <button routerLink="/product/favorites" mat-icon-button>
                      <mat-icon color="accent">favorite</mat-icon>
                  </button>
                  <button (click)="logOut()"  mat-icon-button>
                   <mat-icon color="accent">exit_to_app</mat-icon>
                  </button>
                   </div>
              </section>
        </header>
    <main  *ngIf="!(isSideNav$| async)"  class="px4 column--centred">
      <mat-nav-list  class="nav-list nav-list--full-width">
          <mat-list-item  routerLink="/product/favorites">
              <mat-icon matListIcon>favorite </mat-icon>
              <div i18n matLine>Favorites</div>
          </mat-list-item>
          <mat-list-item routerLink="/account/profile">
              <mat-icon matListIcon>person </mat-icon>
              <div i18n matLine>Profile</div>
          </mat-list-item>
          <mat-list-item (click)="logOut()">
              <mat-icon matListIcon>exit_to_app </mat-icon>
              <div  i18n matLine>Log out</div>
          </mat-list-item>
      </mat-nav-list>
</main>
</ng-container>

