
<main class="card--logged" *ngIf="isLogged">
    <mdc-icon>account_circle</mdc-icon>

    <div class="text-content">
        <p mdcSubtitle2>{{currentAccount.profile.first_name}}</p>
        <p mdcCaption>{{currentAccount.profile.email}}</p>
        <span class="space-divider"></span>
        <div class="action-menu">
            <p mdcCaption>My account</p>
            <p mdcCaption>Sign out</p>
        </div>
    </div>
</main>

<main class="card--not-logged" *ngIf="!isLogged">
    <p mdcBody2><span>Sign in </span>to acces your account </p>
    <p mdcBody2>or</p>
    <p mdcBody2><span>Register </span>to create a new account  </p>

    <button  outlined mdc-button>
        <span mdcBody2 mdcButtonLabel>SIGN IN / REGISTER</span>
    </button>

  </main>