@import "../../../styles/colors.scss";


.main-header {
  width: 100%;

}
.mat-h1,.mat-h3,.mat-h2 {
    margin: 0;
}
.nav-list--full-width {
    width: 100%;
}
.login-button {
  margin: 1rem 0;
  width: 100%;
}
.nav-list {
 margin-top:1.5rem ;
 border-top: 1px solid mat-color($smc-show-case-primary) ;
 border-bottom: 1px solid mat-color($smc-show-case-primary) ;
}
.mat-list-icon {
@extend .font--grey;
}

.icon--full-right {
  margin-left: auto;
}
.action-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  button {
    border: solid 1px mat-color($smc-show-case-accent);
    background-color: white;
  }
}
