.mat-tree-invisible {
    display: none;
  }

  .mat-tree ul,
  .mat-tree li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }
  .mat-icon--full-right {
    margin-left: auto;
  }
  span:hover {
    cursor: pointer;
  }
  .mat-subheading-2 {
    margin: 0;
  }
