@import "src/styles.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:calc(75vw);
    max-width: 340px;
    overflow: auto;
}
header {
    border-bottom: 2px solid mat-color($smc-show-case-primary,darker);
}


