@import "src/styles.scss";

:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:calc(75vw);
    max-width: 340px;
    overflow: auto;
}

.mat-list-icon {
    @extend .font--dark-grey;
}
.mat-list-icon {
    padding: 0 ;
}