
:host {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc(100vw - 48px);
    overflow: auto;
    max-width: 340px;
}

.mat-list-icon {
    padding: 0 ;
}
.mat-chip-selected  {
    background-color: green;
}
