.main-container {
    display: flex;
    .left-side {
        background-image:url('https://d2z6sbqggbt9fg.cloudfront.net/media/login_image.jpg?d=1200x1200');
        background-size: cover;
        flex: 1 1 50%;
        height: 100vh;
        .layer {
            background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */       
            width: 100%;
            height: 100%;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .mat-h1 {
                font-size: min(3rem,5vw);
                margin-bottom: 3rem;
                }


        }
    }
    .right-side {
        justify-content: center;
        header,footer {
            display: none;
        }
        flex: 1 1 50%;
        .outlet-container {
            width: max(80%,280px);
        }
    }
    @media only screen and (max-width:1200px)  { 
        .left-side { 
            display: none;
        }
        .right-side {
            padding: 2rem 0;
            header,footer {
                display: block;
            }
        }
    }

}
a {
    text-decoration: underline;
    
}
.hide {
    display: none;
}
.illustration-container {
    max-width: 15rem;
    margin: 1rem auto 2rem auto;
  }
