
<main class="main-container">

<aside class="left-side">
<div class="layer">
    <h1 class="mat-h1">WELCOME BACK</h1>
    <p class="mt8 text--centred mat-subheading-1">D'ont have an account ? </p>
    <a class="font--white mat-body-1 text--centred">Sign up with SMC</a>
</div>
</aside>
<aside class="right-side column--centred">

    <div class="mb8 illustration-container">
        <mat-icon inline="true" svgIcon="logo"></mat-icon>
      </div>
      <header class="font--dark-grey text--centred">
        <h1 class="mat-h1">SIGN IN</h1>
     </header>
    <app-account-login></app-account-login>
    <section class="mt8 google-login">
        <app-google-sign-in>
        </app-google-sign-in>
    </section>
    <footer class=" text--centred">
        <p class="mt8mat-body-1">D'ont have an account ? </p>
        <a class="mat-caption">Sign up with SMC</a>
    </footer>
</aside>
</main>
