
<div  class="content--grid">
        <div [class]="(isBigSize$ |async) ? 'mat-h4':'mat-h6'" class="p2 inline--centred">
                <button [appFavoriteHandler]="product.pk" mat-icon-button>
                        <mat-icon [inline]="!(isBigSize$ |async)" #favIcon>favorite</mat-icon>
                </button>
                <section>
                        <p >{{product.designation | uppercase}}</p>
                        <p class="mat-caption" 
                        [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: product.rootCategory}" queryParamsHandling="merge"
                        *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" class="font--dark-grey mat-caption">
                                {{product.rootCategory}}
                        </p>
               </section>
               <button *ngIf="isBigSize$ |async"   class="font--dark-grey mat-icon--full-right" mat-icon-button>
                        <mat-icon i18n>message</mat-icon>
                </button>
        </div>

                <img class='content__thumbnail' [src]="product.thumbNail?.content">
        <section *ngIf="isBigSize$ |async" class="content-information">
               <p class="mat-caption font--dark-grey">Perfect for serving soup, stew or couscous on table.</p>
        </section>


        <section *ngIf="isBigSize$ |async" class="p4 inline--centred">
            <button color="primary" class="mr4" mat-stroked-button>
                <span>Materials</span>
                <mat-icon>
                        keyboard_arrow_down
                </mat-icon>
            </button>
            <button color="primary" mat-stroked-button>
                <span>Dimensions</span>
                <mat-icon>
                        keyboard_arrow_down
                </mat-icon>
            </button>

        </section>
        </div>