@import "src/styles.scss";
:host {
    transition: ease-in 0.3s;
}
.breadcrumb-container {
    background-color: $extreme-light-grey-color;
}

.loading-placeholder {
    width: 100%;
    background-color: grey;
}
.content--grid {
    display: flex;
    background-color: white;
    flex-direction: column;
    .content__thumbnail {
        width: 100%;
        max-width: 100%;
    }
    .content-information {
        display: flex;
        justify-content: space-between;
    }
}
.mat-icon--full-right {
    margin-left: auto;
}
.mat-h4,.mat-h6 {
    margin: 0 0 0;
}
app-category-breadcrumb {
    text-transform: lowercase;
}
app-appearance-selector {
    width: 100%;
}

.icon--rotate {
    transform: rotate(-90deg)
}

mat-icon {
    transition: ease-out 0.2s;
}