
<div appImagePlaceholder class="content--grid">
        <ng-container *ngIf="(isBigSize$ |async) else smallBox" >
        <div  class="mat-h4 p2 inline--centred">
                <button #pulsingButton [appFavoriteHandler]="product.id" mat-icon-button>
                        <mat-icon  [inline]="!(isBigSize$ |async)" #favIcon>favorite</mat-icon>
                </button>
                <section >
                        <p #pulsingText>{{product.designation | uppercase}}</p>
                        <p #pulsingText class="mat-caption font--dark-grey">
                                <span #pulsingText class="mat-caption"
                                [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: product.rootCategory}" queryParamsHandling="merge"
                                *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" class="font--dark-grey mat-caption">
                                        {{product.rootCategory}} /
                        </span >
                                {{(selectedAppearanceVariant$|async)?.look.texture}} {{(selectedAppearanceVariant$|async)?.look.material}}</p>


               </section>
               <button #pulsingButton class="font--dark-grey mat-icon--full-right" mat-icon-button>
                        <mat-icon i18n>message</mat-icon>
                </button>
        </div>
        <a #loadingImage [routerLink]="['/product', product.id]">
        <img #targetImage  class='content__thumbnail' [src]="(selectedAppearanceVariant$|async)?.thumbNail">
        </a>

        <section class="my2 mx4 content-information">
               <p #pulsingText class="mat-body font--dark-grey">{{product.shortDescription}}</p>
        </section>

        <section  #toHideLoading  class="my4 px4  inline--centred">

                <app-appearance-selector
                        (selectedAppearanceVariant) = "setAppearanceVariant($event)"
                        [appearanceVariants]="product.appearanceVariants">
                </app-appearance-selector>
        </section>
        <section  *ngIf="isBigSize$ |async" class="p4 inline--centred">
            <button #pulsingButton (click)="toggleMaterial()" color="primary" class="mr4" mat-flat-button>
                <span>Materials</span>
                <mat-icon [class.icon--rotate]="isMaterialOpen">
                        keyboard_arrow_down
                </mat-icon>
            </button>
            <button #pulsingButton  (click)="toggleDimension()" color="primary" mat-flat-button>
                <span>Dimensions</span>
                <mat-icon [class.icon--rotate]="isDimensionOpen">
                        keyboard_arrow_down
                </mat-icon>
            </button>

        </section>
        <section                 
                [@verticalAccordionAnimation] 
                class="pb2"
                *ngIf="(isDimensionOpen || isMaterialOpen)">
                <mat-divider></mat-divider>
                <app-product-dimensions 
                        *ngIf="isDimensionOpen"
                        class="pb4 product-details-container"  
                        [productDimensions]="product.dimensionsSpecifications">
                </app-product-dimensions>
                <app-product-materials 
                        [product]="product"               
                        *ngIf="isMaterialOpen">
                </app-product-materials>
</section>
</ng-container>
</div>




<ng-template #smallBox>
        <a #loadingImage [routerLink]="['/product', product.id]">
                <img #targetImage  class='content__thumbnail' [src]="(selectedAppearanceVariant$|async)?.thumbNail">
        </a>
        <section class="mx4">
                <p class="mat-body"  #pulsingText>{{product.designation | uppercase}}</p>
                <p #pulsingText class="mat-caption font--dark-grey">
                        <span #pulsingText class="mat-caption"
                        [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: product.rootCategory}" queryParamsHandling="merge"
                        *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" class="font--dark-grey mat-caption">
                                {{product.rootCategory}} /
                </span >
                        {{(selectedAppearanceVariant$|async)?.look.texture}} {{(selectedAppearanceVariant$|async)?.look.material}}</p>

         </section>
         <mat-divider class="my2"></mat-divider>
         <section  #toHideLoading  class="px4 mb2 inline--centred">

                <app-appearance-selector
                        (selectedAppearanceVariant) = "setAppearanceVariant($event)"
                        [appearanceVariants]="product.appearanceVariants">
                </app-appearance-selector>
        </section>
</ng-template>
