
<div  class="content--grid">
        <div class="mat-h4 p2 inline--centred">
                <button [appFavoriteHandler]="product.id" mat-icon-button>
                        <mat-icon [inline]="!(isBigSize$ |async)" #favIcon>favorite</mat-icon>
                </button>
                <section>
                        <p >{{product.designation | uppercase}}</p>
                        <p class="mat-caption font--dark-grey">
                                <span class="mat-caption" 
                                [routerLink]="['/product/list']"  [queryParams]="{categories__designation__in: product.rootCategory}" queryParamsHandling="merge"
                                *ngIf="(isSearchActive |async) || (isFavoriteRoute |async)" class="font--dark-grey mat-caption">
                                        {{product.rootCategory}} /
                        </span>
                                {{(selectedAppearanceVariant$|async)?.look.texture}} {{(selectedAppearanceVariant$|async)?.look.material}}</p>


               </section>
               <button *ngIf="isBigSize$ |async"   class="font--dark-grey mat-icon--full-right" mat-icon-button>
                        <mat-icon i18n>message</mat-icon>
                </button>
        </div>

                <img class='content__thumbnail' [src]="(selectedAppearanceVariant$|async)?.thumbNail">
                
        <section *ngIf="isBigSize$ |async" class="py2 px4 content-information">
               <p class="mat-body font--dark-grey">{{product.shortDescription}}</p>
        </section>

        <section class="p4 inline--centred">
                
                <app-appearance-selector 
                        (selectedAppearanceVariant) = "setAppearanceVariant($event)"
                        [appearanceVariants]="product.appearanceVariants">
                </app-appearance-selector>
        </section>
        <section *ngIf="isBigSize$ |async" class="p4 inline--centred">
            <button color="primary" class="mr4" mat-stroked-button>
                <span>Materials</span>
                <mat-icon>
                        keyboard_arrow_down
                </mat-icon>
            </button>
            <button color="primary" mat-stroked-button>
                <span>Dimensions</span>
                <mat-icon>
                        keyboard_arrow_down
                </mat-icon>
            </button>

        </section>
        </div>

