@import "src/styles.scss";

main {
    background-color:$extreme-light-grey-color;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    z-index: 2;
}

header {
    img {
        width: 25%;

    }
    @media only screen and (max-width:1000px) {
        margin-top: 2rem;
        img {
            display: none;
        }
        flex-direction: column;
      }
}
.description-container {
    min-width: 300px;
    text-align: center;
}
.mat-h3{
  margin: 0;
}
.action-container {
    button {
        span {
            @media only screen and (max-width:500px) {
                display: none;
              }
        }
    }
}
.children-container {
    justify-content: center;
}

#category-icon--big {
    @include md-icon-size(5rem)
}