@import "src/styles.scss";

.list__meta__bar {
    background-color:$extreme-light-grey-color;
}

header {
    padding: 0 1.5rem;
    img {
        width: 25%;

    }
    @media only screen and (max-width:1000px) {
        margin-top: 2rem;
        img {
            display: none;
        }
        flex-direction: column;
      }
}
.description-container {
    min-width: 300px;
    text-align: center;
}
.mat-h3{
  margin: 0;
}
.action-container {
    button {
        span {
            @media only screen and (max-width:500px) {
                display: none;
              }
        }
    }
}
.category-children-container {
    justify-content: center;
    flex-wrap: wrap;
}

#category-icon--big {
    @include md-icon-size(5rem)
}
.mat-h1 {
    font-size: 2rem;
    font-weight: 500 ;
}
