$dark-grey : rgba(0,0,0,0.65);
$grey-color : rgba(0,0,0,0.54);
$light-grey-color : rgba(0,0,0,.12);
$extreme-light-grey-color : #f2f2f2;

.font--green {
    color: green;
}
.font--blue{
  color: blue;
}
.font--amber {
  color: orange;
}
.font--grey {
  color:$grey-color ;
}
.font--red {
   color: red;
}
.font--white {
  color: white;
}

.alert {
    @extend .font--red
  }
