@import '../app-custom-themes.scss';


$dark-grey : rgba(0,0,0,0.70);
$grey-color : rgba(0,0,0,0.54);
$light-grey-color : rgba(0,0,0,.12);
$extreme-light-grey-color : rgba(0,0,0,.03);

.font--green {
    color: green;
}
.font--blue{
  color: blue;
}
.font--amber {
  color: orange;
}
.font--grey {
  color:$grey-color ;
}
.font--dark-grey {
  color:$dark-grey ;
}
.font--red {
   color: red;
}
.font--white {
  color: white;
}

.font--primary {
  color: mat-color($smc-show-case-primary);
}
.font--dark-accent {
  color: mat-color($smc-show-case-accent,darker);
}
.font--transparent {
  color: transparent;
}

.alert {
    @extend .font--red
  }
