@import './colors.scss';
  /* clears the 'X' from Internet Explorer */
// input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
// input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

// /* clears the 'X' from Chrome */
// input[type="search"]::-webkit-search-decoration,
// input[type="search"]::-webkit-search-cancel-button,
// input[type="search"]::-webkit-search-results-button,
// input[type="search"]::-webkit-search-results-decoration { display: none; }

.fieldset-title {
  align-items: flex-start;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  color: black;
  border-bottom: 1px solid $light-grey-color;
}
.fieldset-title mat-icon {
  margin-right: 1rem;
}
.fields--inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form__field,.form__submit-button {
  width: 100%;
}
.form__field {
  margin: 1rem 0;
  input {
      width: 100%;
      height: 2.5rem;
  }
  select  {
    height: 2.5rem;
  }
  label {
      margin-bottom:0.5rem ;
      @extend .mat-body;
      text-transform: capitalize;
      display: flex;
      align-items: center;
  }

}
.form__field__hint {
  @extend .mat-caption ,.font--dark-grey;
}
.form__submit-button {
  span {
      color: white;
  }
}
.form__field__error {
   color: red;
   @extend .mat-caption;
}

