@import './colors.scss';
  /* clears the 'X' from Internet Explorer */
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

/* clears the 'X' from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

.fieldset-title {
  align-items: flex-start;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  color: black;
  border-bottom: 1px solid $light-grey-color;
}
.fieldset-title mat-icon {
  margin-right: 1rem;
}
.fields--inline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  mat-form-field,.radio--container,mat-slide-toggle{
      min-width: 10rem;
      width: 45%;
  }

}

@media only screen and (max-width:600px) { 
  .fields--inline {
    display: flex;
    flex-direction: column;
    width: 100%;
    mat-form-field,.radio--container,mat-slide-toggle{
       min-width: 5rem;
        width: 100%;
        margin: 0.75rem 0;

    }
    .radio--container,mat-slide-toggle {
    }
  
  }
}
