$config: mat-typography-config();
/* Gutters */
$global-horizontal-gutter:calc(0.5rem + 1.5vw);
*:focus {
  outline: 0;
}

* {
    box-sizing: border-box;
  }






html, body { height: 100%; }
body { margin: 0;
       scroll-behavior: smooth;
       font-family: Roboto, "Helvetica Neue", sans-serif;}
@media only screen and (max-width:720px)  {
        html {
          font-size: 12px;
        }
      }

.mat-paginator-container {
        justify-content: center!important;
        flex-wrap: wrap!important;
    }