$config: mat-typography-config();
/* Gutters */
$global-horizontal-gutter:calc(0.5rem + 1.5vw);
*:focus {
  outline: 0;
}

* {
    box-sizing: border-box;
  }

li {
    list-style-type: none;
}
li:hover {
  background-color: $light-grey-color;
  cursor: pointer;
}
p {
  margin : 0;
}


html, body { height: 100%; }
body { margin: 0; 
       font-family: Roboto, "Helvetica Neue", sans-serif;}
@media only screen and (max-width:720px)  {
        html {
          font-size: 12px;
        }
      }