.center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 50000000;
  }
  .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
  } 

  .dot {
    height: 0.8rem;
    width: 0.8rem;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    transition: 0.2s;
    cursor: pointer;
  }
  .dot:hover {
    transform: scale(1.25);
  }
  .dot:not(:first-child) {
    margin-left: 1em;
  }
  .space-divider {
    flex: 1 1 auto;
  }
  .column {
    display: flex;
    flex-direction: column;
  }
  .column--center {
    @extend .column;
    align-items: center;
  }
  .inline--centred {
    display: flex;
    align-items: center;
    mat-icon {
      @extend .mr2
  
    }
  }
  .menu--shared-style {
    height: 5.1825rem;
    background: linear-gradient(91.53deg, #E6ECF5 15.98%, #BFC8D8 155.4%, rgba(238, 243, 250, 0.526042) 188.7%);
    padding:  0.5rem 10rem;
    @media only screen and (max-width:1024px) { 
      padding:  0.5rem 5rem;
    }
    @media only screen and (max-width:600px) { 
      padding:  0.5rem 2rem;
    }

  }