@import "src/styles.scss";
@import "src/app-themes.scss";


.list-header {
  padding : 1em 4em 1em 4em;
  margin-bottom: 2em;
  margin-top: 4em;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);
}

.upper-section {
  display: flex;
  flex-direction: row;
  margin : 0 4em 4em 4em;
}

.description {
  flex : 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title-section {
    margin-bottom: 2em;
    div {
      float: left;
    }
    #collection-icon {
      float: right;
      width: 3rem;
      margin-top: 1rem;
    }
  }
  .description__content {
    min-height: 8rem;
    .description__text {
      padding: 1rem 1rem;
      p  {
        text-align: justify;
      }

    }


  }

   .feature-container {
     margin : 1rem 0 1rem 0;
     display: flex;
     justify-content: center;
     .feature-icon-button--large {
       width : 3rem;
       height: auto;
       margin: 0 2rem;

     }

   }
   .description__spacer {
     flex : 1 1 auto;
   }
}



::ng-deep .mat-tab-labels{
  justify-content: space-evenly;
  .mat-tab-label-content {
    font-weight: bold;
  }

  
}


.carousel {
  flex : 1 1 50%;
  padding : 0em 1em 0 0 ;
  .main-image {
    display: flex;
    justify-content: space-between;
  }
  .main-image__arrow {
    align-self:center;
    transition: 0.3s ease;
    @include mdc-icon-button-size(2rem);
  }

  div {
    flex: 1 1 auto;
    padding: 0 1em 0 1em;
    img {
       height: auto;
       width: 100%;
    }
  }
  .images-selector {
    margin-top : 1.5em;
    display: flex;
    justify-content: center;
  }

}




.technical-description {
  margin : 0 4em 4em 4em;

.technical-data-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2em;
}
  table {
  
  border-collapse: collapse;
  border : 1.5px solid rgba(30, 30, 30, 0.4);  
    th {
      border-top: 1.5px solid rgba(30, 30, 30, 0.4);  
      border-bottom: 1.5px solid rgba(30, 30, 30, 0.4);  
      padding:  0.5em 0 0.5em 0 ;
      font-weight: 600;
      font-size: 1rem;
    }     
  }

 .variants-dimension-data {
   width: 70%;
   border-collapse: collapse;
   border : 1.5px solid rgba(30, 30, 30, 0.4);  
   .variant-reference {
    margin-top : -1.25em;
    margin-bottom : -0.1em;
  }
    td,th {
      text-align: center;
    }
    td:first-child , th:first-child {
      border-left: 1.5px solid rgba(30, 30, 30, 0.4);  
      border-right: 1.5px solid rgba(30, 30, 30, 0.4);  
    }

    tr:nth-child(2n) {
      background: #F0E8CC;
    }
  

 }

  .component-detail {
    width: 25%;
    border-right: 1.5px solid rgba(30, 30, 30, 0.4);  
    td {
      background-color: white;
      display: flex;
      flex-direction: column; 
      justify-content: space-around;
      align-items: center;

    }
    article {
      min-width: 80%;
      margin: 1em;
    }
    .variant-component-upper-section {
      display: flex;
      border-bottom: 1px solid #7F6A23; 
      align-items: flex-end;
      justify-content: space-between;
    }
    .feature-icon {
      margin-left: auto;
    }
    .variant-component-designation {
      font-weight: 600;
      margin-bottom: 0em;
    }
    .variant-component-spec {
      font-weight: 400;
      margin-bottom: 0em;
      font-style: italic;

    }
    
  }
  


}

.related-product {
  margin : 0 6em 4em 6em;

}
.component-detail__icon{
  width: 2rem;
  height: auto;
}
  @media only screen and (max-width:960px)
  {
  
  .upper-section {
    display: flex;
    flex-direction: column;
    .carousel {
      .main-image {
        mdc-icon {
          display: none;
        }
      }
    }

  }
  .title-section {
    margin-top : 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      p {
        text-align:center;
      }
    }
    #collection-icon {
      margin: 0;

    }

  }
}


@media only screen and (max-width:800px)
{
  
  table {
    width: 100%;
    margin: 2em 0 2em 0;
  }
}

@media only screen and (max-width:840px) {
  .upper-section {
    margin : 0 2em 4em 2em;
  }
  .list-header {
    padding : 1em 2rem 1em 2rem;
  }
  

.technical-description {
  margin : 0 2em 4em 2em;

  .technical-data-container {
    flex-direction: column;
    .variants-dimension-data {
      width: 100%;
      
      
    }
    .component-detail {
      article {
        min-width: auto;
      }
      width: 100%;
      td {
        flex-direction: row;
      }
    }
  }

}
}


