<app-product-breadcrumb class="mat-elevation-z1 mat-body-strong breadcrumb"></app-product-breadcrumb>
<aside class="carousel">
  <mat-icon>expand_less</mat-icon>
  <img src="../../../assets/pictures/03857_01.jpg">
  <img src="../../../assets/pictures/03856_01.jpg">
  <img src="../../../assets/pictures/Product list_1.jpg">
  <mat-icon>expand_more</mat-icon>
</aside>
<section class="image">
<img src="../../../assets/pictures/big_pic.jpg">
</section>
<section class="description">
  <p class="mat-h2">Steamer (Couscoussier)</p>
  <p class="mat-small">Reference : 215546</p>
  <mat-divider></mat-divider>
  <p class="mat-body description__text">
    Area of Use Our Hand-hammered Copper Couscoussier consists of two pots; a perforated top pot to steam couscous, rice or vegetable, while cooking meat or even boil pasta in the bottom pot. Materials: The Copper main core provides an excellent heat conduction and distribution around the entire surface of the cookware, while the tin hand-coated interior allows healthy cooking and non reactivity with acidic foods. Aesthetic: Its hand-hammered finish and shine-polished Brass casted Handle make it strikingly beautiful to serve in or to decorate the kitchen.
  </p>
  <mat-divider></mat-divider>
</section>
<section class="technical-description">
  <p class="mat-h2">Technical description</p>
  <mat-divider></mat-divider>
  <div class="technical-data-container">

  <div class="technical-description__col">
   <p class="mat-h3">Available variants</p>
   <mat-radio-group color="primary">
      <mat-radio-button class="mat-body" [value]="'Variant 1'">
        Variant 1
      </mat-radio-button>
      <mat-radio-button class="mat-body" [value]="'Variant 2'">
          Variant 2
        </mat-radio-button>
        <mat-radio-button class="mat-body" [value]="'Variant 2'">
            Variant 3
          </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="technical-description__col">
   <p class="mat-h3">Dimensions</p>
   <p class="mat-body">Height : 15cm</p>
   <p class="mat-body">Diameter : 12cm</p>
   <p class="mat-body">Thickness : 2mm</p>
   <p class="mat-body">Capacity : 20l</p>
   
  </div>


  <div class="technical-description__col">
    <p class="mat-h3">Components</p>
  </div>
  <mat-divider></mat-divider>
</div>

</section>
<section class="related-product">
  related product
</section>
