@import "src/styles.scss";


.list-header {
  padding : 1rem $global-horizontal-gutter ;
  margin-bottom: 2em;
  margin-top: 4em;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);
}

.upper-section {
  display: flex;
  flex-direction: row;
  margin : 0 $global-horizontal-gutter 4em $global-horizontal-gutter;
}

.description {
  flex : 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title-section {
    margin-bottom: 2em;
    div {
      float: left;
    }
    #collection-icon {
      float: right;
      width: 3rem;
      margin-top: 1rem;
    }
  }
  .description__content {
    min-height: 8rem;
    .description__text {
      padding: 1rem 1rem;
      p  {
        text-align: justify;
      }

    }


  }

   .feature-container {
     margin : 1rem 0 1rem 0;
     display: flex;
     justify-content: center;
     .feature-icon-button--large {
       width : 3rem;
       height: auto;
       margin: 0 2rem;

     }

   }
   .description__spacer {
     flex : 1 1 auto;
   }
}



::ng-deep .mat-tab-labels{
  justify-content: space-evenly;
  .mat-tab-label-content {
    font-weight: bold;
  }

  
}


.carousel {
  flex : 1 1 50%;
  padding : 0em 1em 0 0 ;
  .main-image {
    display: flex;
    justify-content: space-between;
  }
  .main-image__arrow {
    align-self:center;
    transition: 0.3s ease;
    @include mdc-icon-button-size(2rem);
  }

  div {
    flex: 1 1 auto;
    padding: 0 1em 0 1em;
    img {
       height: auto;
       width: 100%;
    }
  }
  .images-selector {
    margin-top : 1.5em;
    display: flex;
    justify-content: center;
  }

}




.technical-description {
  margin : 0 $global-horizontal-gutter;

.technical-data-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2em;
}
  table {
  margin: 2em 0;
  border-collapse: collapse;
  border: 1px solid $color-border-grey;  

    th,td {
      padding:  1rem;
      text-align: left;

    }     
    th {
      font-weight: 600;

    }
    tr:first  {
      border-top: 1px solid $color-border-grey;  
      border-bottom: 1px solid $color-border-grey;  
    }
    tr  {
      border-bottom: 1px solid $color-border-grey;  
    }
  }



  .component-detail {
    .componnent-designation__aligned {
      display: flex;
      align-items: center;
      mdc-icon {
        width : 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.related-product {
  margin : 0 $global-horizontal-gutter;

}
.component-detail__icon{
  width: 2rem;
  height: auto;
}
  @media only screen and (max-width:960px)
  {
  
  .upper-section {
    display: flex;
    flex-direction: column;
    .carousel {
      .main-image {
        mdc-icon {
          display: none;
        }
      }
    }
  }
  .title-section {
    margin-top : 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      p {
        text-align:center;
      }
    }
    #collection-icon {
      margin: 0;

    }
  }
}



