@import "src/styles.scss";
@import "src/app-themes.scss";

:host {
    padding:  0 4em 0 4em;
    display : grid ;
    grid-template-columns : 1fr 5fr 5fr;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    grid-template-areas :
    "breadcrumb_area breadcrumb_area breadcrumb_area"
    "carousel_area image_area  description_area"
    "technical-description_area technical-description_area technical-description_area"
    "related-product_area related-product_area related-product_area";
}

.breadcrumb {
    grid-area: breadcrumb_area;
}
.carousel {
    grid-area: carousel_area;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;
    div {
        display: flex;
        flex-direction:column;
        justify-content: flex-start;
        flex-grow: 1;
        img {
            width:100%;
            padding: 0.5em 0 0.5em 0
          }
        img:hover {
            cursor: pointer;
        }
    }


    mat-icon {
        transform: scale(3);
    }
    mat-icon:hover {
        cursor: pointer;
    }
}
.image {
    grid-area: image_area;

img {
    width: 100%;
    flex : 0 0 20%;

}
}


.technical-description {
    grid-area: technical-description_area;
    .technical-data-container {
        display: flex;
        justify-content:space-around;
    }
    .mat-h3 {
        font-weight: 500;
    }
    .mat-body-2{
        font-weight: 500;
    }
    mat-radio-group {
        display: flex;
        flex-direction: column;
        mat-radio-button{
            margin-bottom: 1em;
        }
    }
    .technical-description__col__header {
      text-decoration: underline;
    }

}

.related-product {
    grid-area: related-product_area;
}

.description {
    grid-area: description_area;

    .description__text {
      overflow: hidden;
      font-style:italic;
     }
     .description__color--grey {
      color: $color-text-grey;
      font-weight: 500;

     }
}


@media only screen and (max-width:960px) {

  :host {
    padding:  0 1em 0 1em;
    display : grid ;
    grid-template-columns : 1fr 5fr 5fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-areas :
    "breadcrumb_area breadcrumb_area breadcrumb_area"
    "image_area image_area image_area"
    "description_area description_area description_area"
    "technical-description_area technical-description_area technical-description_area"
    "related-product_area related-product_area related-product_area";
  }
}

