@import "src/styles.scss";


.list-header {
  padding : 1rem $global-horizontal-gutter ;
  margin: 2.5rem 0;
  border-bottom: 1px solid rgba(30, 30, 30, 0.3);
  border-top: 1px solid rgba(30, 30, 30, 0.3);
}

.upper-section {
  display: flex;
  flex-direction: row;
  margin : 0 $global-horizontal-gutter 4em $global-horizontal-gutter;
}

.description {
  flex : 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .title-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    mdc-icon {
      width: 2.5rem;
      margin-top: 0.5rem;
    }
    div {
      margin-right: auto;
      margin-left: 0.5rem;

      .text--grey {
        color:$color-text-grey; 
      }
    }
    button {
      @include mdc-button-ink-color($color-text-grey);

    }
  }
  .description__content {
    min-height: 8rem;
    .description__text {
      padding: 1rem 1rem;
      p  {
        text-align: justify;
      }

    }


  }

   .feature-container {
     margin : 1rem 0 1rem 0;
     display: flex;
     justify-content: center;
     .feature-icon-button--large {
       width : 3rem;
       height: auto;
       margin: 0 2rem;

     }

   }
   .description__spacer {
     flex : 1 1 auto;
   }
}




.carousel {
  flex : 1 1 50%;
  .main-image {
    display: flex;
    justify-content: space-between;
    position: relative;
    .inbox-center {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
    }
    
  }


  div {
    flex: 1 1 auto;
    padding: 0 1rem;
    img {
       height: auto;
       width: 100%;
    }
    @media only screen and (max-width:960px){
      padding: 0 ;

    }
    
  }
  .images-selector {
    
    margin-top : 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .dots-container {
      display: flex;
      justify-content: center;

    }

  }

}




.technical-description {
  margin : 0 $global-horizontal-gutter;

.technical-data-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 2em;
}
  table {
  margin: 2em 0;
  border-collapse: collapse;
  border: 1px solid $color-border-grey;  

    th,td {
      padding:  1rem;
      text-align: left;

    }     
    th {
      font-weight: 600;

    }
    tr:first  {
      border-top: 1px solid $color-border-grey;  
      border-bottom: 1px solid $color-border-grey;  
    }
    tr  {
      border-bottom: 1px solid $color-border-grey;  
    }
  }



  .component-detail {
    .componnent-designation__aligned {
      display: flex;
      align-items: center;
      mdc-icon {
        width : 2rem;
        margin-right: 1rem;
      }
    }
  }
}

.related-product {
  margin : 0 $global-horizontal-gutter;

}
.component-detail__icon{
  width: 2rem;
  height: auto;
}
  @media only screen and (max-width:960px)
  {
  
  .upper-section {
    display: flex;
    flex-direction: column;
    z-index: 100;
    .title-section {
      margin : 1.5rem 0 ;

    }
  }
}



