.main-container {
  display: grid;
  grid-template-columns: repeat(5,minmax(0,1fr));
  column-gap: 1rem;
  grid-template-rows: 3rem auto;
  row-gap: 2rem;
  grid-template-areas: 
  "title title images images images"
  "gen-desc gen-desc images images images"
  "tech-title tech-title tech-title tech-title tech-title"
  "dimension dimension dimension materials materials"
  "features features features componnents componnents";
  @media only screen and (max-width:1000px) {
    grid-template-columns: repeat(2,minmax(0,1fr));
    grid-template-areas: 
    "title title"
    "images images"
    "gen-desc gen-desc"
    "tech-title tech-title"
    "dimension dimension"
    "componnents materials"
    "features features";
  }
  @media only screen and (max-width:600px) {
    grid-template-areas: 
    "title title"
    "images images"
    "gen-desc gen-desc"
    "tech-title tech-title"
    "dimension dimension"
    "materials materials"
    "componnents componnents"
    "features features";
  }
}
.product-title {
  grid-area: title;
}
.general-description {
  grid-area: gen-desc;
  p {
    text-align: justify;
  }
}
.images-container {
  grid-area: images;

}
.technical-details-title {
  grid-area: tech-title;
}
.features {
  grid-area: features;

}
.dimension {
  grid-area: dimension;
}
.materials {
  grid-area: materials;
}
.componnents {
  grid-area: componnents;
}
.mat-h1 {
  margin: 0;
}