@import "src/styles.scss";
@import "src/app-themes.scss";

:host {
    padding:  0 4em 0 4em;
    display : grid ;
    grid-template-columns : 1fr 6fr 5fr;
    grid-row-gap:3em;
    grid-column-gap: 1em;
    grid-template-areas :
    "breadcrumb_area breadcrumb_area breadcrumb_area"
    "image_area image_area  description_area"
    "carousel_area carousel_area  description_area"
    "technical-description_area technical-description_area technical-description_area"
    "related-product_area related-product_area related-product_area";
}

.breadcrumb {
    grid-area: breadcrumb_area;
}
.carousel {
    grid-area: carousel_area;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding : 0em 1em 0 1em ;
        img {
            flex: 0 0 15%;
            max-width: 15%;
          }
        img:hover {
            cursor: pointer;
        }

}


.image {
    grid-area: image_area;

img {
    width: 100%;
    flex : 0 0 20%;

}
}


.technical-description {
    grid-area: technical-description_area;

    h3 {
        font-weight: 500;
    }
    .mat-body-2{
        font-weight: 500;
    }




}

.related-product {
    grid-area: related-product_area;
      .mat-h3 {

      }
}

.description {
    grid-area: description_area;

    .description__text {
      overflow: hidden;
      font-style:italic;
     }
    .description__sub-title {
      display: flex;
      mat-icon {
        width: 1.5em;
        margin-left: 1em;
       }
       .content--spacer {
         flex : 1 1 auto;
       }


     }

}
.description__color--grey {
  color: $color-text-grey;
  font-weight: 500;

 }




@media only screen and (min-width:600px)
{
  mat-accordion {
    display: none;

  }

}

@media only screen and (max-width:960px) {

  :host {
    padding:  0 1em 0 1em;
    display : grid ;
    grid-template-columns : 1fr;
    grid-row-gap: 2em;
    grid-column-gap: 1em;
    grid-template-areas :
    "breadcrumb_area "
    "image_area"
    "carousel_area"
    "description_area"
    "technical-description_area"
    "related-product_area";
}

.technical-data-container {
  display: flex;
  flex-direction: column;
}

  .exp-panel__content {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   mat-divider {
     margin-top : 5em;
   }
  }
}



  @media only screen and (max-width:600px) {

    .components-detail__divider--hide
    {
      display: none;
    }

    mat-table {
      display: none;
    }
    .components-detail__divider--hide
    {
    display: block;
    }


}
