<app-product-breadcrumb class="mat-elevation-z1 mat-body-strong breadcrumb"></app-product-breadcrumb>
<section class="carousel">
  <mat-icon>arrow_drop_up</mat-icon>
   <div>
  <img (click)="updateImage(image?.content)" [src]="image?.content" *ngFor ="let image of product?.images">
   </div>
  <mat-icon>arrow_drop_down</mat-icon>
</section>
<section class="image">
<img [src]="selectedImage">
</section>
<section class="description">
  <p class="mat-h2">{{product?.designation}}</p>
  <p class="mat-body-strong description__color--grey">{{product?.exteriorMaterial.designation}} - {{product?.exteriorMaterial.color}}</p>
  <mat-divider></mat-divider>
  <p class="mat-body description__text">
    {{product?.description}}
  </p>
  <mat-divider></mat-divider>

</section>

<section  class="technical-description">

  <table class="mat-typography m0">
    <tr>
        <th class="v-center" *ngFor="let element of displayedColumns" ><h5 class="v-center">{{element | uppercase}}</h5></th>
    </tr>
    <tr *ngFor="let variant of product.variants; let i = index" >
         <td>
            <h5>{{variant.reference || 'AAA23B'}}</h5>
         </td>
         <td>
          <h5>{{variant.reference || 'AAA23B'}}</h5>
       </td>
         <td>
             <h5>{{variant.height}}</h5>
         </td>
         <td>
             <h5>{{variant.thickness}}</h5>
         </td>
         <td>
             <h5>{{variant.capacity}}</h5>
         </td>
         <td>
          <h5>{{variant.diameter}}</h5>
      </td>
    </tr>
</table>


</section>

<section class="features mat-typography">
     <div>
    <mat-icon  inline ="True" svgIcon='Table_ware'></mat-icon>
    <h6>Feat for cooking</h6>
  </div>
  <div>
    <mat-icon  inline ="True" svgIcon='Cook_ware'></mat-icon>
    <h6>Feat for Exterior</h6>
  </div>
  <div>
    <mat-icon  inline ="True" svgIcon='Serve_ware'></mat-icon>
    <h6>Professional wear</h6>
  </div>

</section>

<section class="related-product">

  <p class="mat-h2">related product</p>
  <mat-divider></mat-divider>
</section>
