<app-product-breadcrumb class="mat-elevation-z1 mat-body-strong breadcrumb"></app-product-breadcrumb>
<section class="carousel">
  <img (click)="updateImage(image?.content)" [src]="image?.content" *ngFor ="let image of product?.images">
</section>
<section class="image">
<img [src]="selectedImage">
</section>
<section class="description">
  <p class="mat-h2">{{product?.designation}}</p>
  <p class="mat-body description__color--grey">{{product?.exteriorMaterial.designation}} - {{product?.exteriorMaterial.color}}</p>
  <mat-divider></mat-divider>
  <p class="mat-body description__text">
    {{product?.description}}
  </p>
  <mat-divider></mat-divider>

</section>

<section  class="technical-description">
    <p class="mat-h2">TECHNICAL DETAILS</p>
    <mat-divider></mat-divider>
  <mat-table [dataSource]="product?.variants" >

    <!-- Designation Column -->
    <ng-container matColumnDef="variants">
      <mat-header-cell  *matHeaderCellDef> <h3>Variants</h3> </mat-header-cell>
      <mat-cell  *matCellDef="let element">
          <mat-list dense>
              <mat-list-item class="mat-body-2"><h3>{{element.designation}}</h3></mat-list-item>
              <mat-list-item>{{element.reference}}</mat-list-item>
          </mat-list>
      </mat-cell>
    </ng-container>

    <!-- Dimensions Column -->
    <ng-container matColumnDef="dimensions">
      <mat-header-cell *matHeaderCellDef> <h3>Dimensions</h3> </mat-header-cell>
      <mat-cell  *matCellDef="let element">
          <mat-list dense>
              <mat-list-item>Height : {{element.height.toString()}}</mat-list-item>
              <mat-list-item>Diameter : {{element.diameter.toString()}}</mat-list-item>
              <mat-list-item>Thickness : {{element.thickness.toString()}}</mat-list-item>
              <mat-list-item>Capacity : {{element.capacity.toString()}}</mat-list-item>
           </mat-list>
         </mat-cell>
    </ng-container>

    <!-- Components Column -->
    <ng-container matColumnDef="components">
      <mat-header-cell *matHeaderCellDef> <h3>Components</h3> </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <mat-list dense>
              <mat-list dense *ngFor="let component of element.components; last as isLast ">
                      <mat-list-item class="mat-body-2">{{component.designation}}</mat-list-item>
                      <mat-list-item>{{component.measure_type}} : {{component.measure.toString()}} </mat-list-item>
                      <mat-list-item>material : {{component.material.designation}}</mat-list-item>
                      <mat-divider *ngIf="!isLast"></mat-divider>
              </mat-list>
            </mat-list>
      </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row class="mat-body" *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <mat-accordion multi="true">
    <mat-expansion-panel class="mat-gutter--bottom--16" *ngFor="let variant of product?.variants">
        <mat-expansion-panel-header>
          <mat-panel-title>
              {{variant.designation}}
          </mat-panel-title>
          <mat-panel-description>
              {{variant.reference}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-divider></mat-divider>
    <div class="exp-panel__content">
      <div>
        <h3>Dimensions</h3>
        <mat-list dense>
            <mat-list-item>Height : {{variant.height.toString()}}</mat-list-item>
            <mat-list-item>Diameter : {{variant.diameter.toString()}}</mat-list-item>
            <mat-list-item>Thickness : {{variant.thickness.toString()}}</mat-list-item>
            <mat-list-item>Capacity : {{variant.capacity.toString()}}</mat-list-item>
         </mat-list>

    </div>
    <mat-divider vertical="true"></mat-divider>
    <div>
        <h3>Components</h3>
        <mat-list >
            <mat-list dense *ngFor="let component of variant.components; last as isLast ">
                    <mat-list-item class="mat-body-2">{{component.designation}}</mat-list-item>
                    <mat-list-item>{{component.measure_type}} : {{component.measure.toString()}} </mat-list-item>
                    <mat-list-item>material : {{component.material.designation}}</mat-list-item>
                    <mat-divider *ngIf="!isLast"></mat-divider>
            </mat-list>
          </mat-list>
    </div>
    </div>
    </mat-expansion-panel>

  </mat-accordion>


</section>

<section class="features mat-typography">
  <figure>
    <mat-icon matTooltip="Cook wear" inline ="True" svgIcon='Table_ware'></mat-icon>
    <figcaption>feat for cooking</figcaption>
  </figure>
  <figure>
    <mat-icon matTooltip="Exterior wear" inline ="True" svgIcon='Cook_ware'></mat-icon>
    <figcaption>feat for exterior</figcaption>
  </figure>
  <figure>
    <mat-icon matTooltip="Professional wear" inline ="True" svgIcon='Serve_ware'></mat-icon>
    <figcaption>professional wear</figcaption>
  </figure>

</section>

<section class="related-product">

  <p class="mat-h2">SIMILAR PRODUCTS</p>
  <mat-divider></mat-divider>
</section>
