:host,header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
  max-width: 540px;
  width: 100%;
}
.input--large-width {
   height: 2.5rem;
   width: 100%;
}
section.inline--centred--spaced {
  align-self: flex-start;
}
