@import "src/styles.scss";
section
{

    span:hover{
     cursor: pointer;
    }
    mat-icon {
      vertical-align:middle;
      font-size: 1.2em;
      margin-bottom: -0.45em;
      margin-left: 0.45em

    }
    span {
      font-weight: 600;
      font-family: 'Raleway';
      font-size: 1em;
    }
}

