@import "src/styles.scss";
section
{

    span:hover{
     cursor: pointer;
    }
    mat-icon {
      vertical-align:middle;
      font-size: 1.4rem;

    }
    span {
      font-weight: 600;
      font-family: 'Raleway';
      font-size: 0.8rem;
    }
}

