<section *ngIf="(breadCrumb$ | async)?.length > 0" class="inline--centred">
    <ng-container *ngIf="!currentProduct">
    <p  i18n 
    [routerLink]="['/product/list']" 
    queryParamsHandling="merge"

    [queryParams]="{categories__designation__in: '',page:1}">
        ALL PRODUCTS
    </p>
    <mat-icon inline="true">keyboard_arrow_right</mat-icon>
    </ng-container>
        <ng-container *ngFor="let item of breadCrumb$ | async; last as isLast ; first as isFirst">
            <p  
                [routerLink]="['/product/list']"  
                queryParamsHandling="merge"
                [queryParams]="{categories__designation__in: item.designation,page:1}">
                {{item.designation | uppercase}}
            </p>
            <mat-icon inline="true" *ngIf="!isLast">keyboard_arrow_right</mat-icon>
        </ng-container>
    </section>
