:host {
  display: flex;
  flex-direction: column;
  align-items: center;

}
.upper-text {
  text-align:center;
  margin-bottom: 2rem;
  margin-top: 2rem
}
.header--medium {
  font-size: 3rem;

}
.sentence--small {
  font-size: 1.25rem;
  color: rgba(30, 30, 30, 0.66);
  border-top:  solid thin rgba(30, 30, 30, 0.66);
  border-bottom:  solid thin rgba(30, 30, 30, 0.66);
  width: 20em;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem 0 1rem 0 ;
}

.image-list--large-screen {
  margin-top : 3rem; 
  display: flex;
  justify-content: space-evenly;
  position: relative;
  width: 100%;


}
img {
  width : 20rem;
  max-height: 100%;
  filter: saturate(60%);
  transition: 0.3s ease;
  min-width: 20rem;


}
.collection-title {
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  width : 20rem;
  color : white;
  bottom: 0.4rem;
  text-align:center;
  font-size: 1rem;
  padding: 0.5rem 0 0.5rem 0 ;
  opacity: 0;
  transition: 0.3s ease;
}

.collection-description {
  text-align: center;
  width: 100%;
  color: #1E1E1E;
  margin : 3rem auto 3rem auto;
  border-top:  solid thin rgba(30, 30, 30, 0.66);
  border-bottom:  solid thin rgba(30, 30, 30, 0.66);
  padding: 1rem 5rem 1rem 5rem ;
  transition: 0.3s ease;
}
.image-list--small-screen {
  display: none;
  .main-image {
    display: flex;
    justify-content: space-between;
  }
  mdc-icon {
    align-self:center;
    transform: scale(2);  
    color: rgba(0, 0, 0, 0.5);
  }
  div {
    padding: 0 1rem 0 1rem;
    img {
       height: auto;
       width : 40vw;

    }
  }
  .images-selector {
    display: flex;
    justify-content: center;
    margin-top : 1.5rem;


  }

}
 #collection-icon {
   margin-top : 2.5rem;
   width: 4rem;
   height: auto;
 }
  


@media only screen and (max-width:960px)
{
  .image-list--small-screen {
    display: block;
  }
  .image-list--large-screen {
    display: none;
  }
  .collection-description {
    padding: 1rem 2rem 1rem 2rem ;
  }
}