
<div class="upper-text">
    <p class="header--medium">OUR COLLECTION</p>
    <p class="sentence--small">Inspired of millenium carthage history</p>
</div>
<section class="image-list--large-screen">
  <article *ngFor="let collection of collections; let i = index">
    <img  [style.opacity]="i == selectedIndex ? '1': '0.8'" (mouseenter)="toggleCollection(i)" (mouseleave)="toggleCollection(0)" [src]="collection.thumbNail.content">
    <div class="collection-title" [style.opacity]="i == selectedIndex ? 1 : 0">
      {{collection.designation | uppercase}}
    </div>
  </article>
</section>

<section class="image-list--small-screen">
  <section class="main-image">
    <mdc-icon (click) = "stepUpdateImage(-1)">keyboard_arrow_left</mdc-icon>
    <div>
      <img [@imageChangeTrigger] ="getState()" (swipeleft) = "stepUpdateImage(-1)" (swiperight) = "stepUpdateImage(1)" [src]="selectedImage">
    </div>
    <mdc-icon (click) = "stepUpdateImage(1)" >keyboard_arrow_right</mdc-icon>
  </section>
  <section class='images-selector'>
      <span [style.background-color] = "i == selectedIndex ? '#7F6A23' : 'black'" (click) = "updateImage(i)" class="dot" *ngFor='let el of counter() ;let i = index'></span>
  </section>
</section>
<mdc-icon id="collection-icon" [svgIcon]="selectedCollection.svgIcon.designation"></mdc-icon>

<div class="collection-description">
  <p>{{selectedCollection.description}}</p>
</div>
