<main class="column--center">
  <img [src]="category.thumbNail.content" class="root-category">
  <h1>
    DISCOVER THE PLEASURE OF COOKING
  </h1>
  <p class="mat-subheading-1">
    {{category.description | lowercase}}
  </p>
  <a 
  [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: category.designation}" [queryParamsHandling]= "'merge'"
  class="mt4" 
  color="primary" 
  mat-flat-button>
    <span class="mat-subheading-1 text--color">
      Discover our {{category.designation | titlecase}} articles
    </span>
  </a>
</main>
