
<div class="upper-text">
    <p class="header--medium">OUR COLLECTION</p>
    <p class="sentence--small">Inspired of millenium carthage history</p>
</div>
<section class="image-list--large-screen">
  <article *ngFor="let collection of collections; let i = index">
    <img [style.opacity]="i == selectedIndex ? '1': '0.8'" (mouseenter)="toggleCollection(i)" (mouseleave)="toggleCollection(-1)" src="../../../assets/images/Pic_1.jpg">
    <div class="collection-title" [style.opacity]="i == selectedIndex ? 1 : 0">
      {{collection.designation | uppercase}}
    </div>
  </article>
</section>

<section class="image-list--small-screen">
  <section class="main-image">
    <mat-icon (click) = "stepUpdateImage(-1)">keyboard_arrow_left</mat-icon>
    <div>
      <img [@imageChangeTrigger] ="isImageReady ? 'in' : 'out'" (swipeleft) = "stepUpdateImage(-1)" (swiperight) = "stepUpdateImage(1)" src="../../../../assets/images/Pic_1.jpg">
    </div>
    <mat-icon (click) = "stepUpdateImage(1)" >keyboard_arrow_right</mat-icon>
  </section>
  <section class='images-selector'>
      <span [style.background-color] = "i == selectedIndex ? '#7F6A23' : 'black'" (click) = "updateImage(i)" class="dot" *ngFor='let el of counter() ;let i = index'></span>
  </section>
</section>
<mat-icon id="collection-icon" svgIcon="Hanno"></mat-icon>

<div class="collection-description">
  <p>{{hoveredDescription}}</p>
</div>
