@import "src/app-themes.scss";
@import "src/styles.scss";


.content__image-container__product-box__sub-text {
    display: flex;
}

 h4  {
  font-weight: bold;
  padding-left : 0.5em;
  margin-bottom: 0.25em;
  padding-right : 0.5em;
}
h5 {
   color: $color-text-grey;
   font-weight: 500;
}

.box--list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 20%;
}

.img-box--grid
{
max-width: 100%;
border-bottom: inset;
border-bottom-width: 0.15em;
}

.img-box--list {

    border-bottom: inset;
    border-bottom-width: 0.15em;
    height: 10em;
}

table {
    width : 100%;
    border: 0;
    border-collapse: collapse;

    th {
        background-color: black;
        color : white;
        text-align: center;


        h6 {
            font-weight: 500;
            margin-bottom: 0em;

        }
        h5 {
           font-weight: 700;
           margin: 0;
           padding: 0;
        }
    }
    tr:nth-child(2n+1) {
        background-color: $color-grey;
    }
    td {
      text-align: center;
      color: black;
    }


}
.mat-expansion-panel-header
{
    padding :0 0.5em 0 0.5em;
}


  .mat-expansion-panel-body {
    padding: 0;
}



img:hover
{
 cursor: pointer;
}
.product-box__variant-row
   {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
