<div [ngClass]="currentClasses">
<img  [ngClass]="imgClasses" [routerLink]="['../', productShort.pk]" [src]="productShort.thumbNail">
<h4>{{productShort.designation}}</h4>

  <mat-expansion-panel>
    <mat-expansion-panel-header>

      <mat-panel-title>
        <h5>{{productShort.variants.length}} available variants</h5>
      </mat-panel-title>

    </mat-expansion-panel-header>

    <mat-divider></mat-divider>
    <table>
        <tr>
            <th *ngFor="let element of displayedColumns" ><h6>{{element}}</h6></th>
        </tr>
        <tr *ngFor="let variant of productShort.variants; let i = index" >
             <td>
                <h6>{{variant.reference || 'AAA23B'}}</h6>
             </td>
             <td>
                 <h6>{{variant.height}}</h6>
             </td>
             <td>
                 <h6>{{variant.thickness}}</h6>
             </td>
             <td>
                 <h6>{{variant.capacity}}</h6>
             </td>
        </tr>
    </table>
  </mat-expansion-panel>

</div>
