<img [routerLink]="['../', productShort.pk]" [src]="productShort?.thumbNail">
<h5>{{productShort.designation}}</h5>
<div *ngIf="productShort.variants.length !== 0" class="content__image-container__product-box__sub-text">
    <h6>{{productShort.variants.length}} available variants</h6>
    <mat-icon *ngIf="!isDetail" (click)="toggle()">add_circle</mat-icon>
    <mat-icon *ngIf="isDetail" (click)="toggle()">remove_circle</mat-icon>

</div> 

<div *ngIf="isDetail">
   <table>
       <tr>
           <th *ngFor="let element of displayedColumns" ><h6>{{element}}</h6></th>
       </tr>
       <tr *ngFor="let variant of productShort.variants; let i = index" >
            <td> 
               <h6> {{variant.reference || 'AAA23BG85'}}</h6>
            </td>
            <td> 
                <h6>{{variant.height}}</h6>
            </td>
            <td> 
                <h6>{{variant.thickness}}</h6>
            </td>
            <td> 
                <h6>{{variant.capacity}}</h6>
            </td>
       </tr>
   </table>
</div>