
.table-container {
    max-width: 100%;
    overflow-x: auto;
}
table {
  min-width: 100%;
  width: 100%;
}
caption {
  display: block;
  text-align: left;
}
.quantity-field {
  max-width: 3rem;
}
input {
  max-width: 100%;
}
.quart {
  table {
    overflow: auto;
    max-height: 100%;
  }
}