<ng-container *ngIf="isPresentationMode else quartMode">
<span i18n class="mat-h3 font--dark-grey">Dimensions</span>
<mat-divider></mat-divider>
<section class="table-container">
  <caption class="pt2 font--dark-grey mat-caption">{variantsNumber(),plural,=1 {one dimension variant} other { {{variantsNumber()}} dimension variants}  }</caption>
<table [style.width]="tableWidth()" mat-table [dataSource]="dataSource">
  <!-- Position Column -->
  <ng-container sticky matColumnDef="ref">
    <th mat-header-cell *matHeaderCellDef> Ref </th>
    <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
  </ng-container>

  <ng-container  *ngFor="let columnName of dimensionColumns ; index as i"  [matColumnDef]="columnName">
    <th mat-header-cell *matHeaderCellDef> {{columnName | titlecase}} </th>
    <td mat-cell *matCellDef="let element"> {{getMeasure(element,columnName)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</section>
</ng-container>

<ng-template #quartMode>
  <section class="table-container">
    <table [style.width]="tableWidth()" mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container sticky matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Quantity </th>
        <td mat-cell *matCellDef="let element"> 
          <mat-form-field class="quantity-field" [formGroup]="quantityForm">
            <input  [formControlName]="element.designation" matInput type="number" min=0> 

          </mat-form-field>
            </td>
      </ng-container>

      <ng-container matColumnDef="ref">
        <th mat-header-cell *matHeaderCellDef> Ref </th>
        <td mat-cell *matCellDef="let element"> {{element.designation}} </td>
      </ng-container>
    
      <ng-container  *ngFor="let columnName of dimensionColumns ; index as i"  [matColumnDef]="columnName">
        <th mat-header-cell *matHeaderCellDef> {{columnName | titlecase}} </th>
        <td mat-cell *matCellDef="let element"> {{getMeasure(element,columnName)}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </section>
</ng-template>