

<header>
        <p  class="mat-caption alert" *ngFor="let item of authNonFieldError |async  | keyvalue">
                {{item.value}}
        </p>
</header>
        
        <form class="column--centred"   [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appControlValidatorMessage appearance="fill">
                        <mat-label i18n>email</mat-label>
                        <input   matInput type="email" formControlName="email" placeholder="email" id="email">
                        <mat-icon class="mr2"  matPrefix>person</mat-icon>
                        <mat-hint i18n>Enter your email adress</mat-hint>
                        <mat-error class="alert">
                        </mat-error>
                </mat-form-field>
                <mat-form-field appControlValidatorMessage class="mt2 mb6" appearance="fill">
                        <mat-label i18n>password</mat-label>
                        <input  matInput type="text" formControlName="password" id="password">
                        <mat-icon class="mr2" matPrefix>vpn_key</mat-icon>
                        <mat-hint i18n>Enter your password</mat-hint>
                        <mat-error  class="alert"></mat-error>
                </mat-form-field>
                                <button type="submit"
                                        mat-stroked-button color="primary">
                                        <span class="mat-body-2" i18n>
                                                Sign in with SMC
                                        </span>
                                </button>


                                </form>
