<header class="column--centred">
        <p i18n class="font--dark-grey mat-subheading-2">Please enter the following informations</p>
        <p class="mat-caption alert" *ngFor="let item of auth_non_field_error |async  | keyvalue">
                {{item.value}}
        </p>
</header>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form__field">
            <label for="email">
                <mat-icon class="mr2">email</mat-icon>
                <span i18n>Email </span>
            </label>
            <input appControlValidatorMessage required  type="email" formControlName="email" id="email">
        </div>
        <div class="form__field">
          <label for="email">
              <mat-icon class="mr2">vpn_key</mat-icon>
              <span i18n> password </span>
          </label>
          <input appControlValidatorMessage required  type="password" formControlName="password" id="password">
          <p class="mat-caption font--dark-grey" i18n>Forget yous password ?</p>
      </div>
                                <button class="form__submit-button mt4" type="submit"
                                        mat-raised-button color="primary" primary>
                                        <span i18n>
                                                Sign in with SMC
                                        </span>
                                </button>


                                </form>
