
@import "src/styles.scss";
:host {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    overflow: auto;
    white-space: nowrap;
}
.filter__title {
    padding-bottom: 0.25em;
    span {
        font-weight: bold;
    }
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 1em;

}
.form__group-content {
    flex-direction: column;
    display: none;
}

.filter-category--button {
    @include mdc-button-ink-color(black);
    font-size: 1em;
    span {
        text-transform: capitalize;
        span {
            text-transform: lowercase;
            font-style: italic;
            font-size: 0.8em;
        }
    }

    mdc-icon {
        transition: 0.15s ease-out;
    }
}

.filter-spacer {
    flex: 1 1 auto;
    min-width: 3em;
}
.clear-button {
    flex-shrink: 0;
}
