
@import "src/styles.scss";
:host{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    .title  {
        font-weight: bold;
        margin-bottom: 0.5rem;
    }
    .clear-button span {
        font-style: italic;
    }
}
section {
    display: flex;
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
form > * {
    flex-wrap: nowrap;

}
.form__group-content {
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    padding-right: 1.5rem;

}
.from-field__label {
    font-size: 0.75rem;
}
.filter-category__badge {

}


.filter-category--button {
    margin: 0 0.5rem;
    @include mdc-button-ink-color(black);
    @include mdc-button-shape-radius(50%);
    @include mdc-button-outline-color(black);
    font-size: 0.875rem;
    span {
        text-transform: capitalize;
        span {
            text-transform: lowercase;
            font-style: italic;
        }
    }

    mdc-icon {
        transition: 0.15s ease-out;
    }
}

.filter--inverted {
    @include mdc-button-ink-color(white);
    @include mdc-button-filled-accessible(black);

}

.filter-spacer {
    flex: 1 1 auto;    
}

