
@import "src/styles.scss";


form {
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
    width: 100%;
}


.form-group {
    display: block;
    margin-bottom : 1rem;
    header {
        color: $color-text-grey;
    }

}

.form__group-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
