
@import "src/styles.scss";
:host{
    display: flex;
    align-items: baseline;
}
section {
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    overflow: auto;
    white-space: nowrap;
}
.filter__title {
    flex-shrink: 0;
    
    padding-bottom: 0.15em;
    span {
        font-weight: 600;
        font-size: 1rem;
    }
}
form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-left: 1em;

}
form > * {
    flex-wrap: nowrap;

}
.form__group-content {
    flex-direction: column;
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: white;
    padding-right: 2rem;
}

.filter-category--button {
    @include mdc-button-ink-color(black);
    font-size: 1rem;
    span {
        text-transform: capitalize;
        span {
            text-transform: lowercase;
            font-style: italic;
        }
    }

    mdc-icon {
        transition: 0.15s ease-out;
    }
}

.filter-spacer {
    flex: 1 1 auto;    
}

