
<form  [formGroup]="filterForm">
    <div  class="form-group" *ngFor="let filterCategory of filterCategories">
            <header   class="mat-caption" >  
                {{filterCategory.value | titlecase }} 
            </header>
            <div class="form__group-content" [formGroupName]="filterCategory.key" >
                    <mat-checkbox  *ngFor="let choice of filterCategory.choices" [checked]="true" [formControlName]="choice.key" [id]="choice.key" indeterminateToChecked >
                        <span class="mat-body from-field__label">{{choice.value | titlecase}}</span>
                    </mat-checkbox>
            </div>
        <mat-divider></mat-divider>

    </div>
</form>
