<header class="inline--centred--spaced">
<h1 class="mat-h1">Preferences</h1>
<button mat-icon-button mat-dialog-close><mat-icon>close</mat-icon></button>

</header>
<main mat-dialog-content>
<section class="my4">
  <h3 class="mat-h3 inline--centred">
    <mat-icon class="mr2">payments</mat-icon>

    Set Your Payment Currency
  </h3>
  <div class="remark mat-body inline--centred mb4">
    <mat-icon class="mr2">report</mat-icon>
    <span class="mat-caption">Paiment Currency have little or no impact on the products prices as we regulary update our internal exchange rates. </span>
  </div>  
  <mat-list class="horizontal" dense>
    <a  
    mat-list-item
    [class.element--active]="(paimentCurrency$ | async)?.id == item.id"
    [routerLink] = "[]"
    [queryParams]="paimentCurrencyQueryParam(item)"
    [relativeTo]="currentRoute"
    
    *ngFor="let item of currencies$ | async">
      <div mat-list-icon>
        {{item?.symbol}}
      </div>            
      <div mat-line>
        <span class="mat-body-2">
          {{item?.designation}}
        </span>
      </div>
      <div mat-line >
        <span class="mat-caption">
          {{item?.alphaCode}}
        </span>
    </div>
  </a>
    </mat-list>
  
</section>
<mat-divider></mat-divider>
<section class="country-list my4">
  <h3 class="mat-h3 inline--centred">
    <mat-icon class="mr2">local_shipping</mat-icon>

    Set Your Shipping Country
  </h3>
  <div class="remark mat-body inline--centred mb4">
    <mat-icon class="mr2">report</mat-icon>
    <span class="mat-caption">Products prices greatly depend on the shipping country taxes and fees. </span>
  </div>  
  <mat-list class="horizontal" dense>
    <a 
    mat-list-item 
    [class.element--active]="(shippingCountry$ | async)?.id == item.id"
    [routerLink] = "[]"
    [queryParams]="shippingCountryQueryParam(item)"
    [relativeTo]="currentRoute"
    *ngFor="let item of countries$ | async">      
      <img loading="lazy" mat-list-icon [src]="getFlagUrl(item)">   
      <div mat-line>
        <span class="mat-body-2">
          {{item?.designation}}
        </span>
      </div>
      <div mat-line >
        <span class="mat-caption">
          {{item?.alpha3Code}}
        </span>
    </div>
    </a>
    </mat-list>
  
</section>

</main>

