<header class="mat-typography">
  <div class='upper-menu'>
    <div class='mat-small upper-menu__content--float-right'>
      <span class="mat-caption mat-gutter--right--4">English</span>
      <i class='fas fa-angle-down mat-gutter--right--16'></i>
      <i class='fab fa-facebook'></i>
    </div>
  </div>
  <nav class='nav-bar'>
   <!-- <div class="nav-bar__logo--big"><mat-icon class="float-left" inline ="True" svgIcon='Logo'></mat-icon></div> -->
   <div class="nav-bar__logo--text">SMC</div>
   <div class="mat-subheading-2 nav-bar__nav-tab">
     <div><button mat-button (mouseover)="toggleMenu(true)" [routerLink]="['product/list']" class="mat-margin-gutter--right--16">PRODUCTS</button>
      <div class="mat-elevation-z1 menu__sub-menu" (mouseleave)="toggleMenu(false)" (mouseenter)="toggleMenu(true)" *ngIf="isMenuActive">
        <div  *ngFor="let rootCat of rootCategories">
          <p matRipple class="menu__sub-menu__tab  mat-gutter--top--8 mat-body-2">{{rootCat.designation | uppercase}}</p>
          <p matRipple class="menu__sub-menu__tab  mat-caption" *ngFor="let childCat of rootCat?.children">
              {{childCat.designation | lowercase}}
          </p>
          
        </div>
        
      </div>
     </div>
     <button mat-button class="mat-margin-gutter--right--16">GIFTS</button>
     <button mat-button class="mat-margin-gutter--right--16">INSPIRATION</button>
     <button mat-button class="mat-margin-gutter--right--16">ABOUT US</button>
     <button mat-button class="mat-margin-gutter--right--16">CONTACT US</button>
   </div>
   <mat-icon class="nav-bar__menu-icon">menu</mat-icon>
   <mat-icon matRipple>search</mat-icon>
  </nav>
</header>
<router-outlet></router-outlet>