@import "src/styles.scss";

.upper-menu {
    background-color: $color-grey;
    height: 1.5em;
    padding:  0 10em 0 10em;
    width : 100%;
}
.upper-menu__content--float-right
{
    float: right;


}

.upper-menu__content--float-right > *
{
    vertical-align: middle;
}


.nav-bar{
    padding:  1.5em 10em 1.5em 10em;
    display : flex;
    justify-content : space-between;
    align-items : center;
}
.nav-bar__logo--big {
    height : 3em;
    width : 6em;
}
.nav-bar__nav-tab
{
    margin-top: auto ; 
    margin-bottom: auto;
    color: rgb(92,92,88);
    span:hover {
        border-bottom: solid;
        cursor: pointer;
    }
}



.nav-bar__menu-icon
{
    display : none;
}

@media only screen and (max-width:960px) {

    .nav-bar__nav-tab {
      display: none;
    }
    .nav-bar__menu-icon 
    {
        display: inline;
    }
  }


.nav-bar__logo--text {
    font-family: 'Anton', sans-serif;  
    font-size: 2.5em;
}
