<!-- 
    <header *ngIf='(showMenu$ | async)' class="mat-elevation-z4">
      <app-product-menu (sideNavEmmiter)="toggleSideNav()"></app-product-menu>
</header>
<div class="router-outlet-container">
  <router-outlet></router-outlet>

</div> -->


<mat-sidenav-container hasBackdrop="unset" >
  <mat-sidenav #sidenav mode="over">
    <app-side-nav-menu></app-side-nav-menu>
  </mat-sidenav>
  <mat-sidenav-content class="main-container">
    <header *ngIf='(showMenu$ | async)' class="mat-elevation-z4">
      <app-product-menu (sideNavEmmiter)="toggleSideNav()"></app-product-menu>
</header>
<div class="router-outlet-container">
  <router-outlet></router-outlet>

</div>

  </mat-sidenav-content>
</mat-sidenav-container>
