<header class="mat-typography">
  <div class='upper-menu'>
      <span class="mat-caption float-right">English | French</span>
  </div>
  <nav class='nav-bar'>
    <mat-icon *ngIf="isSmall" (click)="sidenav.toggle()" class="nav-bar__menu-icon">menu</mat-icon>
   <div *ngIf="(!isSearch && isSmall)" class="nav-bar__logo">
      <p id="header--big">SMC</p>
      <p id="sentence--small">sweat for you</p>
    </div>

   <div   class=" nav-bar__nav-tab">
     <div (mouseenter)="toggleMenu(true)"><button mat-button [routerLink]="['/product/list']" class="mat-margin-gutter--right--16">Products</button>
      <div class="mat-elevation-z1 menu__sub-menu" (mouseleave)="toggleMenu(false)" (mouseenter)="toggleMenu(true)" *ngIf="isMenuActive">
        <div  *ngFor="let rootCat of rootCategories">
          <p [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: rootCat.designation}" matRipple class="menu__sub-menu__tab  mat-gutter--top--8 mat-body-2">{{rootCat.designation | uppercase}}</p>
          <p [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: childCat.designation}"  [queryParamsHandling]= "'merge'" matRipple class="menu__sub-menu__tab  mat-caption" *ngFor="let childCat of rootCat?.children">
              {{childCat.designation | lowercase}}
          </p>
        </div>
      </div>
     </div>
     <button mat-button class="mat-margin-gutter--right--16">Gifts</button>
     <button mat-button class="mat-margin-gutter--right--16">Inspiration</button>
     <button mat-button class="mat-margin-gutter--right--16">About us</button>
     <button mat-button class="mat-margin-gutter--right--16">Contact us</button>
   </div>
   <app-search-box  (open) = "toggleSearch($event)" class="nav-bar__search-icon"></app-search-box>
  </nav>
</header>
<router-outlet></router-outlet>

<mat-sidenav-container class="nav-bar__side-menu">
  <mat-sidenav #sidenav mode="over">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li (click)="sidenav.toggle()" [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: node?.designation}" class="mat-gutter--right--16 mat-tree-node">
          <!-- use a disabled button to provide padding for tree leaf -->
          <h5>{{node.designation | uppercase}}</h5>
        </li>

      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <li>
          <div class="mat-tree-node">
             <h5>{{node.designation | uppercase}}</h5>
            <button mat-icon-button matTreeNodeToggle
                    [attr.aria-label]="'toggle ' + node.designation">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
              </mat-icon>
            </button>

          </div>
          <ul [class.tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>
    </mat-tree>
  </mat-sidenav>
  <mat-sidenav-content>
  </mat-sidenav-content>
</mat-sidenav-container>


