@import "src/styles.scss";

header {
    z-index: 999;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}
.side-box {
    position: fixed;
    top:0;
    background-color: white;
    z-index: 10000;
}

.main-content {
  transition: 0.2s ease;
}

.account-card {
    position: absolute;
    top: 4rem;
    right: 0.5rem;
    color: black;
    z-index: 10000;
    padding: 1rem;
    background-color: white;
    border-radius: 10px;
  }
.center-box {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%) ;
    background-color: white;
    min-height: 60%;
    z-index: 10000;
    width: 80%;
    @media only screen and (max-width:840px) {
        width : 100%;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translate(0, 0) ;
      }
}

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2000;
  }
