header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 4;
  background-color: white;
}

.main-container {
  height: 100vh;
}
mat-sidenav {
  padding: 1.5rem;
  width: min(420px,calc(100vw - 56px))
}