@import "src/styles.scss";


.upper-menu {
    padding:  0 5em 0 5em;

}

.nav-bar{
    padding:  1em 5em 1em 5em;
    display : flex;
    justify-content : space-between;
    align-items : center;
    width: 100%;
}

.nav-bar__nav-tab
{

    display : flex;

}


.nav-bar__nav-tab button
{

    font-weight: bold;

}

.nav-bar__logo {
  text-align:center;
  #header--big {
    font-family: 'Stardos Stencil', cursive;
    font-weight: 200;
    font-size: 2em;
    color: white;
  }
  #sentence--small {
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    margin-top: -1em;
    color: white;
  }
}


.menu__sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    background-color: white;
    width : 40%;
    z-index: 1000;
}
.menu__sub-menu__tab:hover {
    border-bottom: solid thin $color-deep-grey;;
    cursor : pointer;
}

.spacer {
  flex :  1 1 auto;
}


mat-sidenav {
  width: 200px;
  padding-left: 1em;
}
.nav-bar__side-menu {
  background: rgba(0,0,0,0.5);
}

.tree-invisible {
  display: none;
}

.nav-bar__side-menu ul,
.nav-bar__side-menu li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}


    @media only screen and (max-width:960px) {

        .nav-bar__nav-tab {
          display: none;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
            order :1;
        }
        .nav-bar__search-icon
        {
            order : 3;
        }
        .spacer{
            display: none;
        }
        .nav-bar__logo {
            order : 2;
        }

        .nav-bar{
            padding:  1em 1em 1em 1em;
            display : flex;
            justify-content : space-between;
            align-items : center;
            background: rgba(0,0,0,0.5);
            color : white;
        }
        .upper-menu {
            padding:  0 1em 0 1em;
            width : 100%;
        }
      }

