
<article class="category-box">

  <div class="left-box">
<img src="/src/assets/images/Hero_image.jpg">
<p class="big-category-title">SERVE WARE</p>
</div>

<div class="right-box">
  <div class="box-text">
    <p class="header--big"> Cook ware </p>
    <p class="sentence--small">Discrover our professional cooking tools </p>
    <p class="button--boxed"><button mat-button>Discover more</button></p>
  </div>
  <div class="triangle-right triangle"></div>

  <img class="secondary-image" src="/src/assets/images/Hero_image.jpg">
</div>

<div class="right-box">
  <img class="secondary-image" src="/src/assets/images/Hero_image.jpg">

  <div class="box-text">
    <p class="header--big"> Cook ware </p>
     <p class="sentence--small">Discrover our professional cooking tools </p>
     <p class="button--boxed"><button mat-button>Discover more</button></p>
  </div>
  <div class="triangle-left triangle"></div>

</div>


</article>
