<mat-menu #buildMenu="matMenu" [overlapTrigger]="false">
  <ng-container *ngFor="let item of items">
    <!-- Handle main menu items -->
    <ng-container *ngIf="item.children">
      <button mat-menu-item color="accent" [matMenuTriggerFor]="menu.buildMenu">
        {{item.designation}}
      </button>
      <app-menu-item #menu [items]="item.children"></app-menu-item>
    </ng-container>
    <!-- Handle sub menu items -->
    <ng-container *ngIf="!item.children">
      <button color="accent" mat-menu-item [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: item.designation}">
        {{item.designation}}
      </button>
    </ng-container>
  </ng-container>
</mat-menu>
  