
<nav class='nav-bar font--dark-grey global--gutters menu--shared-style'>
      <button mat-icon-button class="nav-bar__left-content mr2">
        <mat-icon (click)="toggleSideNav()">menu</mat-icon>
      </button>


      <span
      [routerLink]="['/miscellaneous/home/']"
      class="nav-bar__logo">
      SMC
     </span>


     <div class="mat-h3 inline--centred nav-tabs__tab">

        <app-category-menu></app-category-menu>
        |
        <a color="accent" [matMenuTriggerFor]="informations"  mat-button i18n>
          <mat-icon class="mr-2">help_outline</mat-icon>
         Informations
        </a>
     </div>
     <span class="space-divider"></span>
     <div class="nav-bar__tools">
        <!-- <button mat-icon-button  (click)="openSearchDialog()">
            <mat-icon>search</mat-icon>
        </button> -->

        <button  mat-button   (click)="openCardDialog()" class="account-icon">
          <div class="inline--centred">
            <mat-icon class="material-icons-outlined mr2">person</mat-icon>
            <div *ngIf="(profile$ | async) as profile ; else anonymous">
               <span>{{profile.first_name | titlecase}}</span>
            </div>
          </div>

        </button>
        <app-language-box>
        </app-language-box>
        <button class="shipping-settings inline--centred" [matMenuTriggerFor]="shopMenu" mat-button>
          <mat-icon class="material-icons-outlined mr2">shopping_cart</mat-icon>
          <span>{{(shippingCountry$|async)?.alpha2Code | uppercase}} | {{(paimentCurrency$|async)?.symbol}}</span>
          </button>

    </div>
  </nav>
<ng-template #anonymous>
Login
</ng-template>
<mat-menu   #shopMenu="matMenu">
  <button  (click)="openPaimentCurrencyDialog()" mat-menu-item>
      <mat-icon>payments</mat-icon>
      <span class="mat-body-2">{{(paimentCurrency$|async)?.designation}}</span>

  </button>
  <button   (click)="openShippingCoutryDialog()" mat-menu-item>
      <mat-icon>local_shipping</mat-icon>
      <span class="mat-body-2">{{(shippingCountry$|async)?.designation}}</span>
  </button>
<button mat-menu-item>
  <mat-icon>shopping_basket</mat-icon>
  <span class="mat-body-2">My quart</span>
</button>
</mat-menu>

<mat-menu   #informations="matMenu">
  <button  fragment="about-us" [routerLink]="['/miscellaneous/home']"mat-menu-item>
      <mat-icon>business</mat-icon>
      <span class="mat-body-2">Who we are</span>

  </button>
  <button   fragment="about-us" [routerLink]="['/miscellaneous/home']" mat-menu-item>
      <mat-icon>mail</mat-icon>
      <span class="mat-body-2">Contact us</span>
  </button>
</mat-menu>


