
p {
  cursor: pointer;
}
.locale-band {
  span {
    margin: 0 auto;
  }
}

.nav-tabs__tab {
  justify-content: space-between;
  margin-bottom: 0;
  margin-left: 1rem;
  a,app-category-menu {
    margin: 0 1rem;
  }
  @media only screen and (max-width:1024px) {
    display: none;
  }
}

.nav-bar__logo {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
}
.nav-bar {
  @media only screen and (max-width:1024px) {
   justify-content: flex-start;
  }
}


.nav-bar__left-content {
  display: none;
}

.country-flag {
  max-width: 32px;
  border-radius: 64px;
}

@media only screen and (max-width:1024px) {
  .space-divider {
    display: none;
  }
  .nav-bar__tools > .account-icon {
    display: none;
  } 
  .nav-bar__tools  {
    margin-left: auto;
  }
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__left-content
        {
            display: block;
        }

      }
.mat-h3 {
  margin: 0 1rem 0 0;
}