@import "src/styles.scss";




mat-icon {
    transition: 1s ease;
}
ul .active__icon {
    transform: rotate(-90deg)
}
app-tree-menu > .ul , app-tree-menu > .li {
     margin-left : 1rem;
}
.list-item__text--spacing {
  margin-right: 1rem;
}
