
  app-tree-menu > ul   {
    padding-left: 1em;
}

  
app-tree-menu > li {
    padding-left: 1em;
}

ul {
    padding-left: 0;
}
ul > div {
    display: flex;
    align-items: center;
}

mat-icon {
    transition: 0.3s ease;
}
ul .active__icon {
    transform: rotate(-90deg)
}
