@import "src/styles.scss";


.mdc-list-item__graphic {
    width: 1.5rem;
    height: auto;
  }
  
  .mdc-list-item {
    @include mdc-list-item-graphic-ink-color(black);
  }

mdc-icon {
    transition: 0.3s ease;
}
mdc-list .active__icon {
    transform: rotate(-90deg)
}
app-tree-menu > .mdc-list , app-tree-menu > .mdc-list-item {
     margin-left : 1rem;
}
.list-item__text--spacing {
  margin-right: 1rem;
}