@import "../../../styles/util-mixins.scss";
@import "../../../styles/colors.scss";
:host {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.image--single {
  max-width: 100%;
}
.images-selector {
    justify-content: center;
    span {
      width: 16px;
      height: 16px;
      border-radius: 16px;
    }
}
.images-container {
  transition: 0.8 ease-in;
  align-items: start;
  overflow: hidden;
  scroll-snap-type: x mandatory;
  max-width: 100%;
  div {
    scroll-snap-align: start;
    max-width: 100%;
    min-width:100% ;
    img {
      max-width: 100%;
      min-width:100% ;
    }
    img:hover {
      cursor: pointer;
    }
  }

}
.dot--selected {
  background-color: mat-color($smc-show-case-primary);
}
.dot--unSelected {
  background-color:  mat-color($smc-show-case-accent);
}

button mat-icon {
  @include  md-icon-size(2.5rem);

}
