input {
    float: right;
    color: white;
    border-radius: 5px;
    height: 2.5em;
    width: 10em;
    background-image: url('../../../assets/pictures/search-icon.png');
    background-repeat: no-repeat;
    background-color: white;
    background-position: 7.5em;
    font-size: 12px;
    padding-left: 0.5em;
    cursor: pointer;
    color: black;
    font-weight: 300;
    font-size: 12px;
    border: 2px solid #7F6A23;
    outline: none;

}

div {
    width: 15em;
}

