@import "src/styles.scss";

.content {
    position: absolute;
    padding : 1.5rem;
    top: 20%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -20%) ;
    background-color: white;
    min-height: 80%;
    width: 60%;
    z-index: 10000;

    @media only screen and (max-width:840px) {
        width : 100%;
        top: 0;
        left: 0;
        margin-right: 0;
        transform: translate(0, 0) ;
      }
}


.search-text-field {
    width: 100%;
    font-size: 2rem;  
    margin-bottom: 1rem;
    border : none;
    border-bottom: solid 1px $color-border-grey;
}

.result-container {

    header {
        font-weight: bold;
        margin-bottom: 1rem;
    }
    section {
        border-top: solid 0.5px $color-border-grey;
        border-bottom: solid 0.5px $color-border-grey;
        overflow-y :scroll;
        height: 25rem;
        @media only screen and (max-width:840px) {
            height: 100%;

          }

    }

}

