@import "src/styles.scss";
.search-text-field {
    flex : 1 1 auto;
    font-size: 1.5rem;
    margin-right: 2rem;
    border : none;
    background-color: transparent;
    color: $dark-grey;
}
header {
  background-color: transparent;
}
