<div class="search-box__large-screen">
    <button (click)="toggle()" ><mat-icon>{{iconName}}</mat-icon></button>
    <input (click)="toggle()" [@openClose]="isOpen ? 'open' : 'closed'" class="mat-typography"  [formControl]="searchBar" placeholder="search..." >
</div>
<div class="search-box__small-screen">
        <button (click)="toggle()"><mat-icon [inline]="true">{{iconName}}</mat-icon></button>
        <input  [@openCloseSmall]="isOpen ? 'open' : 'closed'" class="mat-typography"  [formControl]="searchBar" placeholder="search..." >    
</div> 