@import "src/styles.scss";

.container {
    margin-top: 1.5rem;
    padding :0 1.5rem;
}
.search-text-field {
    flex : 1 1 auto;
    border : none;
    font-size: 1.25rem;
    padding: 0.25rem 1rem;
    margin-right: 2rem;
    border-radius: 10px;
}
.result-container {
    section {
        margin-top : 1rem;
        border-top: solid 0.5px $color-border-grey;
        border-bottom: solid 0.5px $color-border-grey;
        overflow-y :scroll;
        height: 25rem;
        min-height: 110%;

    }

}

.bottom-line {
    margin : 1rem auto;
    width: 4rem;
    min-height: 1rem;
  } 