@import "src/styles.scss";


.search-text-field {
    border: solid 0.5px black;
    border-radius: 5px;
    width: 100%;
    font-size: 1rem;
    padding : 1rem 3.5rem;
    background: url('../../../assets/icons/telephone_icon.svg')  no-repeat;
    background-size : 1.5rem;
    background-position: 1rem 50%;
    margin-bottom: 1.5rem;
}
.result-container {
    header {
        font-weight: bold;
    }

}


// .input {
//     border-left: none;
//     font-size: 12px;
//     cursor: pointer;
//     color: white;
//     font-weight: 300;
//     border: none;
//     width : 0;
//     border-bottom: 1.5px solid white;
//     background-color: transparent;
//     visibility: hidden;

    
// }


// .search-text-field {
//     color: #444;
//     border: solid 1px black;
//     border-radius: 100px;
//     background-color: #fff;
//     padding: 5px 16px;
//     margin-left: 8px;
//     width: 11rem;
//     max-width: 240px;
//     height: 50%;
//     -webkit-appearance: none;
// }
// .search-text-field::placeholder {
//     color: #444;
// }


// input::placeholder {
//     color: white;
// }
// button {
//     background-color: transparent;
//     color: white;   
//     border : none;
// }
// button,input {
//     outline: none;
//     float: right;

// }


