
                                <header>
                                    <p class="alert mat-caption" *ngFor="let item of serverError$ | async  | keyvalue">
                                        {{item.value}}</p>
                            </header>
            
            <form
            class="form column"
            [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="civility-field" appearance="fill">
                <mat-label>Civility</mat-label>
                <mat-select required formControlName="civility" name="food">
                    <mat-option i18n selected value="Mr">Gentelman</mat-option>
                    <mat-option i18n value="Mme">Madam</mat-option>
                </mat-select>
              </mat-form-field>
            <mat-form-field class="email-field" appControlValidatorMessage appearance="fill">
                    <mat-label i18n>email</mat-label>
                    <input required matInput type="email" formControlName="email" placeholder="email" id="email">
                    <mat-icon class="mr2" matPrefix>person</mat-icon>
                    <mat-hint i18n>Enter your email adress</mat-hint>
                    <mat-error>
                    </mat-error>
            </mat-form-field>
            <mat-form-field class="password-field" appControlValidatorMessage appearance="fill">
                <mat-label i18n>password</mat-label>
                <input required  matInput type="password" formControlName="password" id="password">
                <mat-icon class="mr2" matPrefix>vpn_key</mat-icon>
                <mat-hint i18n>Enter your password</mat-hint>
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field class="confirm-password-field" appControlValidatorMessage appearance="fill">
                <mat-label i18n>Confirmation password</mat-label>
                <input  required matInput type="password" autocomplete="new-password"  formControlName="confirmPassword">
                <mat-icon class="mr2" matPrefix>vpn_key</mat-icon>
                <mat-hint i18n>confirm your password</mat-hint>
                <mat-error></mat-error>
            </mat-form-field>

              <mat-form-field class="first-field" appControlValidatorMessage appearance="fill">
                <mat-label i18n>First name</mat-label>
                <input required matInput type="text"  formControlName="first_name">
                <mat-error></mat-error>
            </mat-form-field> 
            <mat-form-field class="last-field" appControlValidatorMessage appearance="fill">
                <mat-label i18n>Last name</mat-label>
                <input required matInput type="text"  formControlName="last_name">
                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field class="phone-field" appControlValidatorMessage appearance="fill">
                <mat-label i18n>Phone number</mat-label>
                <input required matInput type="text"  formControlName="phone_number">
                <mat-error></mat-error>
            </mat-form-field>

            <mat-form-field class="country-field"  appearance="fill">
                <mat-label i18n>Country</mat-label>
                <mat-select required formControlName="country">
                    <mat-option 
                    [value]="country.designation"
                    *ngFor="let country of countries$|async" i18n selected value="Mr">
                    {{country.designation}}
                </mat-option>
                </mat-select>
              </mat-form-field>
            <button class="button" type="submit"
            mat-flat-button color="accent" primary>
            <span i18n class="mat-body-2">
                Register
            </span>
            </button>
            </form>
