:host {
  display: block;
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 80vh;



}
.main-logo--big  {
  width: 9em;
  height: auto;
}

.upper-text {
  text-align:center;
}
.header--big {
  font-family: 'Stardos Stencil', cursive;
  font-weight: 200;
  font-size: 5.5em;
  color: black;
  margin-top : 0.05em;
}
.sentence--small {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  margin-top: -2.5em;
  color: black;
}


.footer-icon {
  width : 6em;
  color: black;
  align-self: center;
  -webkit-transition: transform  0.1s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.1s;
  transition-timing-function: ease-in;
}


  .footer-icon:hover {
    transform: scale(1.5,1.5);
  }



.category-page {

}
