@import "src/styles.scss";


.hero-image {
  background-image: url('../../../assets/images/hero_image.jpg');
  background-size: cover;
  background-position: top;
  height: 100vh;
}
.welcome-text {
  padding: 4rem 1rem;
  h1 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 3rem;
    @media only screen and (max-width:1024px) { 
      font-size: 3rem;
    }
    @media only screen and (max-width:600px) { 
      font-size: 2rem;
      padding: 3rem 1rem;

    }
  }
  p {
    color:$dark-grey ;
    justify-content: center;
    text-align: center;
    max-width: 750px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 1.25rem;
  }

}
.categories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  @media only screen and (max-width:1024px) {
    flex-direction: column;
    align-items: center;
  }
}
main {
  background: radial-gradient(271.21% 255.36% at 47.15% 0%, #DFE6F0 0%, rgba(255, 254, 254, 0) 100%);
}
.category-container {
  margin: 2rem 4vw;
  max-width: 35vw;
  @media only screen and (max-width:1024px) {
    max-width: 30rem;
  }
  @media only screen and (max-width:600px) {
    max-width: 30rem;
    margin: 2rem 0;

  }
}