
.upper-text {
  text-align:center;
  background: rgba(0, 0, 0, 0.35);
}
#header--big {
  font-family: 'Stardos Stencil', cursive;
  font-weight: 200;
  font-size: 4.5em;
  color: white;
}
#sentence--small {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  margin-top: -3em;
  color: white;
}

#footer {
  bottom: 2em;
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;

}
.footer-button {
  font-size: 5em;
  color: white;
  margin-right: auto;
  margin-left:auto;
}
