
.landing-page {
  background-image:url('../../../assets/images/Hero_image.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

}
.upper-text,figure {
  text-align:center;
  color: white;



}
.upper-text {
  margin-top : 4em;
}
.header--big {
  font-family: 'Stardos Stencil', cursive;
  font-size: 9em;
  margin-top :0em;

}
.sentence--small {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.icons__wrap {
  margin-top:2em;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  justify-content: space-evenly;
  figure {
    width: 20%;
    margin-top: 2em;

    mdc-icon  {
      transform: scale(2);
  
    }
    figcaption {
      margin-top : 1em;
      font-family: 'Raleway', sans-serif;
      font-weight: 500;
    }

    mdc-icon:hover {
      transform: scale(2.5);
      transition : ease 0.3s;

    }
  }


}
@media only screen and (max-width:600px) {

  .icons__wrap { 
    width: 100%;
  }
   .landing-page {
    height: 100vh;
    figure {
      width: 20%;
      margin-top: 2em;
  
      mdc-icon  {
        transform: scale(1.75);
    
      }
    }
  }

}

@media only screen and (min-width:1200px) {

  .landing-page {
    height: 136%;
  
  }

}


