<section class="landing-page">
<main color="primary">
   <div class="upper-text">
<p class="header--big">SMC</p>
<p class="sentence--small">sweat for you</p>
</div>
<div class="icons__wrap">

   <figure *ngFor="let category of categories">
         <mat-icon  inline="true" [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: category.designation}"  [svgIcon]="category.svgIcon.designation"></mat-icon>
      <figcaption class="figure-caption mat-caption">{{category.designation | titlecase}}</figcaption>
   </figure>


</div>
</main>
</section>

<!-- <section class="category-page">

<app-product-category></app-product-category> 

</section> -->
