.home-page {
    padding:  0 4em 0 4em;
    display : grid;
    grid-template-columns: 2fr 4fr;
    grid-template-areas: 
    "side-menu upper-content"
    "lower-content lower-content";
}

.side-menu {
    background-color: rgb(235,235,235);
    padding :  2.5% 10% 0 10%;
    display : flex;
    flex-direction: column;
    grid-area: side-menu;

    
}
.side-menu > *  {
    align-self: center;
}


.upper-content {
    grid-area:upper-content;
}

.upper-content img {
    max-width: 100%;
}

.lower-content {
    border: solid;
    grid-area:lower-content;
}

.side-menu__content {
    display: flex;
    flex-wrap: wrap;

}
.side-menu__content__icon {
    
    border-bottom: solid;
    border-bottom-width: 0.08em;
    border-bottom-color: rgb(179,179,179);
    display: flex;
    flex-direction: column;
    flex :0 0 50%;
    padding-top : 2.5%

    
}

.side-menu__content__icon mat-icon{
    min-height : 2em;     
    width: 30%

}

.side-menu__content__icon > * {
    align-self: center;
}


.side-menu__content__icon:nth-child(even){
    border-left: solid;
    border-left-width: 0.08em;
    border-left-color: rgb(179,179,179);
    
}


