@import "../../../styles.scss";


.landing-page {
  background-image:url('../../../assets/images/Hero_image.jpg') ;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;

}

main {
    background-color: rgba(30, 30, 30, 0.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.upper-text,figure {
  text-align:center;
  color:white;

}
.upper-text {
  margin-top : 8rem;
  line-height: 1;
}
.header--big {
  font-family: 'Stardos Stencil', cursive;
  font-size: 9em;
}
.sentence--small {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
}

.icons__wrap {
  margin : 2rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  min-width: 320px;
  justify-content: space-evenly;
  figure {
    width: 20%;
    margin-top: 2em;

    mat-icon  {
      width: 3rem;  
    }
    figcaption {
      margin-top : 0.75rem;
    }
    mat-icon:hover {
      transform: scale(1.25);
      transition : ease 0.3s;
    }
  }
}


// @media only screen and (max-width:600px) {

//   .icons__wrap { 
//     width: 100%;
//   }
//    .landing-page {
//     height: 100vh;
//     figure {
//       width: 20%;
//       margin-top: 2em;
  
//       mat-icon  {
//         transform: scale(1.75);
    
//       }
//     }
//   }

// }

// @media only screen and (min-width:1200px) {

//   .landing-page {
//     height: 136%;
  
//   }

// }

