<section class="landing-page">
<span></span>
<div class="upper-text">
<p class="header--big">SMC</p>
<p class="sentence--small">sweat for you</p>
</div>
<div mdc-typography class="icons__wrap">

   <figure *ngFor="let category of categories">
      <button class='category-icon' mdcIconButton>
         <mdc-icon  [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: category.designation}"  [svgIcon]="category.svgIcon.designation"></mdc-icon>
      </button>
      <figcaption mdcCaption>{{category.designation | titlecase}}</figcaption>
   </figure>


</div>

<span class="spacer"></span>
</section>

<section class="category-page">

<app-product-category mdc-typography></app-product-category> 

</section>

<app-loading></app-loading>
