@import "src/styles.scss";

.appearance-box {
    max-width: 32px;
    span {
        border: solid 1px mat-color($smc-show-case-primary);
        width: 100%;

    }
}
img {
    max-width: 100%;
    border-radius: 24px;
}
.img--bordered {
    border: solid 1px mat-color($smc-show-case-primary,darker);
    padding: 1px;
}
