
<p *ngIf="isBigSize$ | async" class="mat-h3 font--dark-grey pt6 font--dark-grey">{{appearanceVariants.length | customPlural:'available look' | titlecase}}</p>
<mat-divider></mat-divider>
<section (mouseout)="setHoveredAppearance(null)" class="mt2 inline--centred">
  <div #loadingImage  (mouseover)="setHoveredAppearance(item)" *ngFor="let item of appearanceVariants" class='mr4 column appearance-box'>
    <img  class="mb1"
    [src]="item.look.thumbNail"
    (click)="setAppearanceVariant(item)">
    <span     *ngIf="_selectedAppearanceVariant == item"></span>
  </div>

</section>
<p class="mt2 mat-caption">
  {{hoveredAppearanceVariant ? hoveredAppearanceVariant?.look.texture +' '+ hoveredAppearanceVariant?.look.material : ' '}}
</p>
