
.appearance-box {
    max-width: 2rem;
    span {
        border: solid 1px orange;
        width: 100%;

    }
}
.appearance-box:hover {
  cursor: pointer;
}
img {
    max-width: 100%;
    border-radius: 2rem;
}
.img--bordered {
    border: solid 1px orangered;
    padding: 1px;
}
p {
  min-height: 24px;
}
