<ng-container *ngIf="mode === 'FULL'">
  <p  class="mat-h3  font--dark-grey">
    {appearanceVariants.length, plural, =0 {No} =1 {One} other { {{appearanceVariants.length}} } } available look
  </p>
  <mat-divider></mat-divider>
</ng-container>
<section (mouseout)="setHoveredAppearance(null)" class="mt2 inline--centred">
  <div #loadingImage  (mouseover)="setHoveredAppearance(item)" *ngFor="let item of appearanceVariants" class='mr4 column appearance-box'>
    <img  class="mb1"
    [src]="item.look.thumbNail  | mergeSizeQs:50"
    (click)="setAppearanceVariant(item)">
    <span *ngIf="(selectedAppearanceVariant$ | async) == item"></span>
  </div>

</section>
<p *ngIf="mode === 'FULL'" class="mt2 mat-caption">
  {{hoveredAppearanceVariant ? hoveredAppearanceVariant?.look.texture +' '+ hoveredAppearanceVariant?.look.material : ' '}}
</p>
