<p *ngIf="appearanceVariants.length > 1 ;else oneVariant" class="mat-caption">{{appearanceVariants.length}} available looks</p>
<ng-template #oneVariant>
    <p #text class="mat-caption">
      One available look
    </p>
</ng-template>
<mat-divider class="my2"></mat-divider>
<section class="inline--centred">
  <div  *ngFor="let item of appearanceVariants" class='mr4 column appearance-box'>
    <img class="mb1"
    [src]="item.look.thumbNail" 
    (click)="setAppearanceVariant(item)">
    <span     *ngIf="_selectedAppearanceVariant == item"></span>
  </div>

</section>
