@import 'colors';
@import 'app-theme.scss';

.mat-dialog-content {
    overflow: hidden;
}
.image-container {
    grid-area:_image;
    overflow: hidden;
    img {
        max-width: 100%;
        min-width: 100%;
    }
}
.header {
    grid-area:_header;
    justify-content: space-between;

}
.appearances-selector {
    grid-area:appearances;
}
.images {
    grid-area:images;

}
.images-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    img {
        max-width: 4.5rem;
        margin: 0.25rem ;
        border: 2px solid $light-grey-color;
    }
    .img--selected {
        border: 2px solid mat-color($smc-show-case-primary);

    }
}
.mat-h2,.mat-h3  {
    margin: 0;
}