

.bg-image {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-image {

  background-image:url('https://d2z6sbqggbt9fg.cloudfront.net/media/login_image_2.jpg');
  @media only screen and (max-width:1024px) {
    background-image:url('https://d2z6sbqggbt9fg.cloudfront.net/media/login_image_2.jpg?d=1200x1200');
  }
}
.wide-image {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  .text-container {
    color: white;
    margin-bottom: 3rem;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  }
  background-image:url('https://d2z6sbqggbt9fg.cloudfront.net/media/home_page_2.jpg');
  @media only screen and (max-width:1024px) {
    background-image:url('https://d2z6sbqggbt9fg.cloudfront.net/media/home_page_2.jpg?d=1200x1200');
  }

}
.hero-text-container {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: white;
  padding: 4rem;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
  .content {
    margin: 0 auto;
    .logo {
      width: 20rem;
      height: auto;
      margin: 0 auto;
      z-index: 2;
    }
    a {
      text-transform: uppercase;
      color: white;
      padding: 0.5rem 1rem;
      font-size :max(1.25vw,12px);
      border-radius:3rem;
      border: 1px solid white
    }
  }


}
.about-us {
  padding: 3rem;
  .description {
    text-align: justify;
    max-width: 700px;
  }
}


#categories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


}

.category-container {
  width: 33.33%;
  @media only screen and (max-width:1024px) {
    width: 49%;
  }
  @media only screen and (max-width:640px) {
    width: 100%;
  }
}
