
    .text--center {
        padding: 1.5rem;
        width: 100%;
        align-self: center;
        text-align: center;
    }
    
.content__image-container--grid {
    margin-top: 2rem;
    display: flex;
    flex-wrap : wrap;
    justify-content: flex-start;
    .product-box {
      margin : 1%;
      width: 23%;
      border-radius: 10px;
      @media only screen and (max-width:1024px) {
        width: 31.333%;
      }
      @media only screen and (max-width:720px) {
        width: 48%;
      }
    }
}

