<mat-progress-bar secondary="true" *ngIf="!favorites">
    </mat-progress-bar>
<section class="product-container">
    <p class="text--center"   *ngIf="favorites?.length < 1"> You dont have favorites</p>
<div *ngFor='let favorite of favorites' 
      @myInsertRemoveTrigger
      class="product-box">
    <app-product-box  
                       mode="listWithBread" 
                       [product]="favorite" >
    </app-product-box>
    <div class="action-container">
        <button (click)="removeFavorite(favorite.pk)" mat-icon-button>
        <mat-icon >close</mat-icon>
       </button>
    </div>
</div>
</section>