
    <mat-progress-bar *ngIf="isChecking$ | async" mode="indeterminate">
    </mat-progress-bar>
            <form
            [formGroup]="createForm" (ngSubmit)="onSubmit()">
                    <header class="column--centred">
                        <p i18n class="font--dark-grey mat-subheading-2">Please fill the following information
                        </p>
                        <p class="alert mat-caption" *ngFor="let item of serverError$ | async  | keyvalue">
                            {{item.value}}</p>
                </header>

                <div class="form__field">
                    <label for="email">
                        <mat-icon class="mr2">email</mat-icon>
                        <span i18n>Email</span>
                    </label>
                    <input appControlValidatorMessage  required  type="email" formControlName="email" id="email">

                </div>
                <div class="form__field">
                    <label for="password">
                        <mat-icon class="mr2">vpn_key</mat-icon>
                        <span i18n>password</span>
                      </label>
                    <input appControlValidatorMessage required  autocomplete="new-password" type="password" formControlName="password" id="password">
                </div>
                <div class="form__field">
                    <label i18n>confirm your password</label>
                    <input required appControlValidatorMessage  autocomplete="new-password" type="password" formControlName="confirmPassword" id="new-confirmPassword">
                </div>

                <header class="fieldset-title">
                    <p class="inline--centred mat-subheading-1">
                        <mat-icon>person</mat-icon>
                       <span>Personal information </span>
                    </p>
                </header>
                    <div class="form__field">
                        <label   for ="civility" i18n>Civility</label>
                        <select name="civility" formControlName="civility" id="civility">
                            <option i18n selected value="Mr">Gentelman</option>
                            <option i18n value="Mme">Madam</option>
                        </select>
                    </div>
                <div class="form__field">
                    <label  for ="first_name" i18n>First name</label>
                    <input appControlValidatorMessage required type="text" formControlName="first_name" id="first_name">
                </div>
                <div class="form__field">
                <label for ="last_name" i18n>Last name</label>
                <input appControlValidatorMessage required type="text" formControlName="last_name" id="last_name">
            </div>

            <div class="my4 inline--centred">
              <input  formControlName="is_professional" type="checkbox" id="is_professional">
              <label class="mat-body ml4" i18n for="is_professional">Are you a professional ?</label>
            </div>

            <button class="form__submit-button" type="submit"
            mat-raised-button color="primary" primary>
            <span i18n class="mat-subheading-2">
                Register
            </span>
            </button>
            </form>
