@import "src/styles.scss";
main {
  @extend .global--gutters;
}
.hero-image {
  content:url('https://d2z6sbqggbt9fg.cloudfront.net/media/main_hero_image.jpg?d=2000x2000');
  max-width: 100%;
  @media only screen and (max-width:1024px) {
    content: url('https://d2z6sbqggbt9fg.cloudfront.net/media/main_hero_image.jpg?d=1200x1200');
  }
  @media only screen and (max-width:600px) {
    content: url('https://d2z6sbqggbt9fg.cloudfront.net/media/main_hero_image.jpg?d=800x800');
  }
}

.welcome-text {
  min-height: 60vh;
  justify-content: space-between;
  padding-bottom: 4rem;
  .text-container,.illustration-container {
    flex: 0 0 calc(50% - 1rem);
  }
  h1 {
    font-size: max(4vw,24px);
  }
  mat-icon {
    width: 100%;
  }
  @media only screen and (max-width:1024px) {
    flex-direction: column;
    .text-container,.illustration-container {
      max-width: 100%;
    }
    .illustration-container {
      order : 1;
    }
    .text-container {
      order : 2;
    }
  }
}
.categories-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-container {
  width: 33.33%;
  @media only screen and (max-width:1024px) {
    width: 49%;
  }
  @media only screen and (max-width:1024px) {
    width: 100%;
  }
}
