@import "src/styles.scss";
:host {
    width:25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;


}
.clear-button--centred {
    margin: 1rem 0;
    width: 50%;
    align-self: center;

}
form {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    width: 100%;
    margin-top: 1rem;
}


.form-group {
    display: block;
    margin-bottom : 1rem;
    header {
        color: $color-text-grey;
    }

}

.form__group-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
