<p class="filter-title mat-gutter--left--16  mat-body-strong">
FILTER BY : 
<mat-divider></mat-divider>
</p>
<form  *ngIf="ready" class="mat-typography" [formGroup]="filterForm"  class="mat-typography">
    <div  *ngFor="let filterCategory of filterCategories" class="mat-typography">
            <h5>{{filterCategory.value | uppercase}} </h5>
            <div class="form__group-content" [formGroupName]="filterCategory.key">

                <mat-checkbox *ngFor="let choice of filterCategory.choices" class="caption" color="primary"
                    [formControlName]="choice.key" [id]="choice.key " [checked]="true">
                    {{choice.value | lowercase}}
                </mat-checkbox>
            </div>


    </div>
    <div class="button-container">
    <button  (click)="clearFilter()" mat-raised-button color="primary">CLEAR ALL</button>
    </div>
</form>
