<header class="px4 menu--shared-style global__header__border">
        <p class="mat-subheading-1" i18n>FILTER</p>
        <button appModalClose mat-icon-button>
            <mat-icon>close</mat-icon>
        </button>
</header>

<!-- <button (click)="clearFilter()" class="clear-button--centred" color="primary" mat-raised-button> Clear filter</button>
<mat-divider></mat-divider> -->

    <form  [formGroup]="filterForm$ | async">
    <div  class="form-group" *ngFor="let filterCategory of filterCategories$ | async">
            <header class="filter-title font--grey mat-caption" >
                {{filterCategory.value | titlecase }}
            </header>
            <div class="form__group-content" [formGroupName]="filterCategory.key" >
                    <mat-checkbox  class="filter--element" *ngFor="let choice of filterCategory.choices" [formControlName]="choice.key" [id]="choice.key" >
                        <span class="mat-body from-field__label">{{choice.value | titlecase}}</span>
                    </mat-checkbox>
            </div>
        <mat-divider></mat-divider>

    </div>
</form>
