@import '~@angular/material/theming';
@import '../../../app-themes.scss';
@import "src/styles.scss";

:host {
    padding : 0 0.5em 0 0.5em;

}
.form__group-content {
    display: flex;
    flex-direction: column;
}

.form__group__title
{
    color : mat-color($app-primary);
    font-weight: bolder;
    border-bottom: thin solid $color-deep-grey;
}

.form__group
{
    margin-bottom: 1em;
}
.caption {
    font-weight: 500;
}
.mat-expansion-panel-header-title {
  margin-top: 1em;
}
