
<p class="mat-h3 font--dark-grey">Dimensions</p>
<mat-divider></mat-divider>
<table>
  <caption class="mat-caption p1">{{variantsNumber() | customPlural:'Variant' | titlecase}}</caption>
  <tbody>
    <tr>
      <th class="p1 mat-body-2" *ngFor="let item of headersList" scope="col">
        {{item | titlecase}}
      </th>
    </tr>
    <tr class="main-body mat-body"  *ngFor="let item of dimensionsMatrix;index as i">
      <td class="p1">
          {{i +1}}
      </td>
        <td class="p1" *ngFor="let measure of item">
              {{measure[0]}} {{measure[1]}}
        </td>
    </tr>
  </tbody>
</table>
<!-- <mat-list dense>
  <p matSubheader>{{variantsNumber() | customPlural:'Dimension variant' | titlecase}}</p>
  <mat-list-item *ngFor="let item of productDimensions ; first as isFirstMeasure">
    <div mat-line>
      <p class="mat-body-2">
        {{item.measureType?.designation | titlecase}} ({{item.measureType?.unit}})
      </p></div>
<div mat-line class="mat-caption">
  <span *ngFor="let measure of item.measures ; first as isFirst">
    <span *ngIf="!isFirst"> &nbsp;-&nbsp; </span>
    {{measure}}
  </span>
</div>
  </mat-list-item>
</mat-list> -->
