<!-- <table>
  <caption class="mat-body font--grey mb2">6 dimensions variants</caption>
  <thead>
    <tr>
      <th  class="p4 mat-body" scope="col">N</th>
        <th class="p4 mat-body-2" *ngFor="let item of headersList" >{{item.designation | titlecase}} <br>({{item.unit}})
        </th>
    </tr>
</thead>
<tbody >
   <tr   *ngFor="let item of dimensionsMatrix();let i = index">
     <th class="p4 mat-body" scope="row">{{i+1}}</th>
        <th class="p4 mat-body" *ngFor="let value of item">
             {{value}}
        </th>
   </tr>
</tbody>
</table> -->
<p class="mat-h3 font--dark-grey">Dimensions</p>
<mat-divider></mat-divider>
<mat-list dense>
  <p matSubheader>{{variantsNumber() | customPlural:'Dimension variant' | titlecase}}</p>
  <mat-list-item *ngFor="let item of productDimensions ; first as isFirstMeasure">
    <div mat-line>
      <p class="mat-body-2">
        {{item.measureType.designation | titlecase}} ({{item.measureType.unit}})
      </p></div>
<div mat-line class="mat-caption">
  <span *ngFor="let measure of item.measures ; first as isFirst">
    <span *ngIf="!isFirst">,</span>
    {{measure}}
  </span>
</div>
  </mat-list-item>
</mat-list>
