.request__meta {
    margin-left: auto;
    flex: 1 1 50%;
    div {
        float: right;
    }
}
.request__text {
    flex: 0 1 50%;
}
span,div {
    overflow: hidden;
}
.helper-text {
    text-align: center;
}