@use '~@angular/material' as mat;
@import 'app-theme';
.mat-h1 {
  fill : mat.get-color-from-palette($smc-show-case-primary);
}
.circle {
  fill : mat.get-color-from-palette($smc-show-case-accent);
}
