@import "src/styles.scss";
@import "src/form-styles.scss";

.forms-container {
    padding : 4rem;
    display: grid; 
    grid-template-columns : 1fr 1fr;
    grid-template-rows : 10rem 10rem;
    grid-gap: 4rem;
    grid-template-areas: 
    "smc-login google-signin"
    "smc-login smc-register";
    @media only screen and (max-width:1024px) {
        grid-template-rows : auto;

        grid-template-areas: 
        "smc-login smc-login"
        "google-signin google-signin"
        "smc-register smc-register"
        ;


    }
}

form,mat-form-field,.form__submit-button {
    width: 100%;
    margin-bottom: 2rem;
   
   }



.form-group__header {
    text-align: start;
    margin-bottom: 1.5rem;
}



#smc-login {
    grid-area: smc-login

}
#smc-register {
    grid-area: smc-register
}
#google-sign {
    grid-area: google-signin

}