<section class="login">
<header>
        <p mdcHeadline4>SIGN IN</p>
        <p mdcCaption>Please enter the follwing informations to acces your account</p>
    </header>
    <main>
            <p mdcCaption class="alert">{{auth_non_field_error}}</p>
            <form [formGroup]="loginForm"  (ngSubmit)="onSubmit()">
                    <div class="form__field">
                            <label mdcBody2 for="email">
                                email
                            </label>
                            <input  required
                                    autocomplete="username email"   
                                    type="email" 
                                    id="email"
                                    formControlName="email">
                                <div *ngIf="loginForm.get('email').invalid && (loginForm.dirty || loginForm.touched)" class="alert">
                                
                                  <p mdcCaption *ngIf="loginForm.get('email').errors.required">
                                    email is required.
                                  </p>
                                  <p mdcCaption *ngIf="loginForm.get('email').errors.email">
                                    Enter a valid email 
                                  </p>   
                        </div>                                 
                    </div>
                    <div  class="form__field">
                            <label mdcBody2 for="password">
                                    password
                                </label>
                    <input  
                                     autocomplete="new-password"  
                                     required  
                                     id ="password"
                                     type ="password" formControlName="password">
                    <span mdcCaption class="field__note">Forget yous password ?</span>
                    </div>
                 
                    <button class="form__submit-button" 
                            type="submit"  
                            mdc-button 
                            primary>LOGIN
                    </button>
                
                
                </form>    
</main>
</section>
<section class="register">
        <header>
                <p mdcHeadline4>REGISTER NOW</p>
                <p mdcCaption>Create and account and join us </p>
        </header>
        <button class="form__submit-button inverted-theme" 
        type="submit"  
        mdc-button
        outlined >REGISTER
        </button>

</section>