<header class="column--centred">
        <p i18n class="font--dark-grey mat-subheading-2">Please enter the following informations</p>
        <p class="mat-caption alert" *ngFor="let item of auth_non_field_error |async  | keyvalue">
                {{item.value}}
        </p>
        </header>
        <form  [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <mat-form-field appearance="outline">
                        <mat-icon class="mr2" matPrefix>email</mat-icon>
                                        <mat-label i18n>email</mat-label>
                                        <input required matInput type="email" formControlName="email" id="email">
                                        <mat-error
                                                        *ngIf="loginForm.get('email').invalid && loginForm.get('email').touched">
                                                        {{getEmailErrorMessage()}}
                                        </mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                        <mat-icon class="mr2" matPrefix>vpn_key</mat-icon>
                                        <mat-label i18n>password</mat-label>
                                        <input required matInput type="password" formControlName="password"
                                                        id="password" placeholder="password">
                                        <mat-hint i18n>Forget yous password ?</mat-hint>
                                        <mat-error i18n *ngIf="loginForm.get('password').invalid">
                                                        this field is required.
                                        </mat-error>
                                </mat-form-field>
        
                                <button class="form__submit-button mt4" type="submit"
                                        mat-raised-button color="primary" i18n primary>
                                        <span>
                                                Sign in with SMC
                                        </span>
                                </button>
        
        
                                </form>
