@import "src/styles.scss";
:host {
    @extend .column--centred;
}

h4 {
    text-transform: uppercase;
}
form,mat-form-field,.form__submit-button {
    width: 100%;
    max-width: 100%;
   }


button {
    span {
        color: white;
    }
  }