@import "src/styles.scss";

.forms-container {
    display: flex; 
    justify-content: space-between;
    @media only screen and (max-width:1024px) {
        flex-direction: column;
        align-items: center;
      }
}
section {
    width: 25rem;
    margin : 1.5rem 3rem ;

    @media only screen and (max-width:1024px) {
        margin : 1.5rem 0rem ;    
        padding-bottom: 1.5rem;
        border-bottom: 1px solid grey;


    }
}


header {
    text-align: start;
    margin-bottom:1.5rem;
    .title--bold {
       font-weight: bold;
    }
}

.form__submit-button {
    width : 100%;
}
.alert {
    color: red;
}
.inverted-theme {
    @include mdc-button-ink-color(black);
    @include mdc-button-outline-color(black);
    @include mdc-button-container-fill-color(white);

}
.inverted-theme:hover {
    @include mdc-button-ink-color(white);
    @include mdc-button-container-fill-color(black);
}