/* You can add global styles to this file, and also import other style files */
@import "src/app-themes.scss";
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Raleway|Stardos+Stencil|Roboto');

body, html {
  height: 100%;
  margin : 0 0 0 0 ;
}


body {
  background:url(/src/assets/images/Hero_image_2.png);
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  background-origin: content-box;
  background-attachment: scroll;
}



* {
    box-sizing: border-box;
  }

  .mat-gutter--left--16
  {
   padding-left : 1em;
  }

  .mat-gutter--left--8
  {
   padding-left : 0.5em;
  }

  .mat-gutter--left--4
  {
   padding-left : 0.25em;
  }


.mat-gutter--right--16
{
 padding-right : 1em;
}

.mat-gutter--right--8
{
 padding-right : 0.5em;
}

.mat-gutter--right--4
{
 padding-right : 0.25em;
}

.mat-gutter--top--4
{
 padding-top : 0.25em;
}


.mat-gutter--top--8
{
 padding-top : 0.5em;
}

.mat-gutter--top--16
{
 padding-top : 1em;
}

.mat-gutter--bottom--4
{
 margin-bottom : 0.25em;
}


.mat-gutter--bottom--8
{
  margin-bottom : 0.5em;
}

.mat-gutter--bottom--16
{
  margin-bottom : 1em;
}



.mat-margin-gutter--right--16 {
    margin-right : 1em;
}

.float-left {
    float : left;
}

.float-right {
    float : right;
}

.h-center {
    margin-left : auto ;
    margin-right  :auto ;
}
.v-center {
  margin-top : auto ;
  margin-bottom  :auto ;
}
mat-icon:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}


$color-grey:rgb(235,235,235);
$color-deep-grey:rgb(179,179,179);
$color-text-grey:rgb(130,130,130);


@media only screen and (max-width:480px)  {
body {
  font-size: 12px;
}
}
