/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Raleway|Stardos+Stencil|Roboto');
$mdc-theme-primary: black; // primary color
$mdc-theme-secondary: #AA8F6D; // secondary color
$mdc-theme-black: #000000; // secondary color

$color-grey:rgba(0, 0, 0, 0.507);
$color-deep-grey:rgb(179,179,179);
$color-text-grey:rgba(0,0,0,0.54);
$color-text-deep-grey:rgb(30,30,30);
$color-light-grey:rgb(248,248,248);
$color-border-grey: rgba(30, 30, 30, 0.45);

@import "~@angular-mdc/theme/material";


body, html {
  height: 100%;
  margin : 0 0 0 0 ;
  font-size: 16px;

}
$mdc-typography-font-family: "'Raleway', sans-serif";

hr {
  border : solid 0.5px $mdc-theme-primary;
}
.mdc-list-item__graphic {
  width: 1.5rem;
  height: auto;
  margin-right: 2rem;
}

.mdc-list-item {
  @include mdc-list-item-graphic-ink-color(black);
  
}



* {
    box-sizing: border-box;
  }

 
mdc-icon:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}


.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;

}
.dot:hover {
  transform: scale(1.25);
}
.dot:not(:first-child) {
  margin-left: 1em;
}




h1,h2,h3,h4,h5,h6,p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

$mdc-typography-styles-button: (
  font-size: 1rem,
  text-transform: none
);


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: $color-light-grey;

}


@media only screen and (max-width:480px)  {
  html {
    font-size: 12px;
  }
}
