@import './app-custom-themes.scss';

$mdc-theme-primary: mat-color($smc-show-case-primary); // primary color
$config: mat-typography-config();

$color-grey:rgba(0, 0, 0, 0.507);
$color-deep-grey:rgb(179,179,179);
$color-text-grey:rgb(85,85,85);
$color-text-deep-grey:rgb(30,30,30);
$color-light-grey:rgb(248,248,248);
$color-border-grey: rgba(30, 30, 30, 0.20);

/* Gutters */
$global-horizontal-gutter:calc(1.5rem + 1.5vw);

*:focus {
  outline: 0;
}


* {
    box-sizing: border-box;
  }

li {
    list-style-type: none;
}


.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;
}
.dot:hover {
  transform: scale(1.25);
}
.dot:not(:first-child) {
  margin-left: 1em;
}




h1,h2,h3,h4,h5,h6,p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}



.side-window__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.5rem 0.5rem 1rem;
  background-color: $mdc-theme-primary;
  title {
    @extend .mat-subheading-2 
  }
}
.space-divider {
  flex: 1 1 auto;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  z-index: 50000000;
}


.text--grey {
  color: $color-text-grey;
}

.smc-header {
  border-left: solid 12px $mdc-theme-primary;
  padding-left: 0.5rem;
} 
@media only screen and (max-width:720px)  {
  html {
    font-size: 12px;
  }
}



::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html, body { height: 100%; }
body { margin: 0; 
       font-family: Roboto, "Helvetica Neue", sans-serif;}
