/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Petit+Formal+Script|Raleway|Stardos+Stencil|Roboto');
$mdc-theme-primary: black; // primary color
$mdc-theme-secondary: #7F6A23; // secondary color
$mdc-theme-black: #000000; // secondary color

@import "~@angular-mdc/theme/material";


body, html {
  height: 100%;
  margin : 0 0 0 0 ;
}
$mdc-typography-font-family: "'Raleway', sans-serif";






* {
    box-sizing: border-box;
  }

  .mat-gutter--left--16
  {
   padding-left : 1em;
  }

  .mat-gutter--left--8
  {
   padding-left : 0.5em;
  }

  .mat-gutter--left--4
  {
   padding-left : 0.25em;
  }


.mat-gutter--right--16
{
 padding-right : 1em;
}

.mat-gutter--right--8
{
 padding-right : 0.5em;
}

.mat-gutter--right--4
{
 padding-right : 0.25em;
}

.mat-gutter--top--4
{
 padding-top : 0.25em;
}


.mat-gutter--top--8
{
 padding-top : 0.5em;
}

.mat-gutter--top--16
{
 padding-top : 1em;
}

.mat-gutter--bottom--4
{
 margin-bottom : 0.25em;
}


.mat-gutter--bottom--8
{
  margin-bottom : 0.5em;
}

.mat-gutter--bottom--16
{
  margin-bottom : 1em;
}



.mat-margin-gutter--right--16 {
    margin-right : 1em;
}

.float-left {
    float : left;
}

.float-right {
    float : right;
}

.h-center {
    margin-left : auto ;
    margin-right  :auto ;
}
.v-center {
  margin-top : auto ;
  margin-bottom  :auto ;
}
mdc-icon:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}
li {
    list-style-type: none;
}


.dot {
  height: 0.8rem;
  width: 0.8rem;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
  transition: 0.2s;
  cursor: pointer;

}
.dot:hover {
  transform: scale(1.25);
}
.dot:not(:first-child) {
  margin-left: 1em;
}




h1,h2,h3,h4,h5,h6,p {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

$mdc-typography-styles-button: (
  font-size: 1rem,
  text-transform: none
);

$color-grey:rgb(235,235,235);
$color-deep-grey:rgb(179,179,179);
$color-text-grey:rgb(130,130,130);


@media only screen and (max-width:480px)  {
  html {
    font-size: 12px;
  }
}
