<header class="column--centred">
    <ng-container *ngIf="!((isSearchActive$ | async) || (isFavoriteActive$ | async)) else others">
      <ng-container *ngIf="(activeCategory$ | async) as category else allProducts">
        <section class="column--centred">
           <mat-icon color="accent" *ngIf="category.svgIcon" class="mb4 category-icon--big"  [svgIcon]="category.svgIcon"></mat-icon>
          <p class="mat-h1">{{category.designation | uppercase}}</p>
          <p *ngIf="category.description" class="description-container mat-body-1 font--dark-grey">{{category.description}}</p>
        </section>

        <section *ngIf="category.children" class="category-children-container font--dark-grey mt4 inline--centred">
          <ng-container *ngFor="let item of category.children">
            <button
            class="m2"
            color="accent" 
            queryParamsHandling="merge"
            [routerLink]="['/product/list']" 
            [queryParams]="{categories__designation__in: item.designation,page:1}"
             mat-flat-button>
                <span>{{item.designation | uppercase}}</span>
            </button>
          </ng-container>
        </section>

      </ng-container>
      <ng-template #allProducts>
        <p i18n  class="mat-h1">ALL PRODUCTS</p>
      </ng-template>
  </ng-container>
</header>








<ng-template #others>
  <ng-container  *ngIf="(isSearchActive$ | async)" >
    <p class="mat-h1"  i18n>
      {objCount$ | async,plural, =0 { No products found for "{{searchTerm$| async}}"} other {Search results for "{{searchTerm$| async}}"}}
    </p>
  </ng-container>
    <ng-container  *ngIf="(isFavoriteActive$ | async)">
      <p class="mat-h1 text--centred"  i18n>
        {favoritesCount$ | async,plural, =0 { You have not yet selected a product as a favorite } other {You have {{favoritesCount$ | async}} favorites }}
      </p>
    </ng-container>
</ng-template>



