  <ng-container *ngIf="componentsSpecs.length > 0">
  <p i18n class="mat-h3 font--dark-grey">Components</p>
  <mat-divider></mat-divider>
  <mat-list dense>
<mat-list-item *ngFor="let componentSpec of componentsSpecs">
  <mat-icon [svgIcon]="componentSpec.component?.svgIcon?.designation" matListIcon></mat-icon>

  <div mat-line>
      <span class="mat-body-2">
        {{componentSpec.component.designation}}
      </span>
    </div>
  <div mat-line class="mat-caption">

      <span i18n>
        Raw materials:
      </span>
    <span *ngFor="let rawMat of componentSpec.rawMaterials ; first as isFirst">
      <span *ngIf="!isFirst">,</span>
      {{rawMat}}
    </span>
  </div>
  <div mat-line class="mat-caption">
      <span >
        {{(componentSpec.component.measureType?.designation | lowercase)}}
        ({{componentSpec.component.measureType?.unit}}) :
      </span>
    <span *ngFor="let measure of componentSpec.measures ; first as isFirst">
      <span *ngIf="!isFirst">&nbsp;-&nbsp;</span>
      {{measure}}
    </span>
  </div>
</mat-list-item>
</mat-list>
</ng-container>
