
    <header class="column--centred p4 mb8">
      <h1 i18n class="font--dark-grey mat-h1 text--centred">Get in touch</h1>
      <p class="mat-subheading-2 text--centred font--grey">Contact us for any question , quoting or claim </p>
  </header>
  <main class="p4">
  <section class="social-community">
    <a target="_blank" href="https://www.facebook.com/SMCuivre">
        <mat-icon class="community-icon"   inline="true" svgIcon="facebook"></mat-icon>

    </a>
    <a target="_blank">
        <mat-icon class="community-icon" inline="true" svgIcon="instagram"></mat-icon>

    </a>
  </section>
    <address class="adress-container">
        <a class="mat-subheading-2 column--centred" href="mailto:sotulatn@gmail.com ">
            <mat-icon color="accent">mail</mat-icon>
            <span>sotulatn@gmail.com</span>
        </a>
        <a class="mat-subheading-2 column--centred" href="tel:+13115552368">
            <mat-icon   color="accent">phone</mat-icon>
            <div class="column">
              <span>tel : (216) 54 889 629</span>
              <span>fax : (216) 71 540 055</span>
            </div>


          </a>
        <div class=" mat-subheading-2 column--centred">
            <mat-icon  color="accent">location_on</mat-icon>
            <div class="column--centred">
                Zone industrielle Mornaguia 
                <span>1110 Tunisie</span>
            </div>
        </div >

      </address>

<section class="contact-form">
    <form (ngSubmit)="onSubmit()" class="column" [formGroup]="askForm">

            <mat-form-field  appearance="outline" appControlValidatorMessage>
                <mat-label>First name</mat-label>
                <input type="text" required matInput formControlName="first_name">

                <mat-error></mat-error>
            </mat-form-field>
            <mat-form-field  appearance="outline" appControlValidatorMessage>
              <mat-label>Last name</mat-label>
              <input type="text" required matInput formControlName="last_name">

              <mat-error></mat-error>
          </mat-form-field>
        <mat-form-field  appearance="outline" appControlValidatorMessage>
            <mat-label>Email</mat-label>
            <input type="email"  required matInput formControlName="email">
            <mat-error></mat-error>
        </mat-form-field>
        <mat-form-field class="mb4" appearance="outline" appControlValidatorMessage>
            <mat-label>Your message</mat-label>
            <textarea rows="6" type="text"  required matInput formControlName="message">
                </textarea>
            <mat-error></mat-error>
        </mat-form-field>
        <button class="full-width" type="submit" mat-flat-button color="accent">SEND</button>
    </form>
</section>
</main>