@import "src/styles.scss";
header {
    width: 100%;
    padding:  0.5rem 1rem;
}

.form__field,.form__submit-button {
    width: 100%;
}
.form__field {
    margin: 1rem 0;
    input {
        width: 100%;
        height: 2.5rem;
    }
    label {
        margin-bottom:0.5rem ;
        @extend .mat-body;
        text-transform: capitalize;
    }
}

button {
    span {
        color: white;
    }
  }
