@import "src/styles.scss";
header {
    width: 100%;
    padding:  0.5rem 1rem;
}

mat-form-field,.form__submit-button {
    width: 100%;
}
mat-icon {
    @extend .font--grey;
}


button {
    span {
        color: white;
    }
  }