
    <mat-progress-bar *ngIf="isChecking$ | async" mode="indeterminate">

    </mat-progress-bar>
            <form [formGroup]="createForm" (ngSubmit)="createProfile()">
                    <header class="column--center">
                        <h4>Register with SMC</h4>
                        <p class="font--grey mat-body">Please fill the following information
                        </p>
                        <p class="alert mat-caption" *ngFor="let item of serverError$ | async  | keyvalue">
                            {{item.value}}</p>
                </header>

                <mat-form-field  appearance="outline">
                    <mat-icon class="mr2" matPrefix>email</mat-icon>
                    <mat-label i18n>email</mat-label>
                    <input required matInput type="email" formControlName="email" id="email">
                    <mat-error
                        *ngIf="createForm.get('email').invalid && createForm.get('email').touched">
                        {{getEmailErrorMessage()}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-icon class="mr2" matPrefix>vpn_key</mat-icon>
                    <mat-label i18n>password</mat-label>
                    <input required matInput autocomplete="new-password" type="password" formControlName="password" id="password">
                    <mat-error *ngIf="createForm.get('password').invalid && createForm.get('password').touched">
                    {{getPasswordErrorMessage('password')}}</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label i18n>confirm your password</mat-label>
                    <input required matInput autocomplete="new-password" type="password" formControlName="confirmPassword" id="new-confirmPassword">
                    <mat-error *ngIf="createForm.invalid || createForm.get('password').invalid && createForm.get('password').touched">
                            {{getPasswordErrorMessage('confirmPassword')}}</mat-error>
                </mat-form-field>
                <p class="fieldset-title inline--centred mat-subheading-1">
                    <mat-icon>person</mat-icon>
                    Personal information
                </p>


                <section class="fields--inline">
                <mat-form-field  appearance="outline">
                    <mat-label i18n>first name</mat-label>
                    <input required matInput type="text" formControlName="first_name" id="first_name">
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label i18n>last name</mat-label>
                    <input required matInput type="text" formControlName="last_name" id="last_name">
                </mat-form-field>

            </section>
            <section class="mb4 fields--inline">
                <div class="radio--container inline--centred">
                        <mat-label class="mr8" i18n>Gender</mat-label>
                        <mat-radio-group formControlName="gender" id="gender">
                          <mat-radio-button value="M">Male</mat-radio-button>
                          <mat-radio-button value="F">Female</mat-radio-button>
                        </mat-radio-group>
                </div>
        
        
                <mat-slide-toggle 
                            formControlName="is_professional" 
                            [labelPosition] = "'before'">
                            <span class="mat-subheading-2 mr8" i18n>Professional ?</span>
                </mat-slide-toggle>
         </section>
            <button class="form__submit-button" type="submit"
            mat-raised-button color="primary" i18n primary>
            <span class="mat-subheading-2">
                Register
            </span>
            </button>
            </form>