<mat-menu #childMenu="matMenu" [overlapTrigger]="false">
  <span *ngFor="let child of categories">
    <!-- Handle branch node menu items -->
    <span *ngIf="child.children && child.children.length > 0">
      <button mat-menu-item color="primary" [matMenuTriggerFor]="menu.childMenu">
        <span>{{child.designation | uppercase}}</span>
      </button>
      <app-product-menu-item #menu [categories]="child.children"></app-product-menu-item>
    </span>
    <!-- Handle leaf node menu items -->
    <span *ngIf="!child.children || child.children.length === 0">
      <button mat-menu-item>
        <span>{{child.designation | uppercase}}</span>
      </button>
    </span>
  </span>
</mat-menu>
