@import "src/styles.scss";

:host,.content__action {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#logo {
    width :5rem;
    background-color: $mdc-theme-secondary;
    border: 3px solid black;
    border-radius: 100px;
    padding: 0.5rem;
}
.text--grey {
    color:$color-text-grey;
}

.content {
        align-items: flex-start;
        margin-left: 1rem;
        justify-content: space-between;
    }
    .content__action {
        margin-left: -1rem;
        button {
            @include mdc-button-filled-accessible(white);
        }
    }
