@import "src/styles.scss";

#account-avatar {
    @include  md-icon-size(5rem);
    color: mat-color($smc-show-case-accent);
    margin-bottom: 0.5rem;
}
#account-avatar:hover {
    cursor: pointer;
}
.mat-h2 {
    margin: 0;
}
.nav-list--full-width {
    width: 100%;
}
.nav-list {
 margin-top:1.5rem ;
 border-top: 1px solid mat-color($smc-show-case-primary) ;
 border-bottom: 1px solid mat-color($smc-show-case-primary) ;
}
.mat-list-icon {
@extend .font--grey;
}