@import "src/styles.scss";

:host {
  width: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 3.5rem auto;
  grid-template-rows:  auto;
  grid-template-areas: 
  "content content"
  "action action";
}



.content {
grid-area: content;
}

#logo {
    grid-area: logo;
    background-color: $mdc-theme-secondary;
    border: 2px solid black;
    border-radius: 4rem;
    padding: 0.5rem;
}
.text--grey {
    color:$color-text-grey;
}

.content__action {
    grid-area: action;
    display: flex;
    justify-content: flex-start;
    margin-left: -1rem;

    button {
        margin-right: 0.5rem;
    }

}