@import "src/styles.scss";

:host {
  width: 100%;
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 0.5rem;
  grid-template-columns: 3.5rem auto;
  grid-template-rows:  auto;
  grid-template-areas: 
  "content content"
  "action action";
}



.content {
grid-area: content;
.smc-title {
    font-size: 1.25rem;
    font-weight: 500;
}
}

#logo {
    grid-area: logo;
    background-color: $mdc-theme-primary;
    border: 2px solid black;
    border-radius: 4rem;
    padding: 0.5rem;
}

.content__action {
    grid-area: action;
    display: flex;
    justify-content: flex-start;
    margin-left: -1rem;

    button {
        margin-right: 0.5rem;
    }

}