<div class="content">
    <h3 class="smc-title">Welcome {{account.profile.first_name}}</h3>
    <h4 class="text--grey">{{account.profile.email}}</h4>
</div>
<div class="mat-body content__action">
        <button (click)="logOut()" mat-button>
            <mat-icon>power_settings_new</mat-icon>
            <span i18n>Log out</span>
        </button>
        <button [routerLink]="['/account/profile']" mat-button>
            <mat-icon>perm_identity</mat-icon>
            <span i18n>My profile</span>
        </button>
</div>