@import "src/styles.scss";


header {
    color: black;
    background-color: $mdc-theme-secondary;
}

p {
  cursor: pointer;
}


.nav-bar {
    padding:  0.5rem $global-horizontal-gutter;
    display : flex;
    justify-content : space-between;
    align-items : center;
    width: 100%;

}

.nav-bar__nav-tab
{
    display : flex;
    justify-content: space-between;
    width: 50%;
    max-width: 33rem;

}
.nav-tabs__tab {
  display: flex;
  align-items: center;
}


.nav-bar__nav-tab > button
{   
    margin-right: 1rem;
    @include mdc-button-filled-accessible(white);
    mdc-icon {
        transition: 0.2s ease-out;
        font-weight: 300;
      }
    .mdc-button__label {
      font-weight: bold;
      }
}


.logo {
  text-align:center;
  cursor: pointer;
  .header--big {
    font-family: 'Domine', serif;
    font-size: 2rem;
    letter-spacing: 0.25rem;
  }
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
    #account-icon {
      @media only screen and (max-width:1024px) { 
        display: none;
      }
    }
    .language-panel {
        display: flex;
        align-items: center;
        @include mdc-button-ink-color(black);
    }
}





.menu__sub-menu {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: ease  0.3s ;
    min-width: 100%;
    padding: 0 3rem;
    .sub-menu__column{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex : 0 0 20%;
      margin: 2rem 0;

      .sub-menu__column__image {
        max-width: 75%;
        margin: 0.75rem 0;
      }

      .menu__sub-menu__tab {
        display: flex;
        align-items: flex-end;
     }
      .menu__sub-menu__tab--small{
        margin-bottom: 0.75rem;

      }
    }

}


.search-container {

  @media only screen and (max-width:1024px) {
    padding : 2rem 2rem;
    width : 80%;


  }
  @media only screen and (max-width:640px) {
    padding : 1rem 1rem;
    width : 90%;
  }
  @media only screen and (max-width:480px) {
    padding : 1rem 0.5rem;
    width : 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);

  }


}


.spacer {
  flex :  1 1 auto;
}

#main {
    transition: 0.3s;
}
.nav-bar__menu-icon {
    display: none;
}
    @media only screen and (max-width:1024px) {
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
        }
         .nav-bar__tools
         {
            .language-panel {
                display: none;

              }
        }
      }
