<header (mouseleave)="toggleMenu()"class="mat-typography">
    <div class='upper-menu'>
        <span class="mat-caption float-right">English | French</span>
    </div>
    <nav class='nav-bar'>
      <mat-icon (click)="toggleSideMenu()" class="nav-bar__menu-icon">menu</mat-icon>

     <div [routerLink]="['/product/home']" class="nav-bar__logo--layout logo">
        <p class="header--big">SMC</p>
        <p class="sentence--small">sweat for you</p>
      </div>
     <div class="nav-bar__nav-tab">
       <div (mouseenter)="toggleMenu()"><button mat-button [routerLink]="['/product/list']" class="mat-margin-gutter--right--16">Products</button>
        <div class="mat-elevation-z1 menu__sub-menu"  (mouseenter)="toggleMenu()" [style.height]="isMenuActive ? '100px' : '0px'">
          <div  *ngFor="let rootCat of rootCategories[0].children">
            <p [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: rootCat.designation}" matRipple class="menu__sub-menu__tab  mat-gutter--top--8 mat-body-2">{{rootCat.designation | uppercase}}</p>
            <p [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: childCat.designation}"  [queryParamsHandling]= "'merge'" matRipple class="menu__sub-menu__tab  mat-caption" *ngFor="let childCat of rootCat?.children">
                {{childCat.designation | lowercase}}
            </p>
          </div>
        </div>
       </div>
       <button mat-button class="mat-margin-gutter--right--16">Gifts</button>
       <button mat-button class="mat-margin-gutter--right--16">Inspiration</button>
       <button mat-button class="mat-margin-gutter--right--16">About us</button>
       <button mat-button class="mat-margin-gutter--right--16">Contact us</button>
     </div>
     <app-search-box  (open) = "toggleSearch($event)" class="nav-bar__search-icon"></app-search-box>
    </nav>
  </header>
  
  <div  [@openClose]="isSideMenuActive ? 'open' : 'closed'" class="nav-bar__side-menu">
      <mat-icon class="menu__close-icon"(click)="toggleSideMenu()">close</mat-icon>
      <div  class="logo menu__logo--layout">
        <p class="header--big">SMC</p>
        <p class="sentence--small">sweat for you</p>
      </div>
      <div class="mat-typography menu-content">
        <ul>
          <li> 
            <mat-icon svgIcon="Bar_code"></mat-icon> 
             <app-tree-menu *ngIf="isReady" [categories] = "rootCategories"></app-tree-menu>
          </li>
          <li> <mat-icon svgIcon="Gift"></mat-icon> 
               <span>Gift</span> 
          </li>
          <li> <mat-icon svgIcon="Telephone"></mat-icon> 
            <span>Contact us</span>
          </li>
          <li> <mat-icon svgIcon="Team"></mat-icon> 
            <span>About us</span>
          </li>
        </ul>
      </div>
  
  </div>