<header  [mdcElevation]="2" mdc-typography>
    <nav class='nav-bar'>
      <mdc-icon [class.menu_icon--hidden]="isSearchActive" (click)="toggleSideMenu()" class="nav-bar__menu-icon">menu</mdc-icon>

     <div [routerLink]="['/product/home/']" class="nav-bar__logo--layout logo">
        <p class="header--big">SMC</p>
      </div>
     <div class="nav-bar__nav-tab">
         <button (click)="toggleMenu()" class="nav-tab__button" mdc-button>  
           <span class="mdc-button__label">PRDUCTS</span> 
           <mdc-icon [style.transform]="isMenuActive ? 'rotate(-90deg)' : ''" >keyboard_arrow_down</mdc-icon> 
         </button>
         
        <div  *ngIf="isMenuActive" [mdcElevation]="isMenuActive ? 3 : 0" class="menu__sub-menu"  [style.z-index]="isMenuActive ? '1000' : '0'" [style.height]="isMenuActive ? 'auto' : '0px'">
          <div class="sub-menu__column" *ngFor="let rootCat of rootCategories[0]?.children">
            <button mdc-button [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: rootCat.designation}" [queryParamsHandling]= "'merge'"  class="menu__sub-menu__tab">
              <mdc-icon svgIcon="rectangle"></mdc-icon>
              <mdc-button-label mdcBody1>{{rootCat.designation | uppercase}}</mdc-button-label>
              </button>
            <img class="sub-menu__column__image" [src]="rootCat.thumbNail.content">
            <button mdc-button [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: childCat.designation}"  [queryParamsHandling]= "'merge'"  class="menu__sub-menu__tab menu__sub-menu__tab--small" *ngFor="let childCat of rootCat?.children">
                <mdc-button-label mdcBody2>{{childCat.designation}}</mdc-button-label>
            </button>
          </div>
        </div>
       <button mdc-button  class="nav-tab__button">
         <span class="mdc-button__label">INSPIRATION</span>
       </button>
       <button mdc-button  class="nav-tab__button">
         <span class="mdc-button__label">ABOUT US</span>
       </button>
       <button mdc-button  class="nav-tab__button">
         <span class="mdc-button__label">CONTACT US</span>
       </button>
     </div>
     <div class="nav-bar__tools">
        <button (click)="toggleSearch()" mdcIconButton><mdc-icon>search</mdc-icon></button>
        <div [mdcElevation]="3" *ngIf="isSearchActive" class="search-container">
            <mdc-icon (click)="toggleSearch()">close</mdc-icon>
            <app-search-box   class="search-icon"></app-search-box>
        </div>
        <button (click)="toggleAccountCard()" mdcIconButton><mdc-icon>person</mdc-icon></button>
        <div *ngIf="isAccountCardActive" [mdcElevation]="3" class="account-card">
        <mdc-icon (click)="toggleAccountCard()">close</mdc-icon>
       <app-account-login>
       </app-account-login>
     </div>
        <button class="language-panel" mdc-button >
          <mdc-icon>language</mdc-icon>   
          <span class="mdc-button__label">EN</span> 
          <mdc-icon>keyboard_arrow_down</mdc-icon>
        </button> 
    </div>
    </nav>
  </header>
  
  <div  [@openClose]="isSideMenuActive ? 'open' : 'closed'" class="nav-bar__side-menu">
<app-side-nav-menu></app-side-nav-menu>
  
  </div>