@import "src/styles.scss";

:host-context(.menu__black) header {
    background-color: black;
    
}

:host-context(.menu__transparent) div.nav-bar__logo {
    opacity: 0;
    
}



header {
    color: white;

}
.upper-menu {
    padding:  0 6rem 0 6rem;

}


.nav-bar{
    padding:  0rem 6rem 0rem 6rem;
    display : flex;
    justify-content : space-between;
    align-items : center;
    width: 100%;

}

.nav-bar__nav-tab
{

    display : flex;
    align-self: flex-start;

}


.nav-bar__nav-tab button
{

    font-weight: 500;

}


.logo {
  text-align:center;
  cursor: pointer;
  .header--big {
    font-family: 'Stardos Stencil', cursive;
    font-weight: 200;
    font-size: 2em;
    letter-spacing: 0.2em;
  }
.sentence--small {
    font-family: 'Raleway', sans-serif;
    font-size: 0.75em;
    margin-top: -1em;
    margin-left: -0.7em;
  }
}




.menu__sub-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    top : 73.5px;
    background-color: white;
    width : 40%;
    color: black;
    height: 0px;
    overflow: hidden;
    transition: ease  0.3s ;

}

.menu__sub-menu__tab:hover {
    border-bottom: solid thin $color-deep-grey;;
    cursor : pointer;

}

.spacer {
  flex :  1 1 auto;
}


.nav-bar__side-menu {
  width:0;
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
}

.menu__logo--layout {
    border-top: 1px solid #7F6A23;
    border-bottom: 1px solid #7F6A23;
    padding: 0.5em 0 0.5em 0;


    .header--big {
        margin : 0.25em;
      }

}
.menu__close-icon {
    float: right;
    margin: 0.5em 0.5em;
    align-self: flex-end;
}


#main {
    transition: 0.3s;
}



.nav-bar__menu-icon {
    display: none;
}
    @media only screen and (max-width:960px) {

        .nav-bar__nav-tab {
          display: none;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
            order :1;
        }
        .nav-bar__search-icon
        {
            order : 3;
        }
        .spacer{
            display: none;
        }
        .nav-bar__logo--layout {
            order : 2;
            position: relative;
            left: 3.5em;
        }

        .nav-bar{
            padding:  0rem 6rem 0rem 6rem;

        }
        .upper-menu {
            padding:  0 1em 0 1em;
            width : 100%;
        }
        .menu-logo {
            
        }
      }
      @media only screen and (max-width:840px) {
        .nav-bar , .upper-menu {
            padding:  0rem 1rem 0rem 1rem;
        }
        
      }