@import "src/styles.scss";

:host {
  z-index: 100000;
  position: fixed;
  width: 100%;
  top:0;
}


header {
    color: black;
    background-color: white;


}

.nav-bar {
    padding:  1.25rem 4rem 1.25rem 4rem;
    display : flex;
    justify-content : space-between;
    align-items : center;
    width: 100%;

}

.nav-bar__nav-tab
{
    display : flex;

}


.nav-bar__nav-tab > button
{   
    margin-right: 1rem;
    @include mdc-button-filled-accessible(white);
    mdc-icon {
        transition: 0.2s ease-out;
      }
    .mdc-button__label {
      font-weight: bold;
      }
}


.logo {
  text-align:center;
  cursor: pointer;
  .header--big {
    font-family: 'Stardos Stencil', cursive;
    font-weight: bold;
    font-size: 3rem;
    line-height: 0;

  }
.sentence--small {
    font-family: 'Raleway', sans-serif;
    font-size: 0.8rem;
    margin-top: -0.75rem;
    margin-right:  0.7rem;
  }
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
    mdc-icon:nth-child(2) {
       margin: 0 1rem;
    }
    .language-panel {
        display: flex;
        align-items: center;
        @include mdc-button-ink-color(black);
    }
}





.menu__sub-menu {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:80px;
    left:0;
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: ease  0.3s ;
    min-width: 100%;
    padding: 1.5rem 20%;
    .sub-menu__column{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      padding-bottom: solid 1px black;

      .sub-menu__column__image {
        max-width: 60%;
      }

      .menu__sub-menu__tab {
        @include mdc-button-container-fill-color(white);
        @include mdc-button-ink-color(black);
        @include mdc-button-horizontal-padding(0);
        @include mdc-button-shape-radius(0px);
        width: 100%;
        align-items : flex-start;
        justify-content: flex-start;
        border-bottom: solid 0.5px white;
        mdc-button-label {
          font-weight: bold;

        }

     }
      .menu__sub-menu__tab--small .mdc-button__label{
        text-transform: capitalize;
        font-weight: 300;

      }
      // .menu__sub-menu__tab:hover {
      //   border-bottom: solid 0.5px black;

      // }

    }

}

.account-card {
  position: absolute;
  top: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: black;
  z-index: 1000;
  padding: 1rem;
  background-color: white;
  border: solid 0.5px $color-border-grey;
  display: flex;
  flex-direction: column;
    mdc-icon {
      font-size: 1rem;
      align-self: flex-end;
      font-size: 1.5rem;
    }
  app-account-login {
    margin : 1.5rem 5rem;
    @media only screen and (max-width:600px) {
      margin : 1.5rem 2rem;

    }
  }


}

.search-container {
  position: absolute;
  top: 10%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-10%);
  transition: 0.3s ease;
  background-color: white;
  width : 60%;
  z-index: 1000;
  padding : 2rem 4rem;
  min-height: 60%;
  mdc-icon {
    float: right;
  }
  @media only screen and (max-width:1024px) {
    padding : 2rem 2rem;
    width : 80%;


  }
  @media only screen and (max-width:640px) {
    padding : 1rem 1rem;
    width : 90%;
  }
  @media only screen and (max-width:480px) {
    padding : 1rem 0.5rem;
    width : 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);

  }


}


.spacer {
  flex :  1 1 auto;
}


.nav-bar__side-menu {
  width:0;
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  .menu__close-icon {
    margin: 0.5em 0.5em;
    align-self: flex-end;
}

}



#main {
    transition: 0.3s;
}


.nav-bar__menu-icon {
    display: none;
}
    @media only screen and (max-width:1024px) {
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
        }
         .nav-bar__tools
         {
            .language-panel {
                display: none;

              }
        }



      }
      @media only screen and (max-width:840px) {
        .nav-bar {
            padding:  1.25rem 1rem 1.25rem 1rem;
        }


        
      }