@import "src/styles.scss";


header {
    color: black;
    background-color: white;
    transition: 0.3s ease;
}

p {
  cursor: pointer;
}


.nav-bar {
    padding:  1.25rem $global-horizontal-gutter;
    display : flex;
    justify-content : space-between;
    align-items : center;
    width: 100%;

}

.nav-bar__nav-tab
{
    display : flex;
    justify-content: space-between;
    width: 50%;
    max-width: 33rem;

}
.nav-tabs__tab {
  display: flex;
  align-items: center;
}


.nav-bar__nav-tab > button
{   
    margin-right: 1rem;
    @include mdc-button-filled-accessible(white);
    mdc-icon {
        transition: 0.2s ease-out;
        font-weight: 300;
      }
    .mdc-button__label {
      font-weight: bold;
      }
}


.logo {
  text-align:center;
  cursor: pointer;
  .header--big {
    font-family: 'Domine', serif;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
  }
}

.nav-bar__tools
{
    display: flex;
    align-items: center;
    mdc-icon:nth-child(2) {
       margin-left : 1rem;
    }
    .language-panel {
        display: flex;
        align-items: center;
        @include mdc-button-ink-color(black);
        margin-left : 1rem;
    }
}





.menu__sub-menu {
    display: flex;
    justify-content: center;
    position: absolute;
    top:76px;
    left:0;
    height: 0;
    background-color: white;
    height: 0px;
    overflow: hidden;
    transition: ease  0.3s ;
    min-width: 100%;
    .sub-menu__column{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex : 0 0 20%;
      margin-top: 2rem;

      .sub-menu__column__image {
        max-width: 60%;
        margin: 0.75rem 0;
      }

      .menu__sub-menu__tab {
        display: flex;
        align-items: flex-end;
        mdc-icon {
          width: 0.5rem;
          margin-right: 0.25rem;
        }
     }
      .menu__sub-menu__tab--small{
        margin-bottom: 0.75rem;

      }
    }

}

.account-card {
  position: absolute;
  top: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  color: black;
  z-index: 1000;
  padding: 1rem;
  background-color: white;
  border: solid 0.5px $color-border-grey;
  display: flex;
  flex-direction: column;
    mdc-icon {
      font-size: 1rem;
      align-self: flex-end;
      font-size: 1.5rem;
    }
  app-account-login {
    margin : 1.5rem 5rem;
    @media only screen and (max-width:600px) {
      margin : 1.5rem 2rem;

    }
  }


}

.search-container {
  position: absolute;
  top: 2rem;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  transition: 0.3s ease;
  background-color: white;
  width : 60%;
  z-index: 1000;
  height: 60vh;
  padding : 2rem 4rem;
  mdc-icon {
    float: right;
  }
  @media only screen and (max-width:1024px) {
    padding : 2rem 2rem;
    width : 80%;


  }
  @media only screen and (max-width:640px) {
    padding : 1rem 1rem;
    width : 90%;
  }
  @media only screen and (max-width:480px) {
    padding : 1rem 0.5rem;
    width : 100%;
    top: 0;
    left: 0;
    transform: translate(0,0);

  }


}


.spacer {
  flex :  1 1 auto;
}


.nav-bar__side-menu {
  width:25rem;
  transform : translateX(-25rem);
  position: fixed;
  top:0;
  left:0;
  overflow-x: hidden;
  height: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  transition: 0.3s;
  .menu__close-icon {
    margin: 0.5em 0.5em;
    align-self: flex-end;
}

}



#main {
    transition: 0.3s;
}


.nav-bar__menu-icon {
    display: none;
}
    @media only screen and (max-width:1024px) {
        .nav-bar__nav-tab {
          display: none;
          position: absolute;
        }
        .nav-bar__menu-icon
        {
            display: inline-block;
        }
         .nav-bar__tools
         {
            .language-panel {
                display: none;

              }
        }
      }
