<nav class='upper-menu nav-bar' *ngIf="!(isHomeRoute | async)">
      <mat-icon (click)="toggleModal('sideMenuBox')" class="nav-bar__menu-icon">menu</mat-icon>

     <div [routerLink]="['/product/home/']" class="nav-bar__logo">
      <!-- <mat-icon  inline="true" svgIcon="logo_2"></mat-icon> -->
        <p class="header--big">SMC</p>
      </div>
     <div class="nav-bar__nav-tab">
        <p  i18n (click)="toggleMenu()" class="nav-tabs__tab">  
           PRODUCTS
        </p>
        <p i18n class="nav-tabs__tab">
         UTILITY
        </p>
        <p i18n class="nav-tabs__tab">
         ABOUT US
        </p>
        <p i18n class="nav-tabs__tab">
         CONTACT US
        </p>
     </div>
     <div class="nav-bar__tools">
        <button mat-icon-button  (click)="toggleModal('searchBox')">
            <mat-icon>search</mat-icon>
        </button>
        <button mat-icon-button  (click)="toggleUserCard()" id="account-icon">
            <mat-icon>person</mat-icon>
        </button>
        <button  (click)="toggleModal('languageBox')" class="language-panel" mat-button>
          <mat-icon>language</mat-icon>   
          <span class="mat-body">{{(language$ | async).id | uppercase}}</span> 
        </button> 
        <div class="language-panel-container">

        </div>
    </div>
  </nav>

  <div   class="menu__sub-menu"  [style.height]="isMenuActive ? '332px' : '0px'">
    <div class="sub-menu__column" *ngFor="let rootCat of rootCategories[0]?.children">
      <h3 (click)="toggleMenu()"  [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: rootCat.designation}" [queryParamsHandling]= "'merge'"  class="menu__sub-menu__tab">
        {{rootCat.designation | uppercase}}
      </h3>
      <img class="sub-menu__column__image" [src]="rootCat.thumbNail?.content">
      <h4 (click)="toggleMenu()"  [routerLink]="['/product/list']" [queryParams]="{categories__designation__in: childCat.designation}"  [queryParamsHandling]= "'merge'"  class="menu__sub-menu__tab--small" *ngFor="let childCat of rootCat?.children">
          {{childCat.designation | titlecase}}
      </h4>
    </div>
  </div>


  
<div  [@inOutAnimation] *ngIf="(modalStore$ | async).userCardBox || (modalStore$ | async).languageBox" class="mat-elevation-z2 account-card">

    <app-account-card *ngIf="(modalStore$ | async).userCardBox">
    </app-account-card>
    <app-language-box *ngIf="(modalStore$ | async).languageBox">
    </app-language-box>
</div>

<div    class="mat-elevation-z2 language-panel">

</div>

<div  [@inOutAnimation] *ngIf="(modalStore$ | async).loginBox || (modalStore$ | async).createProfileBox" class="mat-elevation-z2 center-box">

    <app-account-login *ngIf="(modalStore$ | async).loginBox" >
    </app-account-login>
    <app-create-profile *ngIf="(modalStore$ | async).createProfileBox">

    </app-create-profile>
</div>

<div  [@expandAnimation] *ngIf="(modalStore$ | async).searchBox" class="search-box">
    <app-search-box >
    </app-search-box>
</div>


<div  [@routeAnimations]  *ngIf="(modalStore$ | async).sideMenuBox || (modalStore$ | async).filterBox" class="mat-elevation-z2 side-box">
    <app-side-nav-menu *ngIf="(modalStore$ | async).sideMenuBox" >
    </app-side-nav-menu>

</div>

  