@import "src/styles.scss";

li {
    padding : 0.5rem 1rem;
    display: flex;
    align-items: center;
    mat-icon:first-child  {
        width: 2rem;
        margin-right: 1rem;
    }
    border-radius: 5px;
}
.check--full-right {
    margin-left: auto;
}
a {
    text-decoration: none;
    color: black;
}