
  <button [matMenuTriggerFor]="lang" mat-icon-button>
    <mat-icon [svgIcon]="(language$ |async).LanguageType"></mat-icon>   
  </button> 

  <mat-menu  #lang="matMenu">
    <a class="inline--centred" mat-menu-item *ngFor="let item of languageList" [href]="item.id | lowercase" (click)="setLanguage(item)" >
        <mat-icon [svgIcon]="(item.LanguageType)"></mat-icon>
        <span class="mat-body-2">{{item.LanguageType}}</span>
        <mat-icon *ngIf="(language$ |async).LanguageType == item.LanguageType" class="check--full-right">check</mat-icon>
    </a>
  </mat-menu>

