

<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <p class="form-group__header" mdcBody2>
            <mdc-icon svgIcon="rectangle"></mdc-icon>
            PERSONAL INFORMATION</p>
        <div  formGroupName="profile" class="form__field">
        <label mdcBody2 for="first_name">
            first name
        </label>
        <input  required
                type="text" 
                id="first_name"
                formControlName="first_name">                                
        </div>
        <div  formGroupName="profile" class="form__field">
    <label mdcBody2 for="last_name">
        last name
    </label>
    <input  required
            type="text" 
            id="last_name"
            formControlName="last_name">                                
        </div>
    <div class="form__field">
        <label mdcBody2 for="country">
            Country
        </label>
        <select id="country" formControlName="country">
            <option *ngFor="let item of countryNames" value="item.val">{{item.val}}</option>
        </select>
    </div>
    <div class="form__field">
        <label mdcBody2 for="phoneNumber">
            Phone Number
        </label>
        <input 
        autocomplete="tel"  
        formControlName="phoneNumber"  
        type="tel" id="phoneNumber" >
     </div>
  </div>


      <div class="form-group">
          <p class="form-group__header" mdcSubtitle2>
              <mdc-icon svgIcon="rectangle"></mdc-icon>
            COMPANY INFORMATIONS</p>


      
            <mdc-radio-group class="radio-group--gutter" formControlName="is_professional">
                    <mdc-form-field>
                      <mdc-radio  value="true"></mdc-radio>
                      <label>Professional</label>
                    </mdc-form-field>
                    <mdc-form-field >
                            <mdc-radio  value="false"></mdc-radio>
                            <label>Private</label>
                    </mdc-form-field>
            </mdc-radio-group>

      <div
          class="form__field">
          <label mdcBody2 for="company_name">
                Company
            </label>
          <input  
            formControlName="company_name" 
            autocomplete="organization" 
            type ="text"   
            >

        </div>
      <div class="form__field">
            <label mdcBody2 for="position">
                    Position
                </label>
          <input   
                formControlName="position"  
                autocomplete="organization-title" 
                type ="text" >
                <p mdcCaption class="field__note">
                        Insert your current position , eg: sales manager 
                        </p>
            </div>

            <div class="form__field">
                    <label mdcBody2 for="activity">
                            Activity
                        </label>
                  <input   
                        formControlName="activity"  
                        autocomplete="organization" 
                        type ="text" >
                        <p mdcCaption class="field__note">
                                Insert your field of activity , eg: Tourism , Restoration
                                </p>
                    </div>
        </div>


        <div formGroupName="profile" class="form-group">
            <p class="form-group__header" mdcSubtitle2>
                <mdc-icon svgIcon="rectangle"></mdc-icon>
                PASSWORD CHANGE</p>
    
            <div  class="form__field">
                <label mdcBody2 for="password">
                        password
                    </label>
        <input  
                         autocomplete="new-password"  
                         required  
                         id ="password"
                         type ="password" formControlName="password">
        </div>
        <div   class="form__field">
                <label mdcBody2 for="confirmPassword">
                        confirm password
                </label>
        <input  
                         autocomplete="new-password"  
                         required  
                         id ="confirmPassword"
                         type ="password" 
                         formControlName="confirmPassword">
        <div  class="alert" *ngIf="accountForm.errors?.passwordNotConfirmed && (accountForm.get('profile.password').touched || accountForm.get('profile.confirmPassword').dirty)">
        <p mdcCaption >
                Passwords are not equals.
        </p>
        </div>
      </div>
      <button class="form__submit-button" [disabled]="!accountForm.valid" type="submit"  mdc-button primary>Save changes</button>

      </div>
  </form>

