@import "src/styles.scss";



.form__non-field-error {
    color: red;
    margin-top: 1rem;
}


form {
    display: flex;
    justify-content: space-between;
    border: 1px solid $color-light-grey;
    padding: 2rem 2rem ;
    border-radius: 5px;

    @media only screen and (max-width:960px) {
        flex-direction: column;
        align-items: center;
    }
    @media only screen and (max-width:640px) {
        border: none;
        padding: 0px;

    }
}
.form-sub-part {
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}




.form__submit-button {
    margin-bottom: 1rem;
    width : 100%;
    height: 3rem;

}
.form__submit-button:disabled {
    border: solid 1px $color-deep-grey;
    background-color: $color-light-grey;
}

.form__field {
    margin-bottom: 1.5rem;
}
.form-group {
    margin-bottom: 2rem;
}

.block-divider {
    flex : 1 1 auto;
}
mdc-radio-group {
    display: flex;
    align-items: center;
    mdc-form-field {
        margin-left: 2rem;
    }
}

.form-group__header {
    font-weight: bold;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center; 
    mdc-icon {
        width : 0.875rem;
        margin-right: 0.5rem;
    }
}

.field-autocomplete-list {
    z-index: 10000;
    background-color: white;
    position: relative;
    li:first-child {
        margin-top: 1rem;
    }
    li:last-child {
        margin-bottom: 1rem;
    }
    li:hover {
        cursor: pointer;
    }
}
