

<form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <section  class="form-sub-part">

      <div class="form-group">
        <p class="form-group__header" mdcBody2>
            <mdc-icon svgIcon="rectangle"></mdc-icon>
            PERSONAL INFORMATION</p>
        <div  formGroupName="profile" class="form__field">
        <label mdcBody2 for="first_name">
            first name
        </label>
        <input  required
                type="text" 
                id="first_name"
                formControlName="first_name">                                
        </div>
        <div  formGroupName="profile" class="form__field">
    <label mdcBody2 for="last_name">
        last name
    </label>
    <input  required
            type="text" 
            id="last_name"
            formControlName="last_name">                                
        </div>
    <div class="form__field">
        <label mdcBody2 for="country">
            Country
        </label>
        <select id="country" formControlName="country">
            <option *ngFor="let item of countryNames" value="item.val">{{item.val}}</option>
        </select>
    </div>
    <div class="form__field">
        <label mdcBody2 for="phoneNumber">
            Phone Number
        </label>
        <input 
        autocomplete="tel"  
        formControlName="phoneNumber"  
        type="tel" id="phoneNumber" >
     </div>
  </div>
    <div formGroupName="profile" class="form-group">
        <p class="form-group__header" mdcSubtitle2>
            <mdc-icon svgIcon="rectangle"></mdc-icon>
            PASSWORD CHANGE</p>

        <div formGroupName="profile" class="form__field">
            <label mdcBody2 for="password">
                    password
                </label>
    <input  
                     autocomplete="new-password"  
                     required  
                     id ="password"
                     type ="password" formControlName="password">
    </div>
    <div  formGroupName="profile" class="form__field">
            <label mdcBody2 for="confirmPassword">
                    confirm password
            </label>
    <input  
                     autocomplete="new-password"  
                     required  
                     id ="confirmPassword"
                     type ="password" 
                     formControlName="confirmPassword">
    <div  class="alert" *ngIf="accountForm.errors?.passwordNotConfirmed && (accountForm.get('profile.password').touched || accountForm.get('profile.confirmPassword').dirty)">
    <p mdcCaption >
            Passwords are not equals.
    </p>
    </div>
  </div>
  </div>
  </section>
  <section class="form-sub-part">

      <div class="form-group">
          <p class="form-group__header" mdcSubtitle2>
              <mdc-icon svgIcon="rectangle"></mdc-icon>
            COMPANY INFORMATIONS</p>


      
            <mdc-radio-group class="radio-group--gutter" formControlName="is_professional">
                <span mdcSubtitle2>Who Are you :</span>
                <span class="block-divider"></span>
                    <mdc-form-field>
                      <mdc-radio  value="true"></mdc-radio>
                      <label>Professional</label>
                    </mdc-form-field>
                    <mdc-form-field >
                            <mdc-radio  value="false"></mdc-radio>
                            <label>Private</label>
                    </mdc-form-field>
            </mdc-radio-group>

      <mdc-form-field 
          fluid 
          class="form__field__with-helper">
          <mdc-text-field  
            dense  
            formControlName="company_name" 
            outlined  
            autocomplete="organization" 
            class="form__field__text-area" 
            type ="text"   
            label="Company">
          </mdc-text-field>
          <mdc-helper-text>
              <span>
                  Insert your position in the company
              </span>
          </mdc-helper-text>
        </mdc-form-field>
      <mdc-form-field fluid class="form__field__with-helper">
          <mdc-text-field  dense formControlName="position" outlined autocomplete="organization-title" class="form__field__text-area" type ="text"   label="Position">
          </mdc-text-field>
          <mdc-helper-text>
              <span>
                  Insert your position in the company
              </span>
          </mdc-helper-text>
        </mdc-form-field> 
        <mdc-form-field fluid class="form__field__with-helper">
            <mdc-text-field  dense formControlName="activity" outlined      class="form__field__text-area" type ="text"   label="Activity">
            </mdc-text-field>
            <mdc-helper-text>
                <span>
                    Whats your field of activity , eg: Tourism , Restoration

                </span>
            </mdc-helper-text>
          </mdc-form-field> 
          <button class="form__submit-button" [disabled]="!accountForm.valid" type="submit"  mdc-button primary>Save changes</button>
        </div>


  </section>
  </form>

